Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(backfill): copy proxy-logs/traces/metrics history TimescaleDB → ClickHouse
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/backfill.rs
  crates/temps-cli/src/commands/ch_backfill_domains.rs
  crates/temps-cli/src/commands/mod.rs
Due: cargo-fmt, cargo-clippy

fix(clickhouse): data-model hardening — dedup correctness, codecs, dead schema
  Cargo.lock
  crates/temps-analytics-backend/migrations/clickhouse/0004_drop_events_5m_mv.sql
  crates/temps-analytics-backend/migrations/clickhouse/0005_drop_sessions.sql
  crates/temps-analytics-backend/migrations/clickhouse/0006_events_codecs.sql
  crates/temps-analytics-backend/src/migrations.rs
  crates/temps-metrics/migrations/clickhouse/0002_service_metrics_codecs.sql
  crates/temps-metrics/src/store/clickhouse.rs
  crates/temps-metrics/src/store/clickhouse_migrations.rs
  crates/temps-otel/migrations/clickhouse/0002_spans_codecs.sql
  crates/temps-otel/src/storage/clickhouse/migrations.rs
  crates/temps-proxy/migrations/clickhouse/0002_proxy_logs_codecs.sql
  crates/temps-proxy/src/storage/clickhouse.rs
  crates/temps-proxy/src/storage/clickhouse_migrations.rs
Due: cargo-fmt, cargo-clippy

style: cargo fmt for backfill + metrics label changes
  crates/temps-cli/src/commands/backfill.rs
  crates/temps-cli/src/commands/ch_backfill_domains.rs
  crates/temps-cli/src/commands/mod.rs
  crates/temps-metrics/src/store/clickhouse.rs
Due: cargo-fmt, cargo-clippy

fix(backfill): hide TEMPS_DATABASE_URL env value in --help
  crates/temps-cli/src/commands/backfill.rs
Due: cargo-fmt, cargo-clippy

feat(migrate): add --dry-run, confirmation gate, and live per-migration progress
  crates/temps-cli/src/commands/migrate.rs
  crates/temps-database/src/connection.rs
  crates/temps-database/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(web): restore chart tooltips by un-wrapping ChartTooltip
  web/src/components/ui/chart.tsx
Due: none

fix(web): stop showing the OTel setup wizard when a window is empty
  web/src/pages/TracesList.tsx
Due: none

chore: update CHANGELOG for migrate streaming and chart tooltip fix
  CHANGELOG.md
Due: changelog-format

fix(security): bump vitest to 4.1.0, aiohttp to 3.14.0, pingora to 0.8.1
  Cargo.lock
  sdks/node/bun.lock
  sdks/node/packages/analytics-core/package.json
  sdks/node/packages/blob/package.json
  sdks/node/packages/kv/package.json
  sdks/node/packages/node-sdk/package.json
  sdks/node/packages/plugin-sdk/package.json
  sdks/node/packages/react-analytics/package.json
  sdks/node/packages/sandbox/package.json
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

fix(git): ignore null-SHA push events to prevent failed 0000000 deployments
  crates/temps-git/src/services/git_ops.rs
  crates/temps-git/src/services/git_provider_manager.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note null-SHA push event deployment fix
  CHANGELOG.md
Due: changelog-format

feat(console-kit): add headerActions extension slot rendered top-right in Header
  web/packages/console-kit/src/extensions.tsx
  web/packages/console-kit/src/index.ts
  web/src/components/dashboard/Header.tsx
Due: none

fix(serve): remove duplicate backup scheduler in console startup
  crates/temps-cli/src/commands/serve/console.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note headerActions slot + duplicate backup scheduler fix
  CHANGELOG.md
Due: changelog-format

feat(deployments): capture & view logs of previous deployments + security hardening
  CHANGELOG.md
  crates/temps-analytics/src/handler.rs
  crates/temps-auth/src/context.rs
  crates/temps-auth/src/permission_guard.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-entities/src/deployment_container_logs.rs
  crates/temps-entities/src/lib.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-error-tracking/src/handlers/alert_rules_handler.rs
  crates/temps-error-tracking/src/handlers/handler.rs
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/github_provider.rs
  crates/temps-git/src/services/gitlab_provider.rs
  crates/temps-migrations/src/migration/m20260609_000001_create_deployment_container_logs.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/metrics_handlers.rs
  crates/temps-proxy/src/proxy.rs
  web/src/components/deployments/DeploymentContainerLogs.tsx
  web/src/pages/DeploymentDetails.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(proxy): wake on-demand environments via in-process ForceRouteReload to fix first-request 503
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-proxy/src/on_demand.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): reload routes on empty-containers wake path; tighten reload helper + tests
  crates/temps-proxy/src/on_demand.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): add on-demand first-request 503 fix to Unreleased
  CHANGELOG.md
Due: changelog-format

fix(proxy): probe app readiness (TCP) before completing on-demand wake
  CHANGELOG.md
  crates/temps-cli/src/commands/serve/proxy.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(proxy): probe lowest published port deterministically; document local scope
  CHANGELOG.md
  crates/temps-cli/src/commands/serve/proxy.rs
Due: changelog-format, cargo-fmt, cargo-clippy

docs(changelog): record on-demand multi-node node_id filter (#126) and 503 info-leak fix (#127)
  CHANGELOG.md
Due: changelog-format

fix(web): improve runtime History log filter layout and multi-day timestamps
  web/src/components/runtime-logs/history-log-viewer.tsx
Due: none

fix(logs): filter history logs by deployment id (uuid -> i32)
  crates/temps-entities/src/log_chunks.rs
  crates/temps-entities/src/log_events.rs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-log-aggregator/src/parser.rs
  crates/temps-log-aggregator/src/services/collector.rs
  crates/temps-log-aggregator/src/services/metadata.rs
  crates/temps-log-aggregator/src/services/search.rs
  crates/temps-log-aggregator/src/types.rs
  crates/temps-migrations/src/migration/m20260611_000001_change_log_deploy_id_to_integer.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/runtime-logs/history-log-viewer.tsx
  web/src/hooks/useLogHistory.ts
Due: cargo-fmt, cargo-clippy

docs(changelog): record history log filter-by-deployment feature
  CHANGELOG.md
Due: changelog-format

fix(deployments): deploy environments uncapped by default, limits opt-in
  CHANGELOG.md
  crates/temps-deployer/src/docker.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-deployments/src/services/services.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(deployments): custom health-check path (.temps.yaml override + monitor sync)
  apps/temps-cli/src/commands/deploy/deploy-image.ts
  apps/temps-cli/src/commands/deploy/deploy-local-image.ts
  apps/temps-cli/src/commands/deploy/deploy-static.ts
  apps/temps-cli/src/commands/deploy/index.ts
  apps/temps-cli/src/commands/monitors/index.ts
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-entities/src/deployments.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note telemetry, custom health-check path, Postgres shm_size_mb
  CHANGELOG.md
Due: changelog-format

feat(telemetry-api): anonymous country geolocation + dedicated DB
  telemetry-api/.gitignore
  telemetry-api/Dockerfile
  telemetry-api/bun.lock
  telemetry-api/migrations/002_add_country.sql
  telemetry-api/package.json
  telemetry-api/src/db/pool.ts
  telemetry-api/src/geo.ts
  telemetry-api/src/index.ts
  telemetry-api/src/routes/events.ts
  telemetry-api/src/routes/stats.ts
Due: none

Treat deploy cancellations and 4xx health noise correctly
  crates/temps-core/src/workflow_executor.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/storage/clickhouse.rs
Due: cargo-fmt, cargo-clippy

docs(adr): ADR-018 on-demand HTTP-01 TLS issuance (Accepted)
  docs/adr/018-on-demand-http01-tls.md
Due: none

feat(tls): on-demand HTTP-01 certificate issuance (ADR-018)
  crates/temps-cli/src/commands/domain.rs
  crates/temps-cli/src/commands/proxy.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-cli/src/commands/serve/on_demand_cert.rs
  crates/temps-cli/src/commands/serve/proxy.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-domains/src/domain_service.rs
  crates/temps-domains/src/handlers/domain_handler.rs
  crates/temps-domains/src/handlers/types.rs
  crates/temps-entities/src/domains.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/on_demand_cert_attempts.rs
  crates/temps-entities/src/prelude.rs
  crates/temps-migrations/src/migration/m20260618_000001_create_on_demand_cert_attempts.rs
  crates/temps-migrations/src/migration/m20260618_000002_add_domains_on_demand_backoff.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-proxy/src/config.rs
  crates/temps-proxy/src/lib.rs
  crates/temps-proxy/src/on_demand_cert.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/server.rs
  crates/temps-routes/src/route_table.rs
  crates/temps-routes/src/wildcard_matcher.rs
  web/src/App.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/lib/on-demand-certs.ts
  web/src/pages/Certificates.tsx
Due: cargo-fmt, cargo-clippy

feat(tls): upgrade instant-acme 0.7.2 -> 0.8.5; real Pebble HTTP-01 + DNS-01 tests
  Cargo.lock
  Cargo.toml
  crates/temps-domains/Cargo.toml
  crates/temps-domains/src/domain_service.rs
  crates/temps-domains/src/tls/providers.rs
Due: cargo-fmt, cargo-clippy

fix(tls): harden ACME custom-client path per security review
  crates/temps-domains/src/tls/providers.rs
Due: cargo-fmt, cargo-clippy

fix(tls): keep serving valid cert when renewal is cancelled or fails
  CHANGELOG.md
  crates/temps-cli/src/commands/domain.rs
  crates/temps-cli/src/commands/setup.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-domains/src/domain_service.rs
  crates/temps-entities/src/domains.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/tls_cert_loader.rs
  docs/adr/019-openobserve-telemetry-forwarding.md
  web/src/components/dashboard/GettingStartedCard.tsx
  web/src/components/domains/DomainSelector.tsx
  web/src/components/domains/DomainsManagement.tsx
  web/src/components/repositories/RepositoryList.tsx
  web/src/lib/domain-status.ts
  web/src/pages/DomainDetail.tsx
  web/src/pages/Projects.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(migrations): scope idempotent column-add guards to current schema
  CHANGELOG.md
  crates/temps-migrations/src/migration/m20260601_000002_add_monitoring_settings.rs
  crates/temps-migrations/src/migration/m20260601_000005_add_service_id_to_api_keys.rs
  crates/temps-migrations/src/migration/m20260601_000010_add_service_id_to_alarms.rs
Due: changelog-format, cargo-fmt, cargo-clippy

perf(config): cache AppSettings in ConfigService to keep the proxy off the DB
  crates/temps-config/src/service.rs
Due: cargo-fmt, cargo-clippy

feat(config): invalidate settings cache immediately via Postgres LISTEN/NOTIFY
  Cargo.lock
  crates/temps-config/Cargo.toml
  crates/temps-config/src/plugin.rs
  crates/temps-config/src/service.rs
  crates/temps-migrations/src/migration/m20260619_000001_add_settings_change_trigger.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

feat(web): redesign first-run onboarding + thin disk banner; fix deploy URL port
  crates/temps-deployments/src/services/services.rs
  crates/temps-environments/src/services/environment_service.rs
  web/src/App.tsx
  web/src/components/alerts/DiskSpaceAlert.tsx
  web/src/components/alerts/ExternalConnectivityAlert.tsx
  web/src/components/command/CommandPalette.tsx
  web/src/components/dashboard/ConnectionList.tsx
  web/src/components/dashboard/FirstProjectOnboarding.tsx
  web/src/components/dashboard/GettingStartedCard.tsx
  web/src/components/dashboard/InlineGitConnect.tsx
  web/src/components/domains/DNSConfigurationHelper.tsx
  web/src/components/project/GitImportClone.tsx
  web/src/hooks/useActivationSignals.ts
  web/src/pages/ExternalConnectivitySetup.tsx
  web/src/pages/GitSources.tsx
  web/src/pages/Projects.tsx
Due: cargo-fmt, cargo-clippy

test(e2e): verify all repo example projects deploy & serve
  apps/temps-e2e/README.md
  apps/temps-e2e/bun.lock
  apps/temps-e2e/package.json
  apps/temps-e2e/src/commands/examples.ts
  apps/temps-e2e/src/commands/load.ts
  apps/temps-e2e/src/commands/scenario.ts
  apps/temps-e2e/src/index.ts
  apps/temps-e2e/src/lib/client.ts
  apps/temps-e2e/src/lib/examples.ts
  apps/temps-e2e/src/lib/flows.ts
  apps/temps-e2e/src/lib/load.ts
  apps/temps-e2e/tsconfig.json
Due: none
