Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(sdk): add feature flag client to @temps-sdk/node-sdk
  sdks/node/packages/node-sdk/src/flags/client.ts
  sdks/node/packages/node-sdk/src/flags/evaluate.test.ts
  sdks/node/packages/node-sdk/src/flags/evaluate.ts
  sdks/node/packages/node-sdk/src/flags/index.ts
  sdks/node/packages/node-sdk/src/flags/types.ts
  sdks/node/packages/node-sdk/src/index.ts
Due: none

feat(cli): add temps flags commands
  apps/temps-cli/docs/CLI.md
  apps/temps-cli/docs/CLI.mdx
  apps/temps-cli/openapi.json
  apps/temps-cli/scripts/generate-docs.ts
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/cli.ts
  apps/temps-cli/src/commands/flags/index.ts
Due: none

docs(cli): use the bunx invocation in teams command hints
  apps/temps-cli/src/commands/teams/index.ts
Due: none

feat(web): add feature flags console UI
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/flags/CreateFlagDialog.tsx
  web/src/components/project/flags/FlagDetailSheet.tsx
  web/src/components/project/flags/FlagValueField.tsx
  web/src/components/project/flags/ProjectFeatureFlags.tsx
  web/src/components/project/flags/flag-value.ts
  web/src/pages/ProjectDetail.tsx
Due: none

docs(flags): add ADR-034 and feature documentation
  docs/adr/034-feature-flags.md
  docs/features/feature-flags/page.mdx
Due: none

docs(flags): record the R4.5 decision on per-environment gating
  docs/adr/034-feature-flags.md
Due: none

fix(teams): close privilege escalation via self-served access grants
  crates/temps-analytics-session-replay/src/handlers/handler.rs
  crates/temps-analytics-session-replay/src/services/service.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-teams/src/checker.rs
  crates/temps-teams/src/handlers/project_access.rs
  crates/temps-teams/src/handlers/teams.rs
  crates/temps-teams/src/service.rs
Due: cargo-fmt, cargo-clippy

feat(flags): add last_evaluated_at backed by SDK-reported exposure
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/commands/flags/index.ts
  crates/temps-entities/src/feature_flags.rs
  crates/temps-flags/src/handlers/handler.rs
  crates/temps-flags/src/handlers/types.rs
  crates/temps-flags/src/services/flag_service.rs
  crates/temps-migrations/src/migration/m20260803_000001_add_flag_last_evaluated_at.rs
  crates/temps-migrations/src/migration/mod.rs
  docs/adr/034-feature-flags.md
  docs/features/feature-flags/page.mdx
  sdks/node/packages/node-sdk/src/flags/client.ts
  sdks/node/packages/node-sdk/src/flags/exposure.test.ts
  sdks/node/packages/node-sdk/src/flags/types.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/flags/FlagDetailSheet.tsx
Due: cargo-fmt, cargo-clippy

feat(providers): reset pg_stat_statements statistics
  CHANGELOG.md
  crates/temps-providers/src/handlers/pg_stat_statements_handlers.rs
  crates/temps-providers/src/pg_stat_statements.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/ServiceQueryPerformance.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): pin pg statistics reset signature
  crates/temps-providers/src/pg_stat_statements.rs
Due: cargo-fmt, cargo-clippy

fix(providers): resolve extension-owned reset function
  crates/temps-providers/src/pg_stat_statements.rs
Due: cargo-fmt, cargo-clippy

fix(otel): backtest static thresholds too, so a proposed rule can be checked
  crates/temps-ai-api-tools/src/index.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-otel/src/handlers/metric_alert_handler.rs
  crates/temps-otel/src/services/anomaly_preview.rs
Due: cargo-fmt, cargo-clippy

feat(ai): require a backtest before proposing an alert, and bound turns by progress not step count
  crates/temps-ai-chat/src/providers/alert_suggest.rs
  crates/temps-ai-chat/src/service.rs
Due: cargo-fmt, cargo-clippy

feat(presets): replace the nixpacks build engine with autopack
  .github/workflows/starters.yml
  Cargo.lock
  Cargo.toml
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-entities/src/preset.rs
  crates/temps-presets/Cargo.toml
  crates/temps-presets/src/autopack_preset.rs
  crates/temps-presets/src/go_preset.rs
  crates/temps-presets/src/java_preset.rs
  crates/temps-presets/src/mod.rs
  crates/temps-presets/src/nixpacks_preset.rs
  crates/temps-presets/src/python_preset.rs
  crates/temps-presets/src/rust_preset.rs
  crates/temps-presets/tests/starters.rs
Due: cargo-fmt, cargo-clippy

fix(sandbox): harden preview share grants
  crates/temps-core/src/lib.rs
  crates/temps-core/src/preview_grant.rs
  crates/temps-proxy/src/handler/preview_wall.rs
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/handlers/mod.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/plugin.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  crates/temps-sandbox/tests/vercel_compat.rs
  web/e2e/authenticated/preview-share-link.spec.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

refactor(web): move project setup into compact side rail
  web/src/components/project/ProjectOverview.tsx
Due: none

fix(web): add icons and prioritize projects in command search
  CHANGELOG.md
  web/e2e/anonymous/command-palette.spec.ts
  web/src/components/command/CommandPalette.tsx
Due: changelog-format

refactor(web): move project setup into sidebar
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/ProjectOverview.tsx
Due: none

fix(ci): point the starters job at the branch that carries them
  .github/workflows/starters.yml
  crates/temps-presets/tests/starters.rs
Due: cargo-fmt, cargo-clippy

fix(otel): bound ingest memory under exporter bursts
  CHANGELOG.md
  Cargo.lock
  crates/temps-otel/Cargo.toml
  crates/temps-otel/src/error.rs
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/ingest/auth.rs
  crates/temps-otel/src/ingest/decode.rs
  crates/temps-otel/src/services/otel_service.rs
Due: changelog-format, cargo-fmt, cargo-clippy

test(ci): gate on rust/actix, which passes
  .github/workflows/starters.yml
Due: none

ci: drop the temporary starters branch pin
  .github/workflows/starters.yml
Due: none

fix(proxy): keep backend latency for streaming sessions
  crates/temps-proxy/src/metrics.rs
  crates/temps-proxy/src/proxy.rs
  web/src/pages/ProxyMetrics.tsx
Due: cargo-fmt, cargo-clippy

fix(teams): describe roles by what they actually restrict
  apps/temps-cli/src/commands/teams/index.ts
  web/src/components/project/settings/ProjectAccessSettings.tsx
  web/src/pages/TeamDetail.tsx
Due: none

fix(flags): update deployment-token permission tests for FlagsRead
  crates/temps-deployments/src/services/deployment_token_service.rs
Due: cargo-fmt, cargo-clippy

feat(telemetry): classify deployment failures privately
  crates/temps-agents/src/services/config_service.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-ai-chat/src/handlers.rs
  crates/temps-ai-chat/src/pending_actions.rs
  crates/temps-ai-chat/src/providers/project.rs
  crates/temps-ai-chat/src/providers/repo_tools.rs
  crates/temps-ai-chat/src/service.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-entities/src/projects.rs
  crates/temps-git/src/handlers/bitbucket.rs
  crates/temps-git/src/handlers/generic.rs
  crates/temps-import-caprover/src/importer.rs
  crates/temps-import-coolify/src/importer.rs
  crates/temps-import-docker/src/importer.rs
  crates/temps-import-dokploy/src/importer.rs
  crates/temps-import-kamal/src/importer.rs
  crates/temps-import-kubernetes/src/importer.rs
  crates/temps-import-portainer/src/importer.rs
  crates/temps-migrations/src/migration/m20260803_000001_add_template_slug_to_projects.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-notifications/src/vulnerability_notifications.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-projects/src/services/types.rs
Due: cargo-fmt, cargo-clippy

feat(auth): add sensitive action verification
  crates/temps-auth/src/apikey_handler.rs
  crates/temps-auth/src/apikey_plugin.rs
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/context.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/lib.rs
  crates/temps-auth/src/middleware.rs
  crates/temps-auth/src/plugin.rs
  crates/temps-auth/src/sensitive_action.rs
  crates/temps-auth/src/state.rs
  crates/temps-auth/src/temps_middleware.rs
  crates/temps-auth/src/types.rs
  crates/temps-auth/src/user_service.rs
  crates/temps-auth/tests/context_tests.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/sensitive_action.rs
  crates/temps-entities/src/sessions.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-environments/src/handlers/types.rs
  crates/temps-environments/src/plugin.rs
  crates/temps-git/src/handlers/repositories.rs
  crates/temps-migrations/src/migration/m20260803_000001_add_step_up_expires_at_to_sessions.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-migrations/tests/migration_tests.rs
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/auth/SensitiveActionVerificationDialog.tsx
  web/src/components/project/settings/environments/EnvironmentDetail.tsx
  web/src/hooks/useSensitiveActionVerification.tsx
  web/src/lib/sensitiveActionProblem.test.ts
  web/src/lib/sensitiveActionProblem.ts
  web/src/pages/ApiKeyCreate.tsx
Due: cargo-fmt, cargo-clippy

fix(auth): complete sensitive action verification contract
  crates/temps-auth/src/apikey_handler.rs
  crates/temps-auth/src/sensitive_action.rs
  crates/temps-environments/src/handlers/handler.rs
  web/src/api/client/types.gen.ts
  web/src/components/auth/SensitiveActionVerificationDialog.tsx
Due: cargo-fmt, cargo-clippy

fix(presets): stop the Nixpacks TOML validation error echoing the config
  crates/temps-presets/src/nixpacks_preset.rs
Due: cargo-fmt, cargo-clippy

fix(ai): bound a turn by memory and time, not only by step count
  crates/temps-ai-chat/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(sandbox): only reap volumes no live sandbox claims
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/sandbox/firecracker.rs
  crates/temps-agents/src/sandbox/mod.rs
  crates/temps-agents/src/sandbox/routing.rs
  crates/temps-sandbox/src/plugin.rs
  crates/temps-sandbox/src/services/expiration_sweeper.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  docs/adr/029-firecracker-sandbox-backend.md
Due: cargo-fmt, cargo-clippy

fix(core): migrate encryption to aes-gcm 0.11
  crates/temps-core/src/cookie_crypto.rs
  crates/temps-core/src/encryption.rs
Due: cargo-fmt, cargo-clippy

fix(telemetry): bound template deployment context
  crates/temps-core/src/templates.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/services/project.rs
Due: cargo-fmt, cargo-clippy

fix(git): align jwt key type with octocrab
  Cargo.lock
  crates/temps-git/Cargo.toml
Due: none

fix(web): patch brace-expansion advisory
  web/bun.lock
  web/package.json
Due: none

fix(teams): decide grant authorization under a row lock, uncached
  crates/temps-teams/src/checker.rs
  crates/temps-teams/src/error.rs
  crates/temps-teams/src/handlers/project_access.rs
  crates/temps-teams/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(ai,otel): close findings from the independent security audit
  crates/temps-ai-api-tools/src/cli.rs
  crates/temps-ai-chat/src/service.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-otel/src/handlers/metric_alert_handler.rs
  crates/temps-otel/src/services/anomaly_preview.rs
Due: cargo-fmt, cargo-clippy

fix(telemetry): track actual template provenance
  crates/temps-core/src/templates.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-entities/src/projects.rs
  crates/temps-migrations/src/migration/m20260803_000001_add_template_slug_to_projects.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/services/types.rs
Due: cargo-fmt, cargo-clippy

fix(teams): report an unknown team plainly on grant
  crates/temps-teams/src/service.rs
Due: cargo-fmt, cargo-clippy
