Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

fix(web): make DNS records table horizontally scroll on mobile
  web/src/components/email/EmailDomainsManagement.tsx
Due: none

feat(email): add provider detail page with domains and delivery tracking setup
  crates/temps-email/src/handlers/domains.rs
  crates/temps-email/src/handlers/types.rs
  docs/features/email/page.mdx
  docs/howto/set-up-email-event-tracking/page.mdx
  web/src/App.tsx
  web/src/api/client/types.gen.ts
  web/src/components/email/EmailProvidersManagement.tsx
  web/src/components/email/sharedUtils.ts
  web/src/pages/EmailProviderDetail.tsx
Due: cargo-fmt, cargo-clippy

feat(deployments): preview tag commits before deployment
  crates/temps-git/src/services/github_provider.rs
  web/src/components/deployments/RedeploymentModal.tsx
Due: cargo-fmt, cargo-clippy

fix(deployments): bind tag deploys to verified commits
  Cargo.lock
  crates/temps-deployments/src/jobs/download_repo.rs
  crates/temps-git/Cargo.toml
  crates/temps-git/src/handlers/repositories.rs
  crates/temps-git/src/services/cache.rs
  crates/temps-git/src/services/github_provider.rs
  web/src/components/deployments/RedeploymentModal.tsx
Due: cargo-fmt, cargo-clippy

fix(email): correct SES IAM action namespace from sesv2: to ses:
  docs/howto/set-up-email-event-tracking/page.mdx
  web/src/components/email/EmailTrackingSetup.tsx
Due: none

feat(telemetry): add deploy_cancelled event
  crates/temps-core/src/telemetry.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
Due: cargo-fmt, cargo-clippy

fix(audit): keep audit history when a user account is deleted
  crates/temps-audit/Cargo.toml
  crates/temps-audit/src/handlers/types.rs
  crates/temps-audit/src/services/audit_service.rs
  crates/temps-entities/src/audit_logs.rs
  crates/temps-migrations/src/migration/m20260720_000001_audit_logs_keep_history_on_user_delete.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

feat(web): add metrics storage backend selector to monitoring settings
  web/src/pages/settings/MonitoringSettingsPage.tsx
Due: none

fix(config): stop requiring monitoring.clickhouse_url when store is ClickHouse
  crates/temps-config/src/handler.rs
Due: cargo-fmt, cargo-clippy

fix(config): abort settings save when sensitive-field preservation fails
  crates/temps-config/src/handler.rs
  crates/temps-core/src/app_settings.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): resolve request-log detail by request_id across storage backends
  crates/temps-proxy/src/handler/proxy_logs.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/storage/clickhouse.rs
  crates/temps-proxy/src/storage/mod.rs
  crates/temps-proxy/src/storage/timescaledb.rs
  web/src/api/client/index.ts
  web/src/api/client/types.gen.ts
  web/src/components/logs/ProxyLogsList.tsx
  web/src/components/proxy-logs/ProxyLogDetail.tsx
  web/src/components/proxy-logs/ProxyLogsDataTable.tsx
  web/src/pages/ProxyLogDetail.tsx
  web/src/pages/RequestLogDetail.tsx
  web/src/pages/RequestLogsList.tsx
Due: cargo-fmt, cargo-clippy

fix(proxy): harden request-id lookup and fix AI crawler feed links
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/storage/clickhouse.rs
  web/src/components/analytics/AiCrawlerActivityFeed.tsx
Due: cargo-fmt, cargo-clippy

fix(proxy): require authentication on all proxy-log endpoints
  crates/temps-proxy/src/handler/proxy_logs.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

fix(proxy): stop leaking ClickHouse error detail in 500 responses
  crates/temps-proxy/src/handler/proxy_logs.rs
Due: cargo-fmt, cargo-clippy

fix(audit): make destructive down() migration atomic and document data retention policy
  crates/temps-migrations/src/migration/m20260720_000001_audit_logs_keep_history_on_user_delete.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to v0.1.0-beta.51
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: changelog-format

feat(audit): add PII scrub endpoint for audit log data payloads
  Cargo.lock
  crates/temps-audit/Cargo.toml
  crates/temps-audit/src/audit.rs
  crates/temps-audit/src/handlers/handlers.rs
  crates/temps-audit/src/handlers/types.rs
  crates/temps-audit/src/lib.rs
  crates/temps-audit/src/services/audit_service.rs
  crates/temps-auth/src/permissions.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

fix(web): override brace-expansion and js-yaml to patched versions
  web/bun.lock
  web/package.json
Due: none

fix(audit): record scrub start before mutating rows and harden scrub input
  crates/temps-audit/src/audit.rs
  crates/temps-audit/src/handlers/handlers.rs
  crates/temps-audit/src/services/audit_service.rs
  crates/temps-auth/src/permissions.rs
Due: cargo-fmt, cargo-clippy

feat(audit): support events whose actor has no resolvable account
  crates/temps-audit/src/services/audit_service.rs
  crates/temps-core/src/audit.rs
Due: cargo-fmt, cargo-clippy

test(audit): cover optional actor persistence
  crates/temps-audit/src/services/audit_service.rs
Due: cargo-fmt, cargo-clippy

refactor(audit): use one optional actor id contract
  crates/temps-agents/src/handlers/autofixer.rs
  crates/temps-agents/src/handlers/config.rs
  crates/temps-agents/src/handlers/definitions.rs
  crates/temps-agents/src/handlers/secrets.rs
  crates/temps-agents/src/handlers/trigger.rs
  crates/temps-agents/src/handlers/workflows.rs
  crates/temps-ai-chat/src/audit.rs
  crates/temps-audit/src/services/audit_service.rs
  crates/temps-auth/src/audit.rs
  crates/temps-backup/src/handlers/audit.rs
  crates/temps-blob/src/handlers/audit.rs
  crates/temps-config/src/handler.rs
  crates/temps-core/src/audit.rs
  crates/temps-deployments/src/handlers/audit.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-domains/src/handlers/domain_handler.rs
  crates/temps-email/src/handlers/audit.rs
  crates/temps-environments/src/handlers/audit.rs
  crates/temps-error-tracking/src/handlers/audit.rs
  crates/temps-git/src/handlers/audit.rs
  crates/temps-kv/src/handlers/audit.rs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-monitoring/src/handlers/alarm_handlers.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-otel/src/handlers/audit.rs
  crates/temps-projects/src/handlers/audit.rs
  crates/temps-providers/src/handlers/audit.rs
  crates/temps-revenue/src/handlers/audit.rs
  crates/temps-webhooks/src/handlers.rs
Due: cargo-fmt, cargo-clippy

feat(audit): record failed logins and rejected MFA codes
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/handlers.rs
  web/src/components/audit/AuditLogItem.tsx
  web/src/pages/AuditLogs.tsx
Due: cargo-fmt, cargo-clippy

fix(auth): preserve audit failure integrity
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/handlers.rs
  web/src/components/audit/AuditLogItem.tsx
  web/src/pages/AuditLogs.tsx
Due: cargo-fmt, cargo-clippy

fix(web): ignore spurious empty-string onValueChange from Radix Select
  web/src/components/ui/select.tsx
Due: none

chore: bump version to v0.1.0-beta.53
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: changelog-format

feat(otel): store cross-project trace refs in ClickHouse when enabled
  crates/temps-cli/src/commands/backfill.rs
  crates/temps-cli/src/commands/ch_backfill_domains.rs
  crates/temps-otel/migrations/clickhouse/0006_trace_refs.sql
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/cross_project.rs
  crates/temps-otel/src/storage/clickhouse/migrations.rs
  crates/temps-otel/src/storage/clickhouse/mod.rs
  crates/temps-otel/src/storage/mod.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/src/test_support.rs
  crates/temps-otel/tests/clickhouse_storage_test.rs
  docs/adr/027-cross-project-trace-linking.md
Due: cargo-fmt, cargo-clippy

fix(otel): enforce project access on tk_-key OTel ingest (ADR-028)
  crates/temps-otel/src/ingest/auth.rs
  crates/temps-otel/src/plugin.rs
Due: cargo-fmt, cargo-clippy

fix(web): bump rrweb-player to 2.1.1 (broken 2.1.0 dist → blank replays)
  web/bun.lock
  web/package.json
Due: none

fix(web): stop analytics/errors setup-redirect from breaking project tour
  web/src/components/project/ProjectAnalytics.tsx
  web/src/components/project/ProjectTour.tsx
  web/src/components/projects/ErrorTracking.tsx
Due: none

feat(agents): configurable AI autofix runs with per-provider turn limits
  crates/temps-agents/src/ai_cli/mod.rs
  crates/temps-agents/src/handlers/ai_providers.rs
  crates/temps-agents/src/handlers/autofixer.rs
  crates/temps-agents/src/handlers/mod.rs
  crates/temps-agents/src/handlers/runs.rs
  crates/temps-agents/src/services/autofixer.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-agents/src/services/run_service.rs
  crates/temps-config/src/handler.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-entities/src/agent_runs.rs
  crates/temps-migrations/src/migration/m20260724_000001_add_run_config_to_agent_runs.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/api/client/index.ts
  web/src/api/client/types.gen.ts
  web/src/components/agents/AutopilotRunDetail.tsx
  web/src/components/autofixer/AutofixRedirect.tsx
  web/src/components/autofixer/AutofixRunConfigForm.tsx
  web/src/pages/agent-sandbox/AgentSandboxProviderDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(agents): harden autofix run config against injection and secret leakage
  crates/temps-agents/src/handlers/ai_providers.rs
  crates/temps-agents/src/handlers/autofixer.rs
  crates/temps-agents/src/services/autofixer.rs
  crates/temps-agents/src/services/executor.rs
Due: cargo-fmt, cargo-clippy

fix(agents): address review — fail loud on opencode prompt-staging, tighten secret scrub
  crates/temps-agents/src/services/autofixer.rs
Due: cargo-fmt, cargo-clippy

fix(agents): stop dumping raw CLI JSONL as autofix error messages
  crates/temps-agents/src/ai_cli/claude.rs
  crates/temps-agents/src/ai_cli/codex.rs
  crates/temps-agents/src/ai_cli/mod.rs
  crates/temps-agents/src/ai_cli/opencode.rs
  crates/temps-agents/src/services/autofixer.rs
  crates/temps-agents/src/services/executor.rs
  web/src/components/agents/AutopilotRunDetail.tsx
  web/src/components/autofixer/AutofixButton.tsx
Due: cargo-fmt, cargo-clippy

feat(sandbox): track agent-run sandboxes as first-class sandbox items
  crates/temps-agents/src/handlers/autofixer.rs
  crates/temps-agents/src/handlers/trigger.rs
  crates/temps-agents/src/plugin.rs
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/sandbox/firecracker.rs
  crates/temps-agents/src/sandbox/local.rs
  crates/temps-agents/src/sandbox/managed.rs
  crates/temps-agents/src/sandbox/mod.rs
  crates/temps-agents/src/services/autofixer.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-agents/src/services/run_service.rs
  crates/temps-agents/src/services/sandbox_registry.rs
  crates/temps-agents/tests/firecracker_e2e.rs
  crates/temps-entities/src/agent_runs.rs
  crates/temps-entities/src/sandboxes.rs
  crates/temps-migrations/src/migration/m20260725_000001_sandboxes_agent_run_link.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/plugin.rs
  crates/temps-sandbox/src/services/agent_run_bridge.rs
  crates/temps-sandbox/src/services/expiration_sweeper.rs
  crates/temps-sandbox/src/services/mod.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  crates/temps-sandbox/tests/vercel_compat.rs
Due: cargo-fmt, cargo-clippy

feat(email): choose provider type on a dedicated page before configuring
  web/src/App.tsx
  web/src/components/email/EmailProvidersManagement.tsx
  web/src/index.tsx
  web/src/pages/AddEmailProvider.tsx
Due: none

feat(email): full-width type cards, top-left back link, and N shortcut
  web/src/components/email/EmailProvidersManagement.tsx
  web/src/pages/AddEmailProvider.tsx
Due: none

feat(email): show the N shortcut badge on the Add Provider button
  web/src/components/email/EmailProvidersManagement.tsx
Due: none

refactor(email): apply PR review polish to the add-provider flow
  web/src/components/email/EmailProvidersManagement.tsx
  web/src/components/email/sharedUtils.ts
  web/src/pages/AddEmailProvider.tsx
Due: none

feat(import): add Kubernetes importer with cost and overprovisioning analysis
  Cargo.lock
  Cargo.toml
  crates/temps-import-docker/src/importer.rs
  crates/temps-import-kubernetes/Cargo.toml
  crates/temps-import-kubernetes/src/client.rs
  crates/temps-import-kubernetes/src/cluster.rs
  crates/temps-import-kubernetes/src/cost.rs
  crates/temps-import-kubernetes/src/error.rs
  crates/temps-import-kubernetes/src/importer.rs
  crates/temps-import-kubernetes/src/kubeconfig.rs
  crates/temps-import-kubernetes/src/lib.rs
  crates/temps-import-kubernetes/src/model.rs
  crates/temps-import-kubernetes/src/validation.rs
  crates/temps-import-types/src/cost.rs
  crates/temps-import-types/src/importer.rs
  crates/temps-import-types/src/lib.rs
  crates/temps-import-types/src/plan.rs
  crates/temps-import/src/handlers/types.rs
  crates/temps-import/src/plugin.rs
  crates/temps-import/src/services/orchestrator.rs
Due: cargo-fmt, cargo-clippy
