Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

chore(temps-cli): bump version to 0.1.28
  apps/temps-cli/package.json
Due: none

fix(temps-cli): stream full docker build log instead of one spinner line
  apps/temps-cli/src/commands/deploy/deploy-local-image.ts
Due: none

feat(deployments): rebuild from source on rollback for git projects
  crates/temps-agents/src/services/executor.rs
  crates/temps-core/src/jobs.rs
  crates/temps-deployments/src/services/job_processor.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-git/src/services/git_provider_manager.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-queue/src/queue.rs
  crates/temps-queue/src/subscriber.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note rollback rebuild-from-source for git projects
  CHANGELOG.md
Due: changelog-format

docs(changelog): note CLI per-instance default, static deploy, build-log streaming
  CHANGELOG.md
Due: changelog-format

docs(agents): document changelog CI gate and skip-changelog label
  AGENTS.md
Due: none

fix(deployments): reuse local image on rollback when present, rebuild only when gone
  CHANGELOG.md
  crates/temps-deployments/src/services/services.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(templates): one-click demo deploy for activation (no Git account)
  crates/temps-core/src/telemetry.rs
  crates/temps-core/src/templates.rs
  crates/temps-core/templates.yaml
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/templates.rs
  web/src/api/client/types.gen.ts
  web/src/components/dashboard/FirstProjectOnboarding.tsx
  web/src/components/templates/TemplateConfigurator.tsx
Due: cargo-fmt, cargo-clippy

feat(templates): deploy demos from a prebuilt image (no build)
  crates/temps-core/src/jobs.rs
  crates/temps-core/src/templates.rs
  crates/temps-core/templates.yaml
  crates/temps-deployments/src/services/job_processor.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/templates.rs
  web/src/api/client/types.gen.ts
  web/src/components/templates/TemplateConfigurator.tsx
Due: cargo-fmt, cargo-clippy

fix(templates): execute image-deploy workflow after planning jobs
  crates/temps-deployments/src/services/job_processor.rs
Due: cargo-fmt, cargo-clippy

fix(templates): redeploy docker_image projects via deploy_from_image
  web/src/components/deployments/RedeploymentModal.tsx
  web/src/components/project/ProjectDeployments.tsx
  web/src/pages/DeploymentDetails.tsx
Due: none

fix(error-tracking): preserve scheme + port in generated Sentry DSN
  crates/temps-error-tracking/src/sentry/dsn_service.rs
Due: cargo-fmt, cargo-clippy

fix(templates): pass imageRef to the main deployments modal too
  web/src/components/project/ProjectDeployments.tsx
Due: none

docs(changelog): add one-click demo deploy entry (#157)
  CHANGELOG.md
Due: changelog-format

fix(web): wrap long values in trace span detail panel
  web/src/pages/TraceDetail.tsx
Due: none

feat(notifications): add Cloudflare Email Sending provider
  crates/temps-notifications/src/handlers.rs
  crates/temps-notifications/src/services.rs
  web/src/components/monitoring/ProviderForm.tsx
  web/src/components/monitoring/ProvidersManagement.tsx
  web/src/components/monitoring/schemas.ts
  web/src/pages/AddNotificationProvider.tsx
  web/src/pages/EditNotificationProvider.tsx
Due: cargo-fmt, cargo-clippy

docs: add local build prerequisites
  CONTRIBUTING.md
  docs/installation/page.mdx
Due: none

docs: add changelog entry for local build prerequisites
  CHANGELOG.md
Due: changelog-format

docs(changelog): note Cloudflare Email Sending notification provider
  CHANGELOG.md
Due: changelog-format

test(notifications): add wiremock integration tests for Cloudflare provider
  Cargo.lock
  crates/temps-notifications/Cargo.toml
  crates/temps-notifications/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(notifications): align Cloudflare provider with the real API contract
  crates/temps-notifications/src/services.rs
Due: cargo-fmt, cargo-clippy

docs(notifications): correct Cloudflare api_token masking comment
  crates/temps-notifications/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(notifications): disambiguate update_email_provider operationId
  crates/temps-notifications/src/handlers.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/monitoring/ProvidersManagement.tsx
  web/src/pages/EditNotificationProvider.tsx
Due: cargo-fmt, cargo-clippy

fix(deployer): validate inline compose overrides
  CHANGELOG.md
  Cargo.lock
  crates/temps-deployer/Cargo.toml
  crates/temps-deployer/src/compose.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(deployments): enforce container exec scope
  CHANGELOG.md
  crates/temps-deployments/src/handlers/container_exec.rs
  crates/temps-deployments/src/services/services.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(deployer): prevent compose conflict container deletion
  CHANGELOG.md
  crates/temps-deployer/src/compose.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(edge): stop forwarding edge token on asset misses
  CHANGELOG.md
  crates/temps-edge/src/proxy.rs
Due: changelog-format, cargo-fmt, cargo-clippy

test(providers): isolate lifecycle tests' ports and container names
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note provider lifecycle test isolation (#171)
  CHANGELOG.md
Due: changelog-format

docs(changelog): note updateEmailProvider operationId disambiguation (#163)
  CHANGELOG.md
Due: changelog-format

perf(proxy): cache IP block-list and geolocation to cut per-request DB load
  Cargo.lock
  crates/temps-geo/Cargo.toml
  crates/temps-geo/src/ip_address_service.rs
  crates/temps-proxy/Cargo.toml
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/ip_access_control_service.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note proxy per-request DB query elimination (#174)
  CHANGELOG.md
Due: changelog-format

fix(otel): use sort_by_key to satisfy clippy -D warnings
  crates/temps-otel/src/storage/timescaledb.rs
Due: cargo-fmt, cargo-clippy

fix(ai-api-tools): use sort_by_key to satisfy clippy -D warnings
  crates/temps-ai-api-tools/src/index.rs
Due: cargo-fmt, cargo-clippy

feat(git): add Gitea, Bitbucket, and Generic git providers
  Cargo.lock
  crates/temps-agents/src/services/config_service.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-entities/src/projects.rs
  crates/temps-git/Cargo.toml
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/handlers/bitbucket.rs
  crates/temps-git/src/handlers/generic.rs
  crates/temps-git/src/handlers/gitea.rs
  crates/temps-git/src/handlers/mod.rs
  crates/temps-git/src/services/bitbucket_provider.rs
  crates/temps-git/src/services/generic_provider.rs
  crates/temps-git/src/services/git_provider.rs
  crates/temps-git/src/services/git_provider_manager.rs
  crates/temps-git/src/services/gitea_provider.rs
  crates/temps-git/src/services/mod.rs
  crates/temps-git/src/services/pr_commenter.rs
  crates/temps-git/src/sources/bitbucket_source.rs
  crates/temps-git/src/sources/gitea_source.rs
  crates/temps-git/src/sources/mod.rs
  crates/temps-git/tests/gitea_e2e.rs
  crates/temps-migrations/src/migration/m20260701_000001_add_provider_webhook_tokens.rs
  crates/temps-migrations/src/migration/m20260701_000002_add_bitbucket_webhook_hook_id.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-notifications/src/vulnerability_notifications.rs
  crates/temps-projects/src/services/project.rs
  docs/adr/020-git-provider-expansion.md
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/git-providers/GitProviderFlow.tsx
  web/src/pages/GitProviderDetail.tsx
  web/src/pages/GitSources.tsx
Due: cargo-fmt, cargo-clippy

docs(quickstart): broaden git provider prerequisites to all supported providers
  docs/quickstart/page.mdx
Due: none

docs(changelog): add Bitbucket, Gitea, and generic git provider entry
  CHANGELOG.md
Due: changelog-format

feat(cli,sdk): support Bitbucket, Gitea, and generic git providers
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/commands/providers/index.ts
  sdks/node/packages/node-sdk/src/client/sdk.gen.ts
  sdks/node/packages/node-sdk/src/client/types.gen.ts
  sdks/node/packages/node-sdk/src/index.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: none

fix(domains): stop ACME TXT records from stacking across renewals
  crates/temps-dns/src/providers/traits.rs
  crates/temps-domains/src/handlers/domain_handler.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): stop fabricating +/-100% trend when previous period has no baseline
  crates/temps-analytics-events/src/services/events_service.rs
Due: cargo-fmt, cargo-clippy
