Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

ci(release): cut macOS/web build time in release pipeline
  .github/workflows/release.yml
Due: none

feat(auth): SAML 2.0 SP-initiated SSO
  Cargo.lock
  Dockerfile
  crates/temps-ai-api-tools/src/caller.rs
  crates/temps-ai-api-tools/src/integration_tests.rs
  crates/temps-ai-chat/src/pending_actions.rs
  crates/temps-ai-chat/src/service.rs
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-auth/Cargo.toml
  crates/temps-auth/src/apikey_handler.rs
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/lib.rs
  crates/temps-auth/src/permission_guard.rs
  crates/temps-auth/src/plugin.rs
  crates/temps-auth/src/saml_errors.rs
  crates/temps-auth/src/saml_handler.rs
  crates/temps-auth/src/saml_service.rs
  crates/temps-auth/src/saml_service/tests.rs
  crates/temps-auth/src/saml_types.rs
  crates/temps-auth/src/state.rs
  crates/temps-auth/tests/context_tests.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/setup.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/saml_login_states.rs
  crates/temps-entities/src/saml_providers.rs
  crates/temps-entities/src/saml_role_mappings.rs
  crates/temps-entities/src/users.rs
  crates/temps-geo/src/handlers.rs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-migrations/src/migration/m20260710_000001_saml_sso.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

fix(release): make workflow_dispatch dry-run actually safe
  .github/workflows/release.yml
Due: none

fix(release): avoid slash-containing VERSION breaking workflow_dispatch runs
  .github/workflows/release.yml
Due: none

fix(proxy): isolate preview connection-pool by sandbox target
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

fix(config): stop rejecting blank external_url, surface failed settings saves
  crates/temps-config/src/handler.rs
  web/src/api/platformSettings.ts
Due: cargo-fmt, cargo-clippy

feat(web): add Let's Encrypt contact email to Settings page
  web/src/pages/Settings.tsx
Due: none

feat(dns): add Pebble challtestsrv-backed DNS provider for local testing
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/lib.rs
  crates/temps-dns/src/providers/credentials.rs
  crates/temps-dns/src/providers/mod.rs
  crates/temps-dns/src/providers/pebble.rs
  crates/temps-dns/src/providers/traits.rs
  crates/temps-dns/src/services/provider_service.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): track real body bytes for request/response bandwidth
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

fix(dns): close SSRF gaps in Pebble DNS provider
  Cargo.lock
  crates/temps-core/src/url_validation.rs
  crates/temps-dns/Cargo.toml
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/providers/pebble.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): defer proxy-log send to logging hook for real response bytes
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

style(core): fix rustfmt blank-line violation in node_pki
  crates/temps-core/src/node_pki.rs
Due: cargo-fmt, cargo-clippy

fix(web): adapt chart and replay types to recharts 3 and rrweb-player 2
  web/src/components/metrics/AnomalyBacktest.tsx
  web/src/components/session-replay/SessionReplayPlayer.tsx
  web/src/components/storage/MonitoringCard.tsx
  web/src/components/ui/chart.tsx
  web/src/pages/ProxyMetrics.tsx
  web/src/pages/ServiceMonitoring.tsx
Due: none

perf(proxy): serve proxy-log stats from a 1-minute continuous aggregate
  crates/temps-database/src/connection.rs
  crates/temps-migrations/src/migration/m20260711_000001_add_proxy_logs_stats_cagg.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
Due: cargo-fmt, cargo-clippy

perf(database): chunk proxy-log aggregate backfill into newest-first day windows
  crates/temps-database/src/connection.rs
  crates/temps-migrations/src/migration/m20260711_000001_add_proxy_logs_stats_cagg.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): exclude bots and datacenter IPs from live-visitors
  Dockerfile
  crates/temps-analytics/src/analytics.rs
  crates/temps-entities/src/ip_geolocations.rs
  crates/temps-geo/src/geoip_service.rs
  crates/temps-geo/src/handlers.rs
  crates/temps-geo/src/ip_address_service.rs
  crates/temps-migrations/src/migration/m20260711_000002_add_ip_geolocations_hosting_provider.rs
  crates/temps-migrations/src/migration/mod.rs
  docker-compose.yml
Due: cargo-fmt, cargo-clippy

fix(analytics): reuse existing asn column instead of adding a duplicate
  crates/temps-entities/src/ip_geolocations.rs
  crates/temps-migrations/src/migration/m20260711_000002_add_ip_geolocations_hosting_provider.rs
Due: cargo-fmt, cargo-clippy

perf(analytics): add partial index for non-crawler visitor queries
  crates/temps-migrations/src/migration/m20260711_000003_add_visitor_non_crawler_partial_index.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

perf(otel): make storage quota opt-in, disabled by default
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/tests/timescaledb_storage_test.rs
Due: cargo-fmt, cargo-clippy

fix(otel): short-circuit disabled quota inside get_storage_quota
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/tests/timescaledb_storage_test.rs
Due: cargo-fmt, cargo-clippy

fix(web): pin eslint-plugin-react version detection for ESLint 10
  web/eslint.config.js
Due: none

fix(web): pin chunkSplit strategy for rsbuild v2 + plugin-react v1 compat
  web/rsbuild.config.ts
Due: none

fix(email-tracking): migrate to lol_html 3.0 builder API
  crates/temps-email-tracking/src/html_rewriter.rs
Due: cargo-fmt, cargo-clippy

chore(web): remove dead dev.headers config (rsbuild v2)
  web/rsbuild.config.ts
Due: none

fix(query-mongodb): migrate to bson 3.x API
  Cargo.lock
  crates/temps-query-mongodb/Cargo.toml
  crates/temps-query-mongodb/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(web): migrate react-day-picker v8 API to v10
  web/src/components/analytics/VisitorGlobe.tsx
  web/src/components/funnel/FunnelDetail.tsx
  web/src/components/funnel/FunnelManagement.tsx
  web/src/components/project/MonitorDetail.tsx
  web/src/components/project/ProjectAnalytics.tsx
  web/src/components/ui/calendar.tsx
  web/src/components/ui/date-range-picker.tsx
Due: none

fix(web): replace lucide-react brand icons removed in v1
  web/src/components/analytics/EventDetail.tsx
  web/src/components/dashboard/ConnectionList.tsx
  web/src/components/dashboard/InlineGitConnect.tsx
  web/src/components/git-providers/GitProviderFlow.tsx
  web/src/components/onboarding/GitConnectionStep.tsx
  web/src/components/project/GitImportClone.tsx
  web/src/components/project/ProjectDetailHeader.tsx
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/pages/AddNotificationProvider.tsx
  web/src/pages/GitProviderDetail.tsx
  web/src/pages/GitSources.tsx
  web/src/pages/ImportProject.tsx
Due: none

chore(web): drop rsbuild v1 chunkSplit compat shim now plugin-react is v2
  web/bun.lock
  web/rsbuild.config.ts
Due: none

chore(sdk): bump analytics-browser, kv, blob, node-sdk for npm publish
  sdks/node/packages/analytics-browser/package.json
  sdks/node/packages/blob/package.json
  sdks/node/packages/kv/package.json
  sdks/node/packages/node-sdk/package.json
Due: none

fix(providers): reject client-supplied container_name on service create
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/parameter_strategies.rs
Due: cargo-fmt, cargo-clippy

fix(providers): reject client-supplied RustFS metrics ingest fields on create
  crates/temps-providers/src/parameter_strategies.rs
Due: cargo-fmt, cargo-clippy

fix(security): close three unauthenticated-access CRITICALs
  Cargo.lock
  crates/temps-agents/src/handlers/trigger.rs
  crates/temps-error-tracking/src/plugin.rs
  crates/temps-error-tracking/src/sentry/dsn_handlers.rs
  crates/temps-external-plugins/Cargo.toml
  crates/temps-external-plugins/src/handler.rs
Due: cargo-fmt, cargo-clippy

fix(metrics): don't UNION checkpoint queries across pg_stat_checkpointer/bgwriter
  crates/temps-metrics/src/collector/postgres.rs
Due: cargo-fmt, cargo-clippy

perf(web): lazy-load and paginate proxy traffic-by-project table
  web/src/pages/ProxyMetrics.tsx
Due: none

fix(metrics): use mongodb's re-exported bson instead of a standalone dep
  Cargo.lock
  crates/temps-metrics/Cargo.toml
  crates/temps-metrics/src/collector/mongodb.rs
Due: cargo-fmt, cargo-clippy

test(metrics): regression coverage for pg_stat_checkpointer/bgwriter query
  Cargo.lock
  crates/temps-metrics/Cargo.toml
  crates/temps-metrics/tests/postgres_checkpoint_stats_integration.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): skip empty visitor deduplication rewrites
  CHANGELOG.md
  crates/temps-migrations/src/migration/m20260705_000001_add_visitor_unique_index.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(deployments): cap hosted website memory by default
  crates/temps-deployer/src/docker.rs
  crates/temps-entities/src/deployment_config.rs
  crates/temps-projects/src/services/project.rs
  web/src/components/project/settings/GeneralSettings.tsx
  web/src/components/project/settings/environments/EnvironmentConfigurationCard.tsx
Due: cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
