Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(providers): add self-service enable+restart for pg_stat_statements
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/handlers/pg_stat_statements_handlers.rs
  crates/temps-providers/src/pg_stat_statements.rs
  crates/temps-providers/src/services.rs
  web/src/pages/ServiceQueryPerformance.tsx
Due: cargo-fmt, cargo-clippy

docs: add CHANGELOG entry, gitignore local dev-instance data, never-commit-secrets rule
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
Due: changelog-format

feat(cli): add enable-pg-stat-statements command
  apps/temps-cli/src/commands/services/index.ts
  skills/temps-cli/SKILL.md
Due: none

test(providers): cover shared_preload_libraries_for_image merge logic
  crates/temps-providers/src/externalsvc/postgres.rs
Due: cargo-fmt, cargo-clippy

fix(web): portal DropdownMenuSubContent to escape clipped parent
  web/src/components/ui/dropdown-menu.tsx
Due: none

docs(skills): add runtime and telemetry guardrails
  CHANGELOG.md
  skills/temps-best-practices/SKILL.md
  skills/temps-best-practices/evals/evals.json
  skills/temps-best-practices/references/analytics.md
  skills/temps-best-practices/references/error-tracking.md
  skills/temps-best-practices/references/logs.md
  skills/temps-best-practices/references/metrics.md
  skills/temps-best-practices/references/opentelemetry-traces.md
  skills/temps-best-practices/references/runtime-contract.md
  skills/temps-best-practices/references/telemetry-hygiene.md
Due: changelog-format

docs(skills): correct deployment health boundaries
  skills/temps-best-practices/SKILL.md
  skills/temps-best-practices/references/analytics.md
  skills/temps-best-practices/references/opentelemetry-traces.md
  skills/temps-best-practices/references/runtime-contract.md
  skills/temps-best-practices/references/telemetry-hygiene.md
Due: none

fix(security): close credential reveal review findings
  crates/temps-agents/src/handlers/definitions.rs
  crates/temps-agents/src/services/definition_service.rs
  crates/temps-notifications/src/digest/digest_service.rs
  crates/temps-notifications/src/digest/scheduler.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-notifications/src/services.rs
  crates/temps-notifications/src/vulnerability_notifications.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/services.rs
  web/openapi-ts.config.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/agents/McpCredentialRevealControls.tsx
  web/src/components/monitoring/ProviderForm.tsx
  web/src/components/monitoring/ProvidersManagement.tsx
  web/src/components/project/settings/McpServersSettings.tsx
  web/src/components/settings/GlobalMcpServersSettings.tsx
  web/src/components/storage/EditServiceForm.tsx
  web/src/lib/credential-reveal-state.test.ts
  web/src/lib/credential-reveal-state.ts
  web/src/lib/mcp-credential-reveal.test.ts
  web/src/lib/mcp-credential-reveal.ts
  web/src/pages/EditNotificationProvider.tsx
  web/src/pages/ServiceDetail.tsx
  web/src/pages/settings/GlobalMcpServerDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(release): dispatch builds for nightly tags
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .github/workflows/rust-tests.yml
Due: none

fix(release): recover failed nightly dispatches
  .github/scripts/nightly-release-decision.sh
  .github/scripts/test-nightly-release-workflows.sh
  .github/scripts/validate-release-ref.sh
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Due: none

fix(deployments): mask container environment values
  CHANGELOG.md
  crates/temps-deployments/src/handlers/deployments.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(security): restrict plaintext credential access
  crates/temps-auth/src/apikey_types.rs
  crates/temps-auth/src/permission_attribute.rs
  crates/temps-auth/src/permissions.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-providers/src/handlers/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(security): gate audited credential reveals
  CHANGELOG.md
  crates/temps-agents/src/handlers/definitions.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-providers/src/handlers/handlers.rs
Due: changelog-format, cargo-fmt, cargo-clippy

chore(changelog): preserve stacked branch entries
  CHANGELOG.md
Due: changelog-format

fix(release): retry incomplete nightly pipelines
  .github/scripts/nightly-release-decision.sh
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Due: none

fix(auth): enforce privilege ceiling on key rotation
  crates/temps-auth/src/apikey_handler.rs
Due: cargo-fmt, cargo-clippy

fix(ci): pin privileged workflow actions
  .github/workflows/release.yml
  .github/workflows/sandbox-images-beta.yml
Due: none

fix(deployments): prevent container secret caching
  crates/temps-deployments/src/handlers/deployments.rs
Due: cargo-fmt, cargo-clippy

fix(release): identify repository for nightly dispatch
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/nightly-release.yml
Due: none

test(release): preserve non-dry nightly dispatch
  .github/scripts/test-nightly-release-workflows.sh
Due: none

fix(release): use git cli for dependencies
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/release.yml
Due: none

fix(release): install protoc for sandbox helpers
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/release.yml
Due: none

test(ci): enforce publishing workflow security
  .github/scripts/test-nightly-release-workflows.sh
Due: none

fix(ci): pin all write-capable workflows
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/changelog.yml
  .github/workflows/dependency-scan.yml
  .github/workflows/nightly-release.yml
  .github/workflows/test-release.yml
Due: none

docs(ci): align release contributor guidance
  AGENTS.md
  CONTRIBUTING.md
Due: none

test(ci): reject inconsistent action pins
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/dependency-scan.yml
Due: none

fix(security): restrict plaintext credential access (#474)
  CHANGELOG.md
  crates/temps-agents/src/handlers/definitions.rs
  crates/temps-auth/src/apikey_types.rs
  crates/temps-auth/src/permission_attribute.rs
  crates/temps-auth/src/permissions.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-providers/src/handlers/handlers.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): sort slow queries server-side instead of client-side
  apps/temps-cli/src/commands/services/index.ts
  crates/temps-providers/src/handlers/pg_stat_statements_handlers.rs
  crates/temps-providers/src/pg_stat_statements.rs
  web/src/api/client/types.gen.ts
  web/src/pages/ServiceQueryPerformance.tsx
Due: cargo-fmt, cargo-clippy

fix(core): make Visit links reachable on sslip.io installs
  crates/temps-core/src/public_hostname.rs
  web/src/lib/deployment-url.test.ts
  web/src/lib/deployment-url.ts
  web/src/pages/DeploymentDetails.tsx
  web/src/pages/ProjectDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(auth): select jsonwebtoken crypto provider
  crates/temps-git/Cargo.toml
  examples/google-indexing-plugin/Cargo.toml
Due: none

fix(core): support x25519-dalek v3 key generation
  Cargo.lock
  crates/temps-core/src/ecies.rs
  crates/temps-edge/Cargo.toml
  crates/temps-edge/src/server.rs
  crates/temps-wireguard/Cargo.toml
  crates/temps-wireguard/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(deployments): reject absolute zip entry names
  crates/temps-deployments/src/jobs/deploy_static_bundle.rs
Due: cargo-fmt, cargo-clippy

fix(setup): generate the sslip.io domain with a dashed IP
  crates/temps-cli/src/commands/setup.rs
  crates/temps-core/src/public_hostname.rs
  web/src/lib/deployment-url.test.ts
  web/src/lib/deployment-url.ts
Due: cargo-fmt, cargo-clippy

feat(deployer): attach app containers to required extra Docker networks
  crates/temps-config/src/service.rs
  crates/temps-deployer/README.md
  crates/temps-deployer/src/docker.rs
  crates/temps-deployer/src/lib.rs
  crates/temps-deployer/src/plugin.rs
  crates/temps-deployer/src/remote.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-deployments/src/jobs/take_screenshot.rs
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-email/src/services/tracking_service_integration_tests.rs
  crates/temps-status-page/src/tests.rs
  docs/reference/environment-variables/page.mdx
Due: cargo-fmt, cargo-clippy

refactor(deployer): address extra-network review feedback
  crates/temps-deployer/src/docker.rs
Due: cargo-fmt, cargo-clippy

fix(deployer): constrain per-request extra networks to the operator allowlist
  crates/temps-deployer/README.md
  crates/temps-deployer/src/docker.rs
  docs/reference/environment-variables/page.mdx
Due: cargo-fmt, cargo-clippy
