Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

chore(metrics): shorten daily aggregate retention from 2 years to 1 year
  crates/temps-migrations/src/migration/m20260601_000001_create_service_metrics.rs
  crates/temps-migrations/src/migration/m20260601_000006_update_metrics_retention_30d.rs
Due: cargo-fmt, cargo-clippy

feat(metrics): always-on scraper + per-service polling gate, drop global toggle
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/services.rs
  web/src/api/client/types.gen.ts
  web/src/components/storage/MonitoringCard.tsx
  web/src/pages/ServiceDetail.tsx
  web/src/pages/ServiceMonitoring.tsx
  web/src/pages/settings/MonitoringSettingsPage.tsx
Due: cargo-fmt, cargo-clippy

feat(metrics): header-auth OTLP, internal URL setting, freshness + auto-refresh
  CHANGELOG.md
  Cargo.lock
  crates/temps-config/src/handler.rs
  crates/temps-config/src/service.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-metrics/src/store/clickhouse.rs
  crates/temps-metrics/src/store/mod.rs
  crates/temps-metrics/src/store/timescale.rs
  crates/temps-migrations/src/migration/m20260601_000007_create_service_metrics_status.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-providers/Cargo.toml
  crates/temps-providers/src/externalsvc/rustfs.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/metrics_handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/plugin.rs
  crates/temps-providers/src/services.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/api/platformSettings.ts
  web/src/components/storage/MonitoringCard.tsx
  web/src/components/storage/UpgradeServiceDialog.tsx
  web/src/pages/ServiceDetail.tsx
  web/src/pages/ServiceMonitoring.tsx
  web/src/pages/Settings.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(cli): add decoupled `temps migrate` command for safe upgrades
  CHANGELOG.md
  crates/temps-cli/src/commands/doctor.rs
  crates/temps-cli/src/commands/migrate.rs
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/lib.rs
  crates/temps-database/src/connection.rs
  crates/temps-database/src/lib.rs
  crates/temps-metrics/src/collector/redis.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(monitoring): allow service-scoped alarms with null env/deployment
  CHANGELOG.md
  crates/temps-core/src/jobs.rs
  crates/temps-entities/src/alarms.rs
  crates/temps-migrations/src/migration/m20260601_000008_alarms_nullable_env_deployment.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/alarm_service.rs
  crates/temps-monitoring/src/container_health.rs
  crates/temps-monitoring/src/evaluator.rs
  crates/temps-monitoring/src/outage.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(metrics): connect MongoDB scraper with authSource=admin
  CHANGELOG.md
  crates/temps-metrics/src/scraper.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(web): redesign runtime/container log viewer to match history viewer
  CHANGELOG.md
  web/src/components/containers/ContainerDetail.tsx
  web/src/components/containers/ContainerLogs.tsx
  web/src/components/containers/ContainerLogsViewer.tsx
  web/src/components/runtime-logs/log-viewer.tsx
  web/src/hooks/useLogStream.ts
Due: changelog-format

fix(metrics): count only client backends for Postgres connections
  CHANGELOG.md
  crates/temps-metrics/src/collector/postgres.rs
  web/src/components/storage/MonitoringCard.tsx
  web/src/pages/ServiceMonitoring.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(monitoring): default alert rules for MongoDB + startup back-seeding
  CHANGELOG.md
  crates/temps-monitoring/src/evaluator.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(metrics): show instance-wide Postgres metrics, not one random database
  CHANGELOG.md
  crates/temps-metrics/src/collector/postgres.rs
  crates/temps-metrics/src/scraper.rs
  crates/temps-metrics/src/store/timescale.rs
  crates/temps-migrations/src/migration/m20260601_000009_metrics_caggs_keep_labels.rs
  crates/temps-migrations/src/migration/mod.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(metrics): chart pg.connections as a gauge + record alarm service_id
  CHANGELOG.md
  crates/temps-entities/src/alarms.rs
  crates/temps-metrics/src/collector/postgres.rs
  crates/temps-migrations/src/migration/m20260601_000010_add_service_id_to_alarms.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/alarm_service.rs
  crates/temps-monitoring/src/container_health.rs
  crates/temps-monitoring/src/evaluator.rs
  crates/temps-monitoring/src/outage.rs
  web/src/components/storage/MonitoringCard.tsx
  web/src/pages/ServiceMonitoring.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(analytics): add `temps backfill clickhouse` subcommand
  crates/temps-analytics-events/src/services/ch_backfill.rs
  crates/temps-analytics-events/src/services/ch_fanout.rs
  crates/temps-analytics-events/src/services/mod.rs
  crates/temps-cli/src/commands/backfill.rs
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note `temps backfill clickhouse` subcommand under Unreleased
  CHANGELOG.md
Due: changelog-format

feat(metrics): per-database Postgres breakdown + fix aggregate resolution
  CHANGELOG.md
  crates/temps-metrics/src/lib.rs
  crates/temps-metrics/src/store/clickhouse.rs
  crates/temps-metrics/src/store/mod.rs
  crates/temps-metrics/src/store/timescale.rs
  crates/temps-monitoring/src/evaluator.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/metrics_handlers.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/ServiceMonitoring.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(web): stop live log lines overlapping in the viewers
  CHANGELOG.md
  web/src/components/containers/ContainerLogsViewer.tsx
  web/src/components/runtime-logs/log-viewer.tsx
  web/src/hooks/useLogStream.ts
Due: changelog-format

fix(security): validate metric names, rate-limit si_ ingest, close metrics IDOR gaps
  CHANGELOG.md
  crates/temps-metrics/src/store/timescale.rs
  crates/temps-otel/src/error.rs
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/services/otel_service.rs
  crates/temps-providers/src/handlers/metrics_handlers.rs
Due: changelog-format, cargo-fmt, cargo-clippy

refactor(web): use generated SDK for service monitoring metrics calls
  web/src/api/client/types.gen.ts
  web/src/components/storage/MonitoringCard.tsx
  web/src/pages/ServiceMonitoring.tsx
Due: none

docs(skills): fix security findings in temps-platform-setup skill
  skills/temps-platform-setup/README.md
  skills/temps-platform-setup/SKILL.md
Due: none

docs(changelog): note temps-platform-setup skill security fixes
  CHANGELOG.md
Due: changelog-format

fix(domains): recover stuck TLS orders and fix HTTP-01 auto-renewal
  CHANGELOG.md
  crates/temps-domains/src/tls/repository.rs
  crates/temps-domains/src/tls/service.rs
  web/src/components/domains/DomainsManagement.tsx
  web/src/lib/date.ts
  web/src/pages/DomainDetail.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(analytics): add AI crawler/bot breakdown dimension
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/types/requests.rs
  docs/adr/0001-ai-sre-agent.md
  web/src/api/client/types.gen.ts
  web/src/components/analytics/DimensionList.tsx
  web/src/components/analytics/overview/CrawlersChart.tsx
  web/src/components/analytics/overview/index.tsx
  web/src/components/project/ProjectAnalytics.tsx
Due: cargo-fmt, cargo-clippy

feat(analytics): AI agents overview — timeline chart, breakdown cards, status
  crates/temps-proxy/src/handler/proxy_logs.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/analytics/AiAgentsDetail.tsx
  web/src/components/analytics/AiAgentsTimelineChart.tsx
  web/src/components/analytics/AiBreakdownCard.tsx
  web/src/components/dashboard/Sidebar.tsx
Due: cargo-fmt, cargo-clippy

fix(analytics): validate AI timeline bucket param at the handler (400 not 500)
  crates/temps-proxy/src/handler/proxy_logs.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
Due: cargo-fmt, cargo-clippy

chore(analytics): apply rustfmt + add changelog entry for AI overview
  CHANGELOG.md
  crates/temps-proxy/src/handler/proxy_logs.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(analytics): default AI overview + Journey tab to last 24 hours
  CHANGELOG.md
  web/src/components/project/ProjectAnalytics.tsx
Due: changelog-format

fix(analytics): sidebar deep-route expansion + split AI overview tables
  CHANGELOG.md
  web/src/components/analytics/AiAgentsDetail.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/ProjectAnalytics.tsx
Due: changelog-format

feat(logs): return grep -C surrounding lines in log search response
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-log-aggregator/src/services/search.rs
  crates/temps-log-aggregator/src/types.rs
Due: cargo-fmt, cargo-clippy

feat(otel): sort trace summaries by duration
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/src/types.rs
Due: cargo-fmt, cargo-clippy

feat(web): surrounding-lines log search + trace duration sort
  web/src/api/client/types.gen.ts
  web/src/components/runtime-logs/history-log-viewer.tsx
  web/src/hooks/useLogHistory.ts
  web/src/pages/TracesList.tsx
Due: none

docs(changelog): note surrounding-lines log search and trace duration sort
  CHANGELOG.md
Due: changelog-format

docs(adr): ADR-016 ClickHouse as the OTel telemetry backend
  docs/adr/016-clickhouse-traces-backend.md
Due: none

feat(otel): ClickHouse backend for traces/spans (ADR-016 Phase 0-1)
  Cargo.lock
  crates/temps-otel/Cargo.toml
  crates/temps-otel/migrations/clickhouse/0001_spans.sql
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/storage/clickhouse/migrations.rs
  crates/temps-otel/src/storage/clickhouse/mod.rs
  crates/temps-otel/src/storage/mod.rs
Due: cargo-fmt, cargo-clippy

fix(otel): trace count/search parity + secret masking across backends
  CHANGELOG.md
  crates/temps-analytics-backend/src/clickhouse.rs
  crates/temps-otel/src/storage/timescaledb.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(metrics): ClickHouse backend for resource metrics
  Cargo.lock
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-metrics/Cargo.toml
  crates/temps-metrics/migrations/clickhouse/0001_service_metrics.sql
  crates/temps-metrics/src/error.rs
  crates/temps-metrics/src/lib.rs
  crates/temps-metrics/src/store/clickhouse.rs
  crates/temps-metrics/src/store/clickhouse_migrations.rs
  crates/temps-metrics/src/store/mod.rs
Due: cargo-fmt, cargo-clippy

feat(proxy): ClickHouse backend for proxy/request logs
  Cargo.lock
  crates/temps-proxy/Cargo.toml
  crates/temps-proxy/migrations/clickhouse/0001_proxy_logs.sql
  crates/temps-proxy/src/lib.rs
  crates/temps-proxy/src/plugin.rs
  crates/temps-proxy/src/proxy_test.rs
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/proxy_log_batch_writer.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/storage/clickhouse.rs
  crates/temps-proxy/src/storage/clickhouse_migrations.rs
  crates/temps-proxy/src/storage/mod.rs
  crates/temps-proxy/src/storage/timescaledb.rs
Due: cargo-fmt, cargo-clippy

fix(clickhouse): consolidate to a default 'temps' database + boot-context migration fixes
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-config/src/service.rs
  crates/temps-metrics/src/store/clickhouse_migrations.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/storage/clickhouse/migrations.rs
  crates/temps-proxy/src/storage/clickhouse_migrations.rs
  crates/temps-proxy/src/storage/mod.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): never drop events or 500 the dashboard on null-safe edges
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/events_service.rs
Due: cargo-fmt, cargo-clippy

docs(skills): sync SDK + temps-cli skills to the real published packages
  skills/add-node-sdk/SKILL.md
  skills/add-react-analytics/SKILL.md
  skills/add-react-analytics/references/HOOKS_REFERENCE.md
  skills/add-react-analytics/references/SESSION_RECORDING.md
  skills/add-session-recording/SKILL.md
  skills/temps-cli/README.md
  skills/temps-cli/SKILL.md
Due: none

perf(otel): pre-aggregate trace summaries for the TimescaleDB list view
  crates/temps-migrations/src/migration/m20260603_000001_create_otel_trace_summaries.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-otel/src/storage/timescaledb.rs
Due: cargo-fmt, cargo-clippy

feat(migrate): report the migration plan and per-migration results
  crates/temps-cli/src/commands/migrate.rs
  crates/temps-database/src/connection.rs
  crates/temps-database/src/lib.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
