Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

fix(providers): validate Postgres credentials at the create boundary
  crates/temps-providers/src/parameter_strategies.rs
Due: cargo-fmt, cargo-clippy

perf(startup): defer blocking subsystem init off the console boot path
  CHANGELOG.md
  crates/temps-agents/src/plugin.rs
  crates/temps-blob/src/plugin.rs
  crates/temps-external-plugins/src/plugin.rs
  crates/temps-external-plugins/src/service.rs
  crates/temps-kv/src/plugin.rs
  crates/temps-workspace/src/plugin.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): atomic ordinal allocation eliminates add-replica race
  crates/temps-migrations/src/migration/m20260428_000001_unique_member_ordinal.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): supervised reconciler + watchdog for stuck provisioning rows
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(dns-resolver): forward non-temps.local queries to upstream resolvers
  crates/temps-dns-resolver/Cargo.toml
  crates/temps-dns-resolver/src/authority.rs
  crates/temps-dns-resolver/src/config.rs
  crates/temps-dns-resolver/src/handle.rs
  crates/temps-dns-resolver/src/lib.rs
  crates/temps-dns-resolver/src/sync_client.rs
  crates/temps-dns-resolver/src/upstream.rs
  crates/temps-dns-resolver/tests/end_to_end.rs
Due: cargo-fmt, cargo-clippy

feat(network): cross-node overlay routing with per-container peer routes
  Cargo.lock
  crates/temps-agent/src/handlers.rs
  crates/temps-agent/src/network_sync.rs
  crates/temps-agent/src/server.rs
  crates/temps-agent/src/service_handlers.rs
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/agent.rs
  crates/temps-deployer/Cargo.toml
  crates/temps-deployer/src/docker.rs
  crates/temps-network/src/lib.rs
  crates/temps-network/src/linux/mod.rs
  crates/temps-network/src/linux/route.rs
  crates/temps-network/src/overlay_routes.rs
  tools/dev-cluster/docker-compose.yml
Due: cargo-fmt, cargo-clippy

feat(providers): cluster member lifecycle, per-tenant DBs, primary-aware ops
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/postgres_cluster.rs
  crates/temps-providers/src/externalsvc/postgres_role_reconciler.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/services.rs
  crates/temps-query-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(web): cluster role UI + regenerated client SDK
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/CreateServiceNew.tsx
  web/src/pages/ServiceDetail.tsx
Due: none

feat(routing): per-deployment internal hostname with worker-side proxy
  Cargo.lock
  crates/temps-agent/Cargo.toml
  crates/temps-agent/src/internal_proxy.rs
  crates/temps-agent/src/lib.rs
  crates/temps-agent/src/route_store.rs
  crates/temps-agent/src/route_sync_client.rs
  crates/temps-cli/src/commands/agent.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-dns-resolver/src/authority.rs
  crates/temps-dns/src/lib.rs
  crates/temps-dns/src/services/deployment_publisher.rs
  crates/temps-dns/src/services/dns_registry.rs
  crates/temps-dns/src/services/mod.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/node_route_state.rs
  crates/temps-migrations/src/migration/m20260428_000002_dns_owner_kind_deployment.rs
  crates/temps-migrations/src/migration/m20260428_000003_create_node_route_state.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-routes/Cargo.toml
  crates/temps-routes/src/lib.rs
  crates/temps-routes/src/route_sync.rs
  crates/temps-routes/src/route_table.rs
Due: cargo-fmt, cargo-clippy

fix(web): keep deployment log stream connected on redeploy and prevent duplicate project creates
  web/src/components/deployments/DeploymentStages.tsx
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/project/ProjectConfigurator.tsx
Due: none

fix(projects): clean up half-created projects, type the error paths, and map slug races to 409
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-projects/src/services/types.rs
Due: cargo-fmt, cargo-clippy

feat(agent): tunnel HTTP/1.1 Upgrade through internal_proxy (WebSocket / SSE)
  Cargo.lock
  crates/temps-agent/Cargo.toml
  crates/temps-agent/src/internal_proxy.rs
Due: cargo-fmt, cargo-clippy

feat(auth): add CLI password login endpoints
  crates/temps-auth/src/cli_auth_handler.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note logs reconnect, project dedup, and 409 slug-conflict fixes
  CHANGELOG.md
Due: changelog-format

feat(cli): credential-based login + multi-context for @temps-sdk/cli
  CHANGELOG.md
  apps/temps-cli/bun.lock
  apps/temps-cli/src/cli.ts
  apps/temps-cli/src/commands/auth/index.ts
  apps/temps-cli/src/commands/auth/login.ts
  apps/temps-cli/src/commands/auth/logout.ts
  apps/temps-cli/src/commands/auth/whoami.ts
  apps/temps-cli/src/commands/context/index.ts
  apps/temps-cli/src/config/contexts.ts
  apps/temps-cli/src/config/store.ts
Due: changelog-format

fix(web): tame runtime log viewer + cmd+k logs filter
  web/src/components/command/CommandPalette.tsx
  web/src/components/runtime-logs/log-viewer.tsx
  web/src/hooks/useLogStream.ts
Due: none

docs(changelog): runtime log viewer fixes + Cmd+K logs filter
  CHANGELOG.md
Due: changelog-format

feat(observability): unified Observe surface — merged events, correlation, message extraction
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-entities/src/error_events.rs
  crates/temps-entities/src/proxy_logs.rs
  crates/temps-entities/src/revenue_events.rs
  crates/temps-error-tracking/src/services/error_ingestion_service.rs
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-observability/Cargo.toml
  crates/temps-observability/src/cursor.rs
  crates/temps-observability/src/error.rs
  crates/temps-observability/src/filters.rs
  crates/temps-observability/src/handlers/events.rs
  crates/temps-observability/src/handlers/mod.rs
  crates/temps-observability/src/lib.rs
  crates/temps-observability/src/plugin.rs
  crates/temps-observability/src/service.rs
  crates/temps-observability/src/types.rs
  crates/temps-observability/tests/merge_integration.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/service/proxy_log_batch_writer.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/services.rs
  crates/temps-proxy/src/traits.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(web): Observe page — cockpit sparklines + console stream + side panel
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/observe/ObserveFilterBar.tsx
  web/src/components/observe/panels/ObservePanel.tsx
  web/src/components/observe/rows/ObserveRow.tsx
  web/src/components/observe/rows/RowParts.tsx
  web/src/components/observe/types.ts
  web/src/components/observe/useObserveQuery.ts
  web/src/index.tsx
  web/src/pages/Observe.tsx
  web/src/pages/ProjectDetail.tsx
Due: none

chore(db): Fix migration
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-error-tracking/src/services/error_ingestion_service.rs
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
  crates/temps-observability/src/cursor.rs
  crates/temps-observability/src/error.rs
  crates/temps-observability/src/filters.rs
  crates/temps-observability/src/handlers/events.rs
  crates/temps-observability/src/service.rs
  crates/temps-observability/tests/merge_integration.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): bulletproof Observe correlation migration + regression tests
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
  crates/temps-migrations/tests/migration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(database): self-heal seaql_migrations on startup before Migrator::up
  crates/temps-database/src/connection.rs
  crates/temps-database/src/lib.rs
  crates/temps-database/tests/orphan_migration_cleanup.rs
Due: cargo-fmt, cargo-clippy

Revert "fix(database): self-heal seaql_migrations on startup before Migrator::up"
  crates/temps-database/src/connection.rs
  crates/temps-database/src/lib.rs
  crates/temps-database/tests/orphan_migration_cleanup.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): pause Timescale jobs + take exclusive lock to eliminate chunk-not-found race
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
  crates/temps-migrations/tests/migration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(otel): stop racing TimescaleDB retention policy with app-level DELETEs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/tests/timescaledb_storage_test.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): drop chunk-enumerating ops from Observe correlation migration
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): drop CREATE INDEX from Observe migration — error_events is a hypertable too
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): add Observe-page indexes back to m20260502_000001
  crates/temps-migrations/src/migration/m20260502_000001_add_observe_correlation.rs
Due: cargo-fmt, cargo-clippy

fix(agents): add trace_id_indexed to error_events test fixture
  crates/temps-agents/src/services/executor.rs
  crates/temps-migrations/tests/migration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(sandbox): pin image version + chown /workspace + GHCR release pipeline
  .github/workflows/release.yml
  crates/temps-agents/src/sandbox/docker.rs
  scripts/build-sandbox-images.sh
  web/src/components/repositories/RepositoryList.tsx
Due: cargo-fmt, cargo-clippy

fix(proxy): resolve workspace previews by hex public_id
  _typos.toml
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): friendlier "preview not configured" page + resolver tests
  CHANGELOG.md
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-proxy/src/proxy.rs
Due: changelog-format, cargo-fmt, cargo-clippy

ci(release): split GHCR images into stable vs beta channels
  .github/workflows/release.yml
  CHANGELOG.md
  crates/temps-agents/src/sandbox/docker.rs
  scripts/build-sandbox-images.sh
Due: changelog-format, cargo-fmt, cargo-clippy

feat(workspace,sandbox): v0.0.8 security audit + sandbox path centralization + in-sandbox CLI auto-auth
  Cargo.lock
  Cargo.toml
  crates/temps-agents/src/ai_cli/catalog.rs
  crates/temps-agents/src/ai_cli/claude.rs
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/sandbox/mod.rs
  crates/temps-agents/src/sandbox/user.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-auth/src/cli_auth_handler.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-email/Cargo.toml
  crates/temps-email/src/services/tracking_service.rs
  crates/temps-routes/Cargo.toml
  crates/temps-routes/src/route_sync.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/services/fs.rs
  crates/temps-workspace/src/handlers/sessions.rs
  crates/temps-workspace/src/plugin.rs
  crates/temps-workspace/src/services/message_executor.rs
  crates/temps-workspace/src/services/session_manager.rs
  crates/temps-workspace/src/services/workspace_service.rs
Due: cargo-fmt, cargo-clippy

feat(cli): release channels for temps upgrade and install.sh
  CHANGELOG.md
  crates/temps-cli/src/commands/doctor.rs
  crates/temps-cli/src/commands/upgrade.rs
  scripts/install.sh
Due: changelog-format, cargo-fmt, cargo-clippy

fix(cli): install.sh beta channel picked off-by-one release
  scripts/install.sh
Due: none

ci(sandbox): share build context across runtime matrix
  .github/workflows/release.yml
  .github/workflows/sandbox-images-beta.yml
  scripts/build-sandbox-images.sh
Due: none

feat(providers): resource limits + runtime/stats panel for external services
  crates/temps-agent/src/lib.rs
  crates/temps-agent/src/service_handlers.rs
  crates/temps-providers/src/externalsvc/cluster_integration_tests.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/externalsvc/mongodb.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/postgres_cluster.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/rustfs.rs
  crates/temps-providers/src/externalsvc/s3.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/remote_service_client.rs
  crates/temps-providers/src/services.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/storage/EditResourceLimitsDialog.tsx
  web/src/components/storage/ServiceResourcesPanel.tsx
  web/src/pages/ServiceDetail.tsx
Due: cargo-fmt, cargo-clippy

ci(rust-tests): raise integration-tests timeout to 90m
  .github/workflows/rust-tests.yml
Due: none

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
