Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

fix(oidc): close 6 security findings from post-merge audit (1 HIGH, 5 MEDIUM)
  Cargo.lock
  Cargo.toml
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/oidc_errors.rs
  crates/temps-auth/src/oidc_handler.rs
  crates/temps-auth/src/oidc_service.rs
  crates/temps-auth/src/plugin.rs
  crates/temps-auth/tests/oidc_discovery_live.rs
  crates/temps-cli/src/commands/serve/admin_gate_service.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/services.rs
  crates/temps-proxy/src/traits.rs
  web/src/components/settings/AdminGateCard.tsx
  web/src/pages/Login.tsx
  web/src/pages/MfaVerify.tsx
  web/src/pages/settings/SecurityPage.tsx
Due: cargo-fmt, cargo-clippy

fix(security): 0.1.0 hardening pass (9 findings)
  crates/temps-agents/src/plugin.rs
  crates/temps-agents/src/services/autofixer.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-ai-gateway/src/error.rs
  crates/temps-ai-gateway/src/handlers/gateway.rs
  crates/temps-ai-gateway/src/handlers/providers.rs
  crates/temps-ai-gateway/src/services/gateway_service.rs
  crates/temps-auth/src/client_ip.rs
  crates/temps-auth/src/lib.rs
  crates/temps-auth/src/middleware.rs
  crates/temps-auth/src/rate_limit.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-deployments/src/services/deployment_token_service.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-git/src/handlers/github.rs
  crates/temps-git/src/handlers/gitlab.rs
Due: cargo-fmt, cargo-clippy

fix(security): 0.1.0 hardening round 2 (15 findings)
  CHANGELOG.md
  crates/temps-agents/src/handlers/autofixer.rs
  crates/temps-agents/src/handlers/runs.rs
  crates/temps-agents/src/handlers/trigger.rs
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/services/run_service.rs
  crates/temps-auth/src/oidc_service.rs
  crates/temps-backup/src/engines/v2_common.rs
  crates/temps-backup/src/handlers/backup_handler.rs
  crates/temps-backup/src/plugin.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-blob/src/handlers/handler.rs
  crates/temps-core/src/url_validation.rs
  crates/temps-core/src/workflow.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-deployments/src/jobs/deploy_static_bundle.rs
  crates/temps-deployments/src/jobs/download_repo.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/plugin.rs
  crates/temps-git/src/services/git_provider_manager.rs
  crates/temps-import/src/services/mod.rs
  crates/temps-import/src/services/orchestrator.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-projects/src/services/types.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-status-page/src/services/health_check_service.rs
  crates/temps-status-page/src/services/monitor_service.rs
  crates/temps-status-page/src/services/types.rs
  crates/temps-vulnerability-scanner/src/trivy.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(security): 0.1.0 hardening round 3 (7 findings)
  CHANGELOG.md
  Cargo.lock
  crates/temps-analytics-session-replay/src/handlers/handler.rs
  crates/temps-analytics-session-replay/src/services/service.rs
  crates/temps-auth/Cargo.toml
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/oidc_handler.rs
  crates/temps-auth/src/oidc_service.rs
  crates/temps-auth/src/oidc_types.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-error-tracking/src/handlers/handler.rs
  crates/temps-error-tracking/src/handlers/sentry_compat_handlers.rs
  crates/temps-error-tracking/src/sentry/handlers.rs
  crates/temps-error-tracking/src/services/types.rs
Due: changelog-format, cargo-fmt, cargo-clippy

revert(security): drop over-restrictive S3+GitLab SSRF checks and env vars
  CHANGELOG.md
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-backup/src/engines/v2_common.rs
  crates/temps-backup/src/handlers/backup_handler.rs
  crates/temps-backup/src/plugin.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/plugin.rs
  crates/temps-git/src/services/git_provider_manager.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(git): post sticky PR/MR preview comments on deployment lifecycle
  crates/temps-git/src/lib.rs
  crates/temps-git/src/plugin.rs
  crates/temps-git/src/services/mod.rs
  crates/temps-git/src/services/pr_comment_listener.rs
  crates/temps-git/src/services/pr_commenter.rs
Due: cargo-fmt, cargo-clippy

fix(security): tighten validate_git_url to https-only
  CHANGELOG.md
  crates/temps-core/src/url_validation.rs
Due: changelog-format, cargo-fmt, cargo-clippy

test(git): listener integration tests + changelog entry
  CHANGELOG.md
  crates/temps-git/src/services/pr_comment_listener.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(security): de-duplicate OIDC slug-login route registration
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/oidc_handler.rs
Due: cargo-fmt, cargo-clippy

feat(proxy): branded 404 page for unknown hosts behind admin gate
  crates/temps-proxy/src/branded_404.rs
  crates/temps-proxy/src/lib.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note branded admin-gate 404 page
  CHANGELOG.md
Due: changelog-format

fix(security): close 2 remaining 0.1.0 release blockers
  CHANGELOG.md
  crates/temps-auth/src/cli_device_handler.rs
  crates/temps-backup/src/engines/postgres_cluster.rs
  crates/temps-backup/src/engines/postgres_walg.rs
Due: changelog-format, cargo-fmt, cargo-clippy

docs(auto-improve): pass 1 — stale version, Heroku stub, monitoring clarity, Row/Col formatting
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/features/logs/page.mdx
  docs/features/mcp/page.mdx
  docs/features/monitoring/page.mdx
  docs/features/skills/page.mdx
  docs/howto/upgrade-temps/page.mdx
  docs/introduction/page.mdx
  docs/migrate/from-heroku/page.mdx
Due: none

docs: fix em-dash typos, fill Railway stub, update RustFS ref
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/features/attack-mode/page.mdx
  docs/features/kv-storage/page.mdx
  docs/features/skills/page.mdx
  docs/features/webhooks/page.mdx
  docs/howto/set-up-managed-services/page.mdx
  docs/migrate/from-railway/page.mdx
  docs/tutorials/deploy-with-database/page.mdx
Due: none

docs: fill from-vercel stub with complete migration guide
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/migrate/from-vercel/page.mdx
Due: none

docs: fill from-netlify stub; clarity pass on architecture/overview
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/architecture/overview/page.mdx
  docs/migrate/from-netlify/page.mdx
Due: none

docs: fill troubleshooting and performance stubs (pass 5)
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/advanced/performance/page.mdx
  docs/reference/troubleshooting/page.mdx
Due: none

docs: fill teams stub and rewrite security page (pass 6)
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/architecture/security/page.mdx
  docs/features/teams/page.mdx
Due: none

docs: fill advanced/custom-buildpacks stub with Nixpacks/Dockerfile guide
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/advanced/custom-buildpacks/page.mdx
Due: none

docs: fill networking stub; clarity pass on data-flow; fix Note marketing
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/advanced/networking/page.mdx
  docs/architecture/data-flow/page.mdx
  docs/features/cron-jobs/page.mdx
  docs/features/managed-services/page.mdx
Due: none

docs: fill API stub, fix rollbacks structure and broken link
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/features/api/page.mdx
  docs/features/rollbacks/page.mdx
Due: none

docs: grammar/clarity sweep — deployment clarity rewrite, allowlist
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/advanced/security/page.mdx
  docs/architecture/deployment/page.mdx
  docs/features/backups/page.mdx
  docs/features/error-tracking/page.mdx
  docs/howto/admin-listener/page.mdx
  docs/howto/cli-login/page.mdx
  docs/howto/enable-clickhouse-analytics/page.mdx
  docs/introduction/page.mdx
  docs/upgrade/page.mdx
Due: none

docs: terminology sweep — blocklist/allowlist, contractions, informal voice
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/architecture/overview/page.mdx
  docs/architecture/plugins/page.mdx
  docs/architecture/request-flow/page.mdx
  docs/errors/page.mdx
  docs/features/analytics/page.mdx
  docs/features/attack-mode/page.mdx
  docs/features/cron-jobs/page.mdx
  docs/features/mcp/page.mdx
  docs/reference/cli-getting-started/page.mdx
Due: none

docs: session-replay clarity pass, bump version example to beta.22
  .docs-improve/LOG.md
  .docs-improve/SUMMARY.md
  docs/features/session-replay/page.mdx
  docs/howto/upgrade-temps/page.mdx
Due: none

feat(notifications): brand the email-provider health-check message
  crates/temps-notifications/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(email): generic SMTP provider + PATCH edit endpoint + edit dialog
  Cargo.lock
  crates/temps-email/Cargo.toml
  crates/temps-email/src/errors.rs
  crates/temps-email/src/handlers/audit.rs
  crates/temps-email/src/handlers/domains.rs
  crates/temps-email/src/handlers/mod.rs
  crates/temps-email/src/handlers/providers.rs
  crates/temps-email/src/handlers/types.rs
  crates/temps-email/src/providers/mod.rs
  crates/temps-email/src/providers/smtp.rs
  crates/temps-email/src/providers/traits.rs
  crates/temps-email/src/services/mod.rs
  crates/temps-email/src/services/provider_service.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/email/EmailProvidersManagement.tsx
  web/src/components/ui/email-provider-logo.tsx
Due: cargo-fmt, cargo-clippy

feat(email): brand the email-provider test message + changelog
  CHANGELOG.md
  crates/temps-email/src/services/provider_service.rs
Due: changelog-format, cargo-fmt, cargo-clippy

docs: correctness pass — fix fabricated env vars, CLI commands, and SDK signatures
  .docs-improve/LOG.md
  docs/advanced/networking/page.mdx
  docs/advanced/performance/page.mdx
  docs/architecture/security/page.mdx
  docs/features/api/page.mdx
  docs/features/teams/page.mdx
  docs/migrate/from-vercel/page.mdx
  docs/reference/troubleshooting/page.mdx
Due: none

feat(auth): working password reset via email-only delivery
  Cargo.lock
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/email_templates.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/upgrade.rs
  crates/temps-config/Cargo.toml
  crates/temps-config/src/disk_status.rs
  crates/temps-config/src/handler.rs
  crates/temps-config/src/lib.rs
  crates/temps-core/src/notifications.rs
  crates/temps-database/src/approx_count.rs
  crates/temps-database/src/lib.rs
  crates/temps-migrations/src/migration/m20260528_000001_add_proxy_logs_listing_indexes.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/Cargo.toml
  crates/temps-monitoring/src/disk_space.rs
  crates/temps-notifications/src/services.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/alerts/DiskSpaceAlert.tsx
  web/src/components/auth/login-form.tsx
  web/src/hooks/useDiskStatus.ts
  web/src/pages/ForgotPassword.tsx
  web/src/pages/Login.tsx
  web/src/pages/Projects.tsx
  web/src/pages/ResetPassword.tsx
Due: cargo-fmt, cargo-clippy

docs(changelog): record password reset fix + self-service reset UI
  CHANGELOG.md
Due: changelog-format

docs: add Common Gotchas section to CLI Getting Started guide
  docs/reference/cli-getting-started/page.mdx
Due: none

docs: replace troubleshooting stub with comprehensive error solutions
  docs/reference/troubleshooting/page.mdx
Due: none

feat(analytics): AI Crawler Activity feed (chronological AI-agent requests)
  web/src/App.tsx
  web/src/components/analytics/AiCrawlerActivityFeed.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/proxy-logs/ProxyLogsDataTable.tsx
  web/src/lib/ai-agents.ts
  web/src/pages/AiCrawlerActivity.tsx
Due: none

feat(analytics): scope AI Crawler feed to project + configurable page size
  web/src/App.tsx
  web/src/components/analytics/AiCrawlerActivityFeed.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/ProjectAnalytics.tsx
  web/src/pages/AiCrawlerActivity.tsx
Due: none

fix(analytics): surface AI Crawlers in the project Observe sidebar
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/ProjectAnalytics.tsx
  web/src/pages/ProjectAiCrawlers.tsx
  web/src/pages/ProjectDetail.tsx
Due: none

feat(cli): add session-replay commands
  apps/temps-cli/src/cli.ts
  apps/temps-cli/src/commands/session-replay/index.ts
Due: none

fix(cli): pin --api-key so login validates the supplied key
  apps/temps-cli/package.json
  apps/temps-cli/src/commands/auth/login.ts
  apps/temps-cli/src/lib/api-client.test.ts
  apps/temps-cli/src/lib/api-client.ts
Due: none

docs(changelog): record AI Crawler feed + CLI api-key pin
  CHANGELOG.md
Due: changelog-format

fix(migrations): use if_exists for remove_retention_policy + add changelog
  CHANGELOG.md
  crates/temps-migrations/src/migration/m20260601_000006_update_metrics_retention_30d.rs
Due: changelog-format, cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
