Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(analytics): add channel drill-down filter and preserve date params in page navigation
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/types/requests.rs
  web/src/api/client/types.gen.ts
  web/src/components/analytics/PageListItem.tsx
  web/src/components/analytics/overview/ChannelsChart.tsx
Due: cargo-fmt, cargo-clippy

fix(crons): support standard 5-field cron expressions and log errors to deployment stream
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-deployments/src/jobs/configure_crons.rs
  crates/temps-deployments/src/services/database_cron_service.rs
  web/src/components/project/settings/CronJobsSettings.tsx
Due: cargo-fmt, cargo-clippy

feat(security): add AI prompt generation for vulnerability scan results
  web/src/pages/security/ScanDetail.tsx
Due: none

fix(backup): stream backup data to disk instead of buffering in memory
  crates/temps-backup/src/services/backup.rs
  crates/temps-providers/src/externalsvc/mongodb.rs
  crates/temps-providers/src/externalsvc/postgres.rs
Due: cargo-fmt, cargo-clippy

fix(deployments): add advisory lock to serialize concurrent mark_complete operations
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-routes/src/project_change_listener.rs
Due: cargo-fmt, cargo-clippy

chore: remove duplicate AGENTS.md (content already in CLAUDE.md)
  AGENTS.md
Due: none

feat(deployments): cancel superseded deployments on new push
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-deployments/src/services/job_processor.rs
Due: cargo-fmt, cargo-clippy

docs(tutorials): add deployment guides for 11 frameworks
  docs/tutorials/deploy-angular/page.mdx
  docs/tutorials/deploy-astro/page.mdx
  docs/tutorials/deploy-django/page.mdx
  docs/tutorials/deploy-fastapi/page.mdx
  docs/tutorials/deploy-go/page.mdx
  docs/tutorials/deploy-laravel/page.mdx
  docs/tutorials/deploy-rails/page.mdx
  docs/tutorials/deploy-remix/page.mdx
  docs/tutorials/deploy-rust/page.mdx
  docs/tutorials/deploy-svelte/page.mdx
  docs/tutorials/deploy-vue/page.mdx
Due: none

fix(web): fix funnel edit page and metrics display
  web/src/components/funnel/FunnelCard.tsx
  web/src/components/project/ProjectAnalytics.tsx
  web/src/lib/date.ts
  web/src/pages/EditFunnel.tsx
Due: none

docs(changelog): add funnel edit and metrics fixes
  CHANGELOG.md
Due: changelog-format

feat: improve skill scores for temps
  pr_description.md
  score_card.png
  scores.json
  skills/add-custom-domain/SKILL.md
  skills/add-node-sdk/SKILL.md
  skills/add-react-analytics/SKILL.md
  skills/add-session-recording/SKILL.md
  skills/deploy-to-temps/SKILL.md
  skills/temps-mcp-setup/SKILL.md
  skills/temps-platform-setup/SKILL.md
  skills/temps-plugin/SKILL.md
Due: none

fix(migrations): convert duplicate email_events CREATE to ALTER TABLE
  crates/temps-migrations/src/migration/m20260328_000001_create_email_events.rs
Due: cargo-fmt, cargo-clippy

fix(email): add deterministic ordering to get_events query
  crates/temps-email/src/services/tracking_service.rs
Due: cargo-fmt, cargo-clippy

fix(presets): fix Next.js Docker e2e test reliability
  crates/temps-presets/src/nextjs.rs
Due: cargo-fmt, cargo-clippy

fix(ci): generate self-signed certificate for E2E tests
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): redirect temps serve logs, sync runtime files
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): use console port and correct API paths for E2E tests
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): use /environments endpoint to get environment ID
  .github/workflows/e2e-tests.yml
Due: none

ci: cache wasm-pack binary across all workflow jobs
  .github/workflows/rust-tests.yml
Due: none

fix(ci): use CLI to create API key instead of HTTP session auth
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): restore /api prefix and harden jq calls in deploy step
  .github/workflows/e2e-tests.yml
Due: none

fix(deployments): include deployment ID in temp directory path
  crates/temps-deployments/src/jobs/download_repo.rs
Due: cargo-fmt, cargo-clippy

test(deployments): add regression test for temp dir uniqueness
  crates/temps-deployments/src/jobs/download_repo.rs
Due: cargo-fmt, cargo-clippy

fix(ci): remove duplicate trigger-pipeline call causing vite-e2e cancellation
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): add --clobber to gh release create to prevent duplicate tag failures
  .github/workflows/release.yml
Due: none

fix: configurable db pool, multi-preset detection, enter-submit wizards
  crates/temps-database/src/connection.rs
  crates/temps-presets/src/lib.rs
  crates/temps-presets/src/mod.rs
  docs/reference/environment-variables/page.mdx
  web/src/components/domains/DomainCreationWizard.tsx
  web/src/components/imports/ImportWizard.tsx
  web/src/hooks/useEnterSubmit.ts
  web/src/pages/AddDnsProvider.tsx
  web/src/pages/AddDomain.tsx
Due: cargo-fmt, cargo-clippy

fix(ci): remove invalid --clobber flag from gh release create
  .github/workflows/release.yml
Due: none

fix(ci): update repo references from davidviejo/temps to gotempsh/temps
  scripts/homebrew-formula.rb.template
  scripts/install.sh
Due: none

docs(changelog): add unreleased section for post-0.0.7 changes
  CHANGELOG.md
Due: changelog-format

feat(email-tracking): add event timeline UI and analytics dashboard
  crates/temps-email-tracking/src/handlers.rs
  web/src/components/email/EmailAnalytics.tsx
  web/src/components/email/EmailEventTimeline.tsx
  web/src/pages/Email.tsx
  web/src/pages/EmailDetail.tsx
Due: cargo-fmt, cargo-clippy

docs(changelog): add email tracking UI and events endpoint entries
  CHANGELOG.md
Due: changelog-format

fix(security): resolve dependency vulns and fix container exec tenant isolation
  Cargo.lock
  Cargo.toml
  crates/temps-deployments/src/handlers/container_exec.rs
  crates/temps-git/Cargo.toml
  crates/temps-log-aggregator/src/storage/filesystem.rs
  crates/temps-plugin-sdk/Cargo.toml
Due: cargo-fmt, cargo-clippy

docs(changelog): add security fixes to unreleased section
  CHANGELOG.md
Due: changelog-format

fix(email): make RequestMetadata optional in tracking handlers
  crates/temps-email/src/handlers/tracking.rs
Due: cargo-fmt, cargo-clippy

feat(email): store tracked HTML separately from original
  crates/temps-email/src/handlers/emails.rs
  crates/temps-email/src/handlers/types.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-entities/src/emails.rs
  crates/temps-migrations/src/migration/m20260401_000001_add_tracked_html_body_to_emails.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

fix(email): add missing link_url and link_index columns to email_events
  crates/temps-migrations/src/migration/m20260401_000002_add_missing_email_events_columns.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

feat(email): show per-link click breakdown in email detail UI
  web/src/pages/EmailDetail.tsx
Due: none

docs(changelog): add email tracking fixes and features to unreleased
  CHANGELOG.md
Due: changelog-format

fix(email): use external_url from config for tracking URLs
  Cargo.lock
  crates/temps-email/Cargo.toml
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-email/src/plugin.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-email/src/services/tracking_service.rs
  crates/temps-email/src/services/tracking_service_integration_tests.rs
Due: cargo-fmt, cargo-clippy

feat(email): add tracking events timeline to email detail UI
  web/src/pages/EmailDetail.tsx
Due: none
