Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(email): add bounce/complaint suppression list
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-email/src/plugin.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-email/src/services/mod.rs
  crates/temps-email/src/services/suppression_service.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/suppressed_recipients.rs
  crates/temps-migrations/src/migration/m20260711_000002_create_suppressed_recipients.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

fix(email): verify SNS webhook signatures, fix orphaned events, unify event-type naming
  Cargo.lock
  crates/temps-email-tracking/Cargo.toml
  crates/temps-email-tracking/src/event_service.rs
  crates/temps-email-tracking/src/handlers.rs
  crates/temps-email-tracking/src/plugin.rs
  crates/temps-email-tracking/src/sns.rs
  crates/temps-email/src/handlers/tracking.rs
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-email/src/lib.rs
  crates/temps-email/src/services/tracking_service.rs
  crates/temps-migrations/src/migration/m20260711_000001_normalize_email_event_types.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

feat(email): generate DMARC recommendation, fix DNS TXT-record verification precision
  crates/temps-email/src/dns.rs
  crates/temps-email/src/handlers/domains.rs
  crates/temps-email/src/services/domain_service.rs
Due: cargo-fmt, cargo-clippy

feat(error-tracking): add error group deep link to alert emails
  crates/temps-error-tracking/src/plugin.rs
  crates/temps-error-tracking/src/services/error_alert_service.rs
  crates/temps-error-tracking/src/services/error_tracking_service.rs
  crates/temps-notifications/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(email): add search, pagination, dedup, and per-domain deliverability stats to web UI
  web/src/components/email/EmailAnalytics.tsx
  web/src/components/email/EmailDomainsManagement.tsx
  web/src/components/email/EmailEventTimeline.tsx
  web/src/components/email/EmailProvidersManagement.tsx
  web/src/components/email/EmailsSentList.tsx
  web/src/components/email/shared.tsx
  web/src/components/email/sharedUtils.ts
  web/src/pages/EmailDetail.tsx
  web/src/pages/EmailDomainDetail.tsx
Due: none

fix(email): add tracking-data retention job for GDPR/consent gap
  crates/temps-email/src/plugin.rs
  crates/temps-email/src/services/tracking_service.rs
  crates/temps-email/src/services/tracking_service_integration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(auth): require admin and a single unambiguous target for role assignment
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(auth): prevent MFA challenge session from authenticating real requests
  crates/temps-auth/src/auth_service.rs
  crates/temps-entities/src/sessions.rs
  crates/temps-migrations/src/migration/m20260713_000001_add_mfa_pending_to_sessions.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

test(notifications): cover email CTA button rendering for _action_url
  crates/temps-notifications/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(query-postgres): block function calls in data-browser WHERE clauses
  crates/temps-query-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(webhooks): verify delivery ownership before retry_delivery
  crates/temps-webhooks/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(compose): require DB/Redis secrets and stop exposing internal ports
  .env.example
  docker-compose.yml
Due: none

fix(deps): resolve build breaks from aws-smithy and sqlx version skew
  Cargo.lock
  Cargo.toml
Due: none

fix(git): constant-time comparison for GitHub webhook HMAC signatures
  crates/temps-git/src/services/github.rs
  crates/temps-git/src/services/github_provider.rs
Due: cargo-fmt, cargo-clippy

chore(deps): stop dependabot re-introducing the sqlx/aws-smithy skew
  .github/dependabot.yml
Due: none

feat(backups): add retention cleanup and manual deletion
  apps/temps-cli/src/commands/backups/index.ts
  crates/temps-backup/src/handlers/audit.rs
  crates/temps-backup/src/handlers/backup_handler.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-backup/src/services/mod.rs
  web/src/lib/backup-cleanup.ts
  web/src/pages/BackupDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(dns): never delete untagged records, exclude prod from hostname sync
  crates/temps-dns/src/services/hostname_sync.rs
Due: cargo-fmt, cargo-clippy

fix(settings): align flat hostname api after rebase
  crates/temps-config/src/handler.rs
Due: cargo-fmt, cargo-clippy

feat(dns,settings): per-managed-domain flat hostname mode + Cloudflare zone sync
  CHANGELOG.md
  crates/temps-config/src/handler.rs
  crates/temps-config/src/service.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/public_hostname.rs
  crates/temps-core/src/public_hostname_resolver.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/plugin.rs
  crates/temps-dns/src/providers/azure.rs
  crates/temps-dns/src/providers/cloudflare.rs
  crates/temps-dns/src/providers/digitalocean.rs
  crates/temps-dns/src/providers/gcp.rs
  crates/temps-dns/src/providers/namecheap.rs
  crates/temps-dns/src/providers/route53.rs
  crates/temps-dns/src/providers/traits.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-dns/src/services/mod.rs
  crates/temps-dns/src/services/provider_service.rs
  crates/temps-entities/src/dns_managed_domains.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-migrations/src/migration/m20260622_000001_managed_domain_hostnames.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-routes/src/route_table.rs
  crates/temps-sandbox/src/services/preview_urls.rs
  docs/advanced/networking/page.mdx
  web/src/api/managedDomains.ts
  web/src/api/platformSettings.ts
  web/src/pages/DnsProviderDetail.tsx
  web/src/pages/Settings.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix: resolve clippy warnings (derivable_impls, redundant match arm)
  crates/temps-core/src/public_hostname.rs
Due: cargo-fmt, cargo-clippy

fix(dns): rebase flat hostname support onto current main
  CHANGELOG.md
  crates/temps-config/src/handler.rs
  crates/temps-config/src/service.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/public_hostname.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-dns/src/services/provider_service.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-routes/src/route_table.rs
  crates/temps-sandbox/src/services/preview_urls.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/api/managedDomains.ts
  web/src/pages/DnsProviderDetail.tsx
  web/src/pages/Settings.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(dns): remove unnecessary clone on Copy type DnsRecordType
  crates/temps-dns/src/services/hostname_sync.rs
Due: cargo-fmt, cargo-clippy

fix(git): bind webhook tokens to projects
  crates/temps-git/src/handlers/bitbucket.rs
  crates/temps-git/src/handlers/generic.rs
  crates/temps-git/src/services/git_provider_manager.rs
Due: cargo-fmt, cargo-clippy

style(auth): apply rustfmt
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

ci: remove dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

feat(backups): add previewed retention cleanup
  apps/temps-cli/src/commands/backups/index.ts
  crates/temps-backup/src/handlers/backup_handler.rs
  crates/temps-backup/src/services/backup.rs
  web/src/lib/backup-cleanup.ts
  web/src/pages/ScheduleDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(deps): update sysinfo 0.33 and tungstenite 0.29 API usage after main merge
  crates/temps-agent/src/handlers.rs
  crates/temps-agent/src/server.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-deployer/src/docker.rs
  crates/temps-deployer/src/node_metrics.rs
  crates/temps-deployments/src/handlers/container_exec.rs
  crates/temps-deployments/src/jobs/node_health_check.rs
Due: cargo-fmt, cargo-clippy

fix(ci): migrate bumped dependency APIs
  crates/temps-agent/src/handlers.rs
  crates/temps-agent/src/server.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-deployer/src/docker.rs
  crates/temps-deployer/src/node_metrics.rs
  crates/temps-deployments/src/handlers/container_exec.rs
  crates/temps-deployments/src/jobs/deploy_compose.rs
  crates/temps-deployments/src/jobs/node_health_check.rs
Due: cargo-fmt, cargo-clippy

fix(backup): resolve container-local S3 endpoints
  crates/temps-backup/src/engines/postgres_cluster.rs
  crates/temps-backup/src/engines/postgres_walg.rs
  web/src/components/storage/TriggerBackupDialog.tsx
Due: cargo-fmt, cargo-clippy

feat(analytics): add daily returning visitor metric
  CHANGELOG.md
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/services/queries.rs
  crates/temps-analytics-events/src/services/traits.rs
  crates/temps-analytics-events/src/types/requests.rs
  web/src/api/client/types.gen.ts
  web/src/components/analytics/overview/AnalyticsMetrics.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(analytics): show returning visitor share
  web/src/components/analytics/overview/AnalyticsMetrics.tsx
Due: none

fix(auth): revoke ambiguous sessions during MFA migration
  crates/temps-auth/src/auth_service.rs
  crates/temps-migrations/src/migration/m20260713_000001_add_mfa_pending_to_sessions.rs
  crates/temps-migrations/tests/migration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(auth): enforce credential-scoped admin actions
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(backups): harden retention cleanup
  apps/temps-cli/src/commands/backups/index.ts
  crates/temps-backup/src/engines/control_plane.rs
  crates/temps-backup/src/engines/mariadb_dump.rs
  crates/temps-backup/src/engines/mariadb_physical.rs
  crates/temps-backup/src/engines/mongodb.rs
  crates/temps-backup/src/engines/postgres_cluster.rs
  crates/temps-backup/src/engines/postgres_pgdump.rs
  crates/temps-backup/src/engines/postgres_walg.rs
  crates/temps-backup/src/engines/redis.rs
  crates/temps-backup/src/engines/s3_mirror.rs
  crates/temps-backup/src/engines/v2_common.rs
  crates/temps-backup/src/handlers/audit.rs
  crates/temps-backup/src/handlers/backup_handler.rs
  crates/temps-backup/src/handlers/restore_handler.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-backup/src/services/restore.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/services.rs
  web/src/lib/backup-cleanup.ts
Due: cargo-fmt, cargo-clippy

test(backups): create parent row in MariaDB PITR E2E
  crates/temps-backup/tests/mariadb_pitr_e2e.rs
Due: cargo-fmt, cargo-clippy

fix(query-postgres): close quoted function call bypasses
  Cargo.lock
  crates/temps-query-postgres/Cargo.toml
  crates/temps-query-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(otel): make otel_spans compression effective by dropping trace_id from segmentby
  Cargo.lock
  crates/temps-migrations/Cargo.toml
  crates/temps-migrations/src/migration/m20260714_000001_fix_otel_spans_compression_segmentby.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-otel/src/storage/timescaledb.rs
Due: cargo-fmt, cargo-clippy

feat(monitoring): monitor all mounted disks for disk-space alerts
  crates/temps-config/src/disk_status.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-monitoring/src/disk_space.rs
  web/src/components/settings/MonitoringSettings.tsx
Due: cargo-fmt, cargo-clippy

fix(compose): harden default deployment
  .dockerignore
  .env.example
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  Cargo.lock
  Dockerfile
  crates/temps-auth/src/lib.rs
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-email/src/lib.rs
  crates/temps-email/src/services/mod.rs
  crates/temps-email/src/services/validation/mod.rs
  crates/temps-email/src/services/validation/syntax.rs
  docker-compose.yml
  docs/installation/page.mdx
  docs/upgrade/page.mdx
  scripts/test-compose-security.sh
Due: changelog-format, cargo-fmt, cargo-clippy

fix(email): safely minimize aged tracking metadata
  Cargo.lock
  crates/temps-cli/src/commands/migrate.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-database/Cargo.toml
  crates/temps-database/src/connection.rs
  crates/temps-database/src/lib.rs
  crates/temps-email/src/errors.rs
  crates/temps-email/src/handlers/domains.rs
  crates/temps-email/src/plugin.rs
  crates/temps-email/src/services/tracking_service.rs
  crates/temps-email/src/services/tracking_service_integration_tests.rs
Due: cargo-fmt, cargo-clippy
