Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

fix(email): fix event timeline 404 and event type mismatches
  web/src/components/email/EmailEventTimeline.tsx
Due: none

docs(changelog): add event timeline 404 fix
  CHANGELOG.md
Due: changelog-format

fix(email): add email_id to TrackingEventResponse to fix analytics crash
  crates/temps-email/src/handlers/tracking.rs
Due: cargo-fmt, cargo-clippy

fix(settings): validate external URL on client and server
  crates/temps-config/src/handler.rs
  web/src/pages/Settings.tsx
Due: cargo-fmt, cargo-clippy

feat(sdk): regenerate Node SDK with email tracking types
  crates/temps-email/src/handlers/mod.rs
  crates/temps-email/src/handlers/tracking.rs
  sdks/node/packages/node-sdk/scripts/openapi.json
  sdks/node/packages/node-sdk/src/client/sdk.gen.ts
  sdks/node/packages/node-sdk/src/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

feat(email): add global tracking stats and events endpoints
  crates/temps-email/src/handlers/tracking.rs
  crates/temps-email/src/services/tracking_service.rs
  web/src/components/email/EmailAnalytics.tsx
Due: cargo-fmt, cargo-clippy

fix(email): navigate back to Sent Emails tab from email detail
  web/src/pages/EmailDetail.tsx
Due: none

fix(email): detect Gmail image proxy in user agent parsing
  web/src/components/email/EmailEventTimeline.tsx
Due: none

fix(email): show empty state for headers tab when no custom headers
  web/src/pages/EmailDetail.tsx
Due: none

docs(changelog): add email tracking fixes and SDK regen
  CHANGELOG.md
Due: changelog-format

fix(cli): fix project resolution in env vars subcommands and services env response parsing
  apps/temps-cli/src/commands/environments/index.ts
  apps/temps-cli/src/commands/services/index.ts
Due: none

docs: add CLI env vars fixes to changelog [Unreleased]
  CHANGELOG.md
Due: changelog-format

fix(deps): resolve all 18 dependabot vulnerabilities
  Cargo.lock
  Cargo.toml
  crates/temps-deployments/tests/fixtures/simple-nextjs/package.json
  crates/temps-presets/tests/fixtures/nextjs-hello-world/package.json
  examples/nextjs/basic/package.json
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

docs(changelog): add dependency vulnerability fixes to unreleased section
  CHANGELOG.md
Due: changelog-format

fix(git,web): support GitLab nested groups end-to-end via repo-id routing
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/gitlab_provider.rs
  crates/temps-migrations/src/migration/m20260423_000003_fix_gitlab_nested_group_owner.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/GitImportClone.tsx
  web/src/pages/ImportProject.tsx
Due: cargo-fmt, cargo-clippy

feat(git,web): fire-and-forget repository sync with guaranteed flag reset
  .gitignore
  Cargo.toml
  crates/temps-blob/src/handlers/handler.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/jobs/build_image.rs
  crates/temps-deployments/src/jobs/mod.rs
  crates/temps-deployments/src/jobs/npmrc.rs
  crates/temps-error-tracking/src/sentry/handlers.rs
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/handlers/github.rs
  crates/temps-git/src/services/git_provider_manager.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/rustfs.rs
  crates/temps-providers/src/externalsvc/s3.rs
  web/src/components/repositories/RepositoryList.tsx
  web/src/pages/GitProviderDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(git,web): url-encode GitLab refs and add multiline env var support
  crates/temps-core/templates.yaml
  crates/temps-git/src/services/gitlab_provider.rs
  web/src/components/project/settings/EnvironmentVariablesSettings.tsx
  web/src/components/templates/TemplateCard.tsx
  web/src/components/ui/import-env-dialog.tsx
Due: cargo-fmt, cargo-clippy

feat(secrets,web): mount per-project secrets as files at /run/secrets/<KEY>
  crates/temps-deployer/src/docker.rs
  crates/temps-deployer/src/lib.rs
  crates/temps-deployer/src/remote.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/secret_environments.rs
  crates/temps-entities/src/secrets.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-environments/src/handlers/types.rs
  crates/temps-environments/src/plugin.rs
  crates/temps-environments/src/services/mod.rs
  crates/temps-environments/src/services/secret_service.rs
  crates/temps-environments/src/services/types.rs
  crates/temps-migrations/src/migration/m20260424_000001_create_secrets.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/command/CommandPalette.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/ProjectSettings.tsx
  web/src/components/project/settings/SecretsSettings.tsx
Due: cargo-fmt, cargo-clippy

chore(deps): patch 5 RUSTSEC advisories via cargo update
  Cargo.lock
  Cargo.toml
Due: none

fix(deployer): chown secrets to image USER with graceful EPERM fallback
  crates/temps-deployer/src/docker.rs
Due: cargo-fmt, cargo-clippy

fix(clippy): resolve sandbox sort_by and log-aggregator unused_mut warnings
  crates/temps-log-aggregator/src/services/collector.rs
  crates/temps-log-aggregator/src/services/search.rs
  crates/temps-log-aggregator/src/types.rs
  crates/temps-sandbox/src/services/job_tracker.rs
Due: cargo-fmt, cargo-clippy

fix(clippy): use sort_by_key in disk_space and add ci-local.sh
  crates/temps-monitoring/src/disk_space.rs
  scripts/ci-local.sh
Due: cargo-fmt, cargo-clippy

fix(clippy): collapse lighthouse match arm and bust ci-local.sh cache
  examples/lighthouse-plugin/src/lighthouse.rs
  scripts/ci-local.sh
Due: cargo-fmt, cargo-clippy

fix(clippy): use sort_by_key in temps-otel test_support
  crates/temps-otel/src/test_support.rs
Due: cargo-fmt, cargo-clippy

fix(deps): patch 14 dependabot security advisories
  Cargo.lock
  examples/nextjs/basic/bun.lock
  examples/nextjs/basic/package.json
  examples/node/vercel-ai-tracing/bun.lock
  examples/node/vercel-ai-tracing/package-lock.json
  examples/node/vercel-ai-tracing/package.json
  sdks/node/bun.lock
  sdks/node/packages/svelte-analytics/package.json
Due: none

docs(changelog): note dependabot advisory patches
  CHANGELOG.md
Due: changelog-format

chore(examples): drop package-lock.json from vercel-ai-tracing, keep bun.lock
  examples/node/vercel-ai-tracing/package-lock.json
Due: none

chore(license): relicense from MIT/Apache-2.0 to FSL-1.1-Apache-2.0
  Cargo.toml
  LICENSE
  LICENSE-MIT
  LICENSE.md
  LICENSING.md
  NOTICE
  README.md
  _typos.toml
  crates/temps-captcha-wasm/Cargo.toml
Due: none

docs(changelog): note FSL-1.1-Apache-2.0 relicense
  CHANGELOG.md
Due: changelog-format

fix(templates): add image fallbacks and env var generators
  crates/temps-core/src/templates.rs
  crates/temps-core/templates.yaml
  crates/temps-projects/src/handlers/templates.rs
  web/src/api/client/types.gen.ts
  web/src/components/templates/TemplateCard.tsx
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/components/templates/TemplateImage.tsx
  web/src/components/templates/envVarGenerators.ts
Due: cargo-fmt, cargo-clippy

docs(changelog): add entries for template image fallback and env var generators
  CHANGELOG.md
Due: changelog-format

fix(templates): use platform preview_domain for app_url generator
  CHANGELOG.md
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/components/templates/envVarGenerators.ts
Due: changelog-format

fix(templates): preserve scheme and port from external_url in app_url
  CHANGELOG.md
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/components/templates/envVarGenerators.ts
Due: changelog-format

fix(projects/new): mirror source picker to URL for browser navigation
  CHANGELOG.md
  web/src/components/project/GitImportClone.tsx
Due: changelog-format

fix(projects/new): URL-mirror selected template and git URL
  CHANGELOG.md
  web/src/components/project/GitImportClone.tsx
Due: changelog-format

fix(projects/new): move git-url hooks above early returns
  web/src/components/project/GitImportClone.tsx
Due: none

fix(templates): per-provider icons + adaptive Git Provider picker
  CHANGELOG.md
  web/src/components/project/GitImportClone.tsx
  web/src/components/templates/TemplateConfigurator.tsx
Due: changelog-format

fix(templates): inherit port and scheme from external_url
  CHANGELOG.md
  web/src/components/templates/envVarGenerators.ts
Due: changelog-format

fix(templates): surface real error message instead of "undefined"
  web/src/components/templates/TemplateConfigurator.tsx
Due: none

fix(git): return 409 when GitHub repo name already exists
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/git_provider.rs
  crates/temps-git/src/services/github_provider.rs
  crates/temps-projects/src/handlers/handlers.rs
  web/src/utils/errorHandling.ts
Due: cargo-fmt, cargo-clippy
