Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

fix(web): valid oklch theme tokens in all chart colors and shared tooltip style
  web/src/components/analytics/PageListItem.tsx
  web/src/components/analytics/overview/ChannelsChart.tsx
  web/src/components/analytics/overview/DevicesChart.tsx
  web/src/components/dashboard/VisitorSparkline.tsx
  web/src/components/storage/MonitoringCard.tsx
  web/src/components/ui/sidebar.tsx
  web/src/lib/chart-tooltip.ts
  web/src/pages/ProxyMetrics.tsx
  web/src/pages/ServiceMonitoring.tsx
Due: none

feat(web): project and environment filters on proxy page via log-derived buckets
  web/src/pages/ProxyMetrics.tsx
Due: none

feat(proxy): destination split metrics recorded once per request in logging hook
  CHANGELOG.md
  crates/temps-proxy/src/metrics.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/service/metrics_sampler.rs
  web/src/pages/ProxyMetrics.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(web): send ISO 8601 dates to analytics general-stats
  web/src/pages/ProxyMetrics.tsx
Due: none

feat(web): traffic-by-project table from proxy logs instead of analytics
  web/src/pages/ProxyMetrics.tsx
Due: none

test(proxy): destination classification, multi-interval deltas, node alarm context
  crates/temps-monitoring/src/evaluator.rs
  crates/temps-proxy/src/metrics.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

feat(proxy): backend vs proxy-self latency split metrics
  CHANGELOG.md
  crates/temps-proxy/src/metrics.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/service/metrics_sampler.rs
  web/src/pages/ProxyMetrics.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

test(proxy): end-to-end sampler-to-store integration test
  crates/temps-proxy/src/service/metrics_sampler.rs
Due: cargo-fmt, cargo-clippy

docs(adr): project-scoped RBAC enforcement (ADR 028)
  docs/adr/028-project-scoped-rbac-enforcement.md
Due: none

feat(auth): add ProjectAccessChecker trait and project_access_guard! macro (ADR 028 Phase A)
  crates/temps-auth/src/permission_guard.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/project_access.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/plugin.rs
Due: cargo-fmt, cargo-clippy

revert: ai-chat export of dispatch_write_tool for reuse by other tool-belts
  crates/temps-ai-chat/src/lib.rs
  crates/temps-ai-chat/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(logs): add project_access_guard! to search_logs and tail_logs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
Due: cargo-fmt, cargo-clippy

fix(logs): resolve external_service_id to its owning project(s) before guarding
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-log-aggregator/src/services/metadata.rs
Due: cargo-fmt, cargo-clippy

perf(otel): cache storage quota checks to cut ingest DB load
  crates/temps-otel/src/ingest/mod.rs
  crates/temps-otel/src/ingest/quota_cache.rs
  crates/temps-otel/src/services/otel_service.rs
  crates/temps-otel/src/test_support.rs
Due: cargo-fmt, cargo-clippy

chore(deps): resolve dependabot alerts across cargo, npm, and go
  Cargo.lock
  apps/temps-cli/bun.lock
  apps/temps-cli/package.json
  examples/go/gin-basic/go.mod
  examples/go/gin-basic/go.sum
  examples/otel-demo/package.json
  mcp/bun.lock
  mcp/package.json
  packages/api/bun.lock
  packages/api/package.json
  sdks/node/bun.lock
  sdks/node/packages/node-sdk/package.json
Due: none

perf(auth): throttle last_used_at writes on every authenticated request
  crates/temps-auth/src/apikey_service.rs
  crates/temps-auth/src/deployment_token_service.rs
  crates/temps-auth/src/last_used_throttle.rs
  crates/temps-auth/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(ai-tools): expose deployment and node metrics to AI read allowlist
  crates/temps-cli/src/commands/serve/console.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): bound proxy-log id lookups to hypertable chunks
  crates/temps-proxy/src/handler/proxy_logs.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/storage/clickhouse.rs
  crates/temps-proxy/src/storage/mod.rs
  crates/temps-proxy/src/storage/timescaledb.rs
Due: cargo-fmt, cargo-clippy

perf(status-page): bound monitor-health latest-check lookup to recent chunks
  crates/temps-status-page/src/services/monitor_service.rs
Due: cargo-fmt, cargo-clippy

perf(web): forward log row timestamps to the proxy-log detail endpoint
  web/src/api/client/types.gen.ts
  web/src/components/analytics/AiCrawlerActivityFeed.tsx
  web/src/components/logs/ProxyLogsList.tsx
  web/src/components/proxy-logs/ProxyLogDetail.tsx
  web/src/components/proxy-logs/ProxyLogsDataTable.tsx
  web/src/components/visitors/SessionDetail.tsx
  web/src/pages/ProxyLogDetail.tsx
  web/src/pages/RequestLogDetail.tsx
  web/src/pages/RequestLogsList.tsx
Due: none

fix(auth): enforce privilege ceiling on custom API key permissions
  crates/temps-auth/src/apikey_handler.rs
  crates/temps-auth/src/audit.rs
Due: cargo-fmt, cargo-clippy

fix(auth): close permission ceiling gap on predefined API key roles
  crates/temps-auth/src/apikey_handler.rs
Due: cargo-fmt, cargo-clippy

test(ai-tools): verify the AI read allowlist resolves and never leaks writes
  crates/temps-cli/src/commands/serve/console.rs
Due: cargo-fmt, cargo-clippy

fix(git): wire list_repositories_by_provider to the router and OpenAPI doc
  crates/temps-git/src/handlers/base.rs
Due: cargo-fmt, cargo-clippy

feat(auth): project-scoped permission narrowing (project_permission_guard!)
  crates/temps-auth/src/permission_guard.rs
  crates/temps-core/src/project_access.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-projects/src/handlers/custom_domains.rs
  crates/temps-projects/src/handlers/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): correct check_analytics_has_events OpenAPI doc to its real route
  crates/temps-analytics/src/handler.rs
Due: cargo-fmt, cargo-clippy

chore(web): regenerate OpenAPI SDK and fix TS fallout from generator drift
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/client.gen.ts
  web/src/api/client/client/client.gen.ts
  web/src/api/client/client/index.ts
  web/src/api/client/client/types.gen.ts
  web/src/api/client/client/utils.gen.ts
  web/src/api/client/core/auth.gen.ts
  web/src/api/client/core/bodySerializer.gen.ts
  web/src/api/client/core/params.gen.ts
  web/src/api/client/core/pathSerializer.gen.ts
  web/src/api/client/core/queryKeySerializer.gen.ts
  web/src/api/client/core/serverSentEvents.gen.ts
  web/src/api/client/core/types.gen.ts
  web/src/api/client/core/utils.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/CrossProjectTraceDetail.tsx
  web/src/pages/Observe.tsx
  web/src/pages/TraceDetail.tsx
  web/tsconfig.json
Due: none

fix(git): scope list_repositories_by_provider to the caller's own connections
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/repository.rs
Due: cargo-fmt, cargo-clippy

fix(git): paginate list_repositories_by_provider, fix response shape
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/repository.rs
Due: cargo-fmt, cargo-clippy

fix(auth): fail closed on unresolvable caller identity in project_permission_guard!
  crates/temps-auth/src/permission_guard.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): resolve visitor_id on lookup miss instead of dropping it
  crates/temps-analytics-events/src/services/events_service.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): simplify manual Option::filter to satisfy clippy --all-features
  crates/temps-analytics/src/analytics.rs
Due: cargo-fmt, cargo-clippy

fix(backup): remove redundant reference in format! args across backup engines
  crates/temps-backup/src/engines/control_plane.rs
  crates/temps-backup/src/engines/mongodb.rs
  crates/temps-backup/src/engines/postgres_pgdump.rs
  crates/temps-backup/src/engines/redis.rs
  crates/temps-backup/src/engines/s3_mirror.rs
Due: cargo-fmt, cargo-clippy

fix(agents,sandbox): resolve remaining --all-features clippy failures; add fallback-insert observability log
  crates/temps-agents/src/services/config_service.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-sandbox/tests/vercel_compat.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): normalise v2 session cookie; make visitor-journey JOINs format-tolerant
  crates/temps-analytics/src/analytics.rs
  crates/temps-core/src/request_metadata.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): self-heal missing request_sessions row on ingest; stop NULL crash in sessions tab
  crates/temps-analytics-events/src/services/events_service.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): apply v2-session-id tolerant matching to get_session_details
  crates/temps-analytics/src/analytics.rs
Due: cargo-fmt, cargo-clippy

chore(lint): fix pre-existing clippy warnings blocking commit hook
  crates/temps-agents/src/services/config_service.rs
  crates/temps-analytics/src/analytics.rs
  crates/temps-backup/src/engines/control_plane.rs
  crates/temps-backup/src/engines/mongodb.rs
  crates/temps-backup/src/engines/postgres_pgdump.rs
  crates/temps-backup/src/engines/redis.rs
  crates/temps-backup/src/engines/s3_mirror.rs
  crates/temps-sandbox/tests/vercel_compat.rs
Due: cargo-fmt, cargo-clippy

fix(domains): wire config/DNS services into TlsService for auto-renewal
  crates/temps-domains/src/handlers/domain_handler.rs
  crates/temps-domains/src/plugin.rs
  crates/temps-domains/src/tls/service.rs
Due: cargo-fmt, cargo-clippy
