Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

fix(dns): harden managed record ownership
  crates/temps-dns/src/handlers/managed_records.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/ownership.rs
  crates/temps-dns/src/plugin.rs
  crates/temps-dns/src/providers/cloudflare.rs
  crates/temps-dns/src/providers/namecheap.rs
  crates/temps-dns/src/providers/traits.rs
  crates/temps-dns/src/services/managed_records.rs
  crates/temps-dns/src/services/mod.rs
  crates/temps-dns/src/services/provider_service.rs
Due: cargo-fmt, cargo-clippy

feat(dns,settings): per-managed-domain flat hostname mode + Cloudflare zone sync
  CHANGELOG.md
  crates/temps-config/src/handler.rs
  crates/temps-config/src/service.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/public_hostname.rs
  crates/temps-core/src/public_hostname_resolver.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/plugin.rs
  crates/temps-dns/src/providers/azure.rs
  crates/temps-dns/src/providers/cloudflare.rs
  crates/temps-dns/src/providers/digitalocean.rs
  crates/temps-dns/src/providers/gcp.rs
  crates/temps-dns/src/providers/namecheap.rs
  crates/temps-dns/src/providers/route53.rs
  crates/temps-dns/src/providers/traits.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-dns/src/services/mod.rs
  crates/temps-dns/src/services/provider_service.rs
  crates/temps-entities/src/dns_managed_domains.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-migrations/src/migration/m20260622_000001_managed_domain_hostnames.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-routes/src/route_table.rs
  crates/temps-sandbox/src/services/preview_urls.rs
  docs/advanced/networking/page.mdx
  web/src/api/managedDomains.ts
  web/src/api/platformSettings.ts
  web/src/pages/DnsProviderDetail.tsx
  web/src/pages/Settings.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

chore: format prerequisite integration
  crates/temps-core/src/lib.rs
  crates/temps-core/src/public_hostname.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/plugin.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-dns/src/services/provider_service.rs
Due: cargo-fmt, cargo-clippy

fix(dns): remove unnecessary clone on Copy type DnsRecordType
  crates/temps-dns/src/services/hostname_sync.rs
Due: cargo-fmt, cargo-clippy

fix(settings): align flat hostname api after rebase
  crates/temps-config/src/handler.rs
Due: cargo-fmt, cargo-clippy

fix: resolve clippy warnings (derivable_impls, redundant match arm)
  crates/temps-core/src/public_hostname.rs
Due: cargo-fmt, cargo-clippy

fix(dns): rebase flat hostname support onto current main
  CHANGELOG.md
  crates/temps-config/src/handler.rs
  crates/temps-config/src/service.rs
  crates/temps-core/src/public_hostname.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-routes/src/route_table.rs
  crates/temps-sandbox/src/services/preview_urls.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/api/managedDomains.ts
  web/src/pages/DnsProviderDetail.tsx
  web/src/pages/Settings.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(email): secure SNS event processing
  CHANGELOG.md
  Cargo.lock
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-email-tracking/src/errors.rs
  crates/temps-email-tracking/src/event_service.rs
  crates/temps-email-tracking/src/handlers.rs
  crates/temps-email-tracking/src/plugin.rs
  crates/temps-email-tracking/src/sns.rs
  crates/temps-email/src/handlers/providers.rs
  crates/temps-email/src/handlers/types.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-email/src/services/provider_service.rs
  crates/temps-email/src/services/suppression_service.rs
  crates/temps-entities/src/email_events.rs
  crates/temps-entities/src/email_providers.rs
  crates/temps-entities/src/suppressed_recipients.rs
  crates/temps-migrations/src/migration/m20260711_000001_normalize_email_event_types.rs
  crates/temps-migrations/src/migration/m20260711_000002_create_suppressed_recipients.rs
  crates/temps-migrations/src/migration/m20260714_000001_secure_sns_email_events.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-migrations/tests/migration_tests.rs
  web/src/api/client/types.gen.ts
  web/src/components/email/EmailProvidersManagement.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(dns): complete managed DNS lifecycle
  CHANGELOG.md
  crates/temps-dns/src/handlers/managed_records.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/ownership.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-dns/src/services/managed_records.rs
  crates/temps-dns/src/services/provider_service.rs
  crates/temps-entities/src/dns_managed_record_states.rs
  crates/temps-entities/src/dns_reconciliation_runs.rs
  crates/temps-entities/src/lib.rs
  crates/temps-migrations/src/migration/m20260713_000002_add_dns_ownership.rs
  crates/temps-migrations/tests/migration_tests.rs
  crates/temps-proxy/Cargo.toml
  crates/temps-proxy/src/tls_cert_loader.rs
  docs/adr/031-managed-dns-records-and-cloudflare-proxied-mode.md
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/DnsProviderDetail.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(webhooks): enforce retry tenant scope in service
  CHANGELOG.md
  crates/temps-webhooks/src/handlers.rs
  crates/temps-webhooks/src/service.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(query-postgres): reject alternate subquery forms
  CHANGELOG.md
  crates/temps-query-postgres/src/lib.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(compose): secure credential setup and bootstrap errors
  .env.example
  crates/temps-cli/src/commands/serve/console.rs
  docs/installation/page.mdx
  docs/upgrade/page.mdx
  scripts/test-compose-security.sh
Due: cargo-fmt, cargo-clippy

fix(query-postgres): parse SQL literals safely
  CHANGELOG.md
  crates/temps-query-postgres/src/lib.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(compose): exclude admin secrets from build context
  .dockerignore
  .gitignore
  scripts/test-compose-security.sh
Due: none

fix(query-postgres): handle high-bit dollar tags
  crates/temps-query-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy

test(query-postgres): execute attacks against seeded table
  crates/temps-query-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(settings): show web-console banner when a newer release is available
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-cli/src/commands/upgrade.rs
  crates/temps-config/src/handler.rs
  crates/temps-config/src/plugin.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/update_status.rs
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/alerts/UpdateAvailableBanner.tsx
  web/src/hooks/useUpdateStatus.ts
Due: cargo-fmt, cargo-clippy

fix(auth): require MFA on magic-link login
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(backup): stop stranding failed uploads that block retention cleanup
  crates/temps-backup/src/services/backup.rs
Due: cargo-fmt, cargo-clippy

feat(skills): add estimate-temps-savings skill
  docs/features/skills/page.mdx
  skills/estimate-temps-savings/SKILL.md
  skills/estimate-temps-savings/references/pricing.md
Due: none

fix(proxy): harden reverse proxy routes
  crates/temps-cli/src/commands/route.rs
  crates/temps-cli/src/lib.rs
  crates/temps-core/src/url_validation.rs
  crates/temps-entities/src/custom_routes.rs
  crates/temps-migrations/src/migration/m20260714_000001_harden_custom_routes.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-proxy/src/handler/handler.rs
  crates/temps-proxy/src/handler/types.rs
  crates/temps-proxy/src/plugin.rs
  crates/temps-proxy/src/service/lb_service.rs
  crates/temps-proxy/tests/custom_routes_integration.rs
  crates/temps-routes/src/route_table.rs
  crates/temps-routes/src/route_table_test.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  docs/adr/020-reverse-proxy-routes.md
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

feat(cli): add `temps route` for first-class reverse-proxy routes
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/commands/route.rs
  crates/temps-cli/src/lib.rs
  docs/adr/020-reverse-proxy-routes.md
Due: cargo-fmt, cargo-clippy

chore(web): replace rocketship logo assets with the t brand mark
  web/public/favicon.png
  web/public/logo/temps-logo-dark.png
  web/public/logo/temps-logo-light.png
  web/public/svg/temps-logo-dark.svg
  web/public/svg/temps-logo-light.svg
Due: none

feat(analytics): add raw event entries drill-down with JSON props view
  crates/temps-analytics/src/analytics.rs
  crates/temps-analytics/src/handler.rs
  crates/temps-analytics/src/traits.rs
  crates/temps-analytics/src/types/requests.rs
  crates/temps-analytics/src/types/responses.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/analytics/EventDetail.tsx
Due: cargo-fmt, cargo-clippy

docs(readme): refresh console screenshots with current UI and t brand mark
  assets/screenshots/analytics-7days.png
  assets/screenshots/analytics.png
  assets/screenshots/dashboard.png
  assets/screenshots/deployments.png
  assets/screenshots/domains.png
  assets/screenshots/monitoring-detail.png
  assets/screenshots/monitoring.png
  assets/screenshots/project-overview.png
  assets/screenshots/proxy-logs.png
Due: none

docs(readme): make competitor comparison fair, sourced from temps.sh compare pages
  README.md
Due: none

docs(readme): drop WireGuard wording from multi-node row
  README.md
Due: none

feat(analytics): syntax-highlight event custom data JSON via CodeBlock
  web/src/components/analytics/EventDetail.tsx
Due: none

feat(analytics): pin event JSON properties as table columns
  web/src/components/analytics/EventDetail.tsx
Due: none

fix(proxy): harden preview cookie session handling
  crates/temps-proxy/src/handler/preview_wall.rs
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

ci(compose-security): cache Docker toolchain layers and prebuild with fast profile
  .github/compose-security.prebuilt.yml
  .github/workflows/rust-tests.yml
  Dockerfile
  scripts/test-compose-security.sh
Due: none

style: satisfy cargo fmt in handlers.rs test imports
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

ci(compose-security): disable product telemetry in the test harness
  scripts/compose-security.harness.yml
  scripts/test-compose-security.sh
Due: none

fix(web): escape HTML in CodeBlock JSON highlighter to prevent stored XSS
  web/src/components/ui/code-block.tsx
Due: none

ci(compose-security): compile binary outside Docker with persistent cargo cache
  .dockerignore
  .github/workflows/rust-tests.yml
  .gitignore
  Dockerfile
  scripts/test-compose-security.sh
Due: none

feat(settings): configure update check interval
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-cli/src/commands/upgrade.rs
Due: cargo-fmt, cargo-clippy

fix(core): resolve request IP trust-awarely for audit/logging
  crates/temps-auth/src/lib.rs
  crates/temps-auth/src/middleware.rs
  crates/temps-auth/src/rate_limit.rs
  crates/temps-core/src/client_ip.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/request_metadata.rs
Due: cargo-fmt, cargo-clippy

perf(metrics): time-bound latest-value queries to stop full-history hypertable scans
  crates/temps-metrics/src/store/timescale.rs
Due: cargo-fmt, cargo-clippy

fix(cli): type email command output and sanitize rendered bodies
  apps/temps-cli/src/commands/emails/index.ts
Due: none

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
