Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

docs(changelog): add PR #64 changelog to tmp/
  tmp/CHANGELOG-PR-64.md
Due: none

docs(changelog): document 409-on-duplicate-repo-name fix
  CHANGELOG.md
  tmp/CHANGELOG-PR-64.md
Due: changelog-format

feat(network): multi-host container networking crate (foundational)
  .github/workflows/network-kernel-tests.yml
  Cargo.lock
  Cargo.toml
  crates/temps-network/Cargo.toml
  crates/temps-network/README.md
  crates/temps-network/src/config.rs
  crates/temps-network/src/diff.rs
  crates/temps-network/src/docker.rs
  crates/temps-network/src/error.rs
  crates/temps-network/src/lib.rs
  crates/temps-network/src/linux/bridge.rs
  crates/temps-network/src/linux/firewall.rs
  crates/temps-network/src/linux/mod.rs
  crates/temps-network/src/linux/route.rs
  crates/temps-network/src/linux/sysctl.rs
  crates/temps-network/src/linux/vxlan.rs
  crates/temps-network/src/manager.rs
  crates/temps-network/tests/dind/README.md
  crates/temps-network/tests/dind/run-single.sh
  crates/temps-network/tests/dind/run.sh
  crates/temps-network/tests/it_kernel.rs
  scripts/network-poc/README.md
  scripts/network-poc/node-down.sh
  scripts/network-poc/node-up.sh
Due: cargo-fmt, cargo-clippy

refactor(network): rename pod_cidr to compute_cidr
  crates/temps-network/README.md
  crates/temps-network/src/config.rs
  crates/temps-network/src/diff.rs
  crates/temps-network/src/docker.rs
  crates/temps-network/src/lib.rs
  crates/temps-network/src/linux/bridge.rs
  crates/temps-network/src/linux/firewall.rs
  crates/temps-network/src/linux/mod.rs
  crates/temps-network/src/manager.rs
  crates/temps-network/tests/dind/README.md
  crates/temps-network/tests/it_kernel.rs
  scripts/network-poc/node-up.sh
Due: cargo-fmt, cargo-clippy

feat(network): add compute_cidr/underlay_address columns + network_config table
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-deployments/src/jobs/node_health_check.rs
  crates/temps-deployments/src/services/node_scheduler.rs
  crates/temps-deployments/src/services/node_service.rs
  crates/temps-deployments/tests/multinode_integration_test.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/network_config.rs
  crates/temps-entities/src/nodes.rs
  crates/temps-migrations/src/migration/m20260427_000001_add_compute_network.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-migrations/tests/migration_tests.rs
Due: cargo-fmt, cargo-clippy

refactor(network): rename docker network temps0 to temps-overlay
  crates/temps-network/README.md
  crates/temps-network/tests/dind/run.sh
  crates/temps-network/tests/it_kernel.rs
Due: cargo-fmt, cargo-clippy

feat(network): add ComputeNetworkAllocator (Postgres-backed)
  Cargo.lock
  crates/temps-network/Cargo.toml
  crates/temps-network/src/allocator.rs
  crates/temps-network/src/lib.rs
  crates/temps-network/tests/it_allocator.rs
Due: cargo-fmt, cargo-clippy

feat(network): GET /internal/nodes/{id}/network/peers endpoint
  Cargo.lock
  crates/temps-deployments/Cargo.toml
  crates/temps-deployments/src/handlers/mod.rs
  crates/temps-deployments/src/handlers/network.rs
  crates/temps-deployments/src/handlers/nodes.rs
Due: cargo-fmt, cargo-clippy

feat(network): wire NetworkManager into temps-agent startup
  Cargo.lock
  crates/temps-agent/Cargo.toml
  crates/temps-agent/src/lib.rs
  crates/temps-agent/src/network_sync.rs
  crates/temps-agent/src/server.rs
Due: cargo-fmt, cargo-clippy

feat(network): deployer additionally attaches new containers to temps-overlay
  crates/temps-cli/src/commands/agent.rs
  crates/temps-deployer/src/docker.rs
Due: cargo-fmt, cargo-clippy

feat(network): temps network CLI (status, peers, diag)
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/commands/network.rs
  crates/temps-cli/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(network): use stable rust toolchain in DinD harnesses
  crates/temps-network/tests/dind/run-single.sh
  crates/temps-network/tests/dind/run.sh
Due: none

fix(network): reuse Peer/NodeAlloc across calls in idempotence tests
  crates/temps-network/tests/it_kernel.rs
Due: cargo-fmt, cargo-clippy

feat(network): auto-allocate compute_cidr on register_node
  crates/temps-deployments/src/handlers/nodes.rs
Due: cargo-fmt, cargo-clippy

feat(dev-cluster): local 3-worker distributed Temps cluster
  tools/dev-cluster/.gitignore
  tools/dev-cluster/Dockerfile.dind-temps
  tools/dev-cluster/README.md
  tools/dev-cluster/dev-cluster
  tools/dev-cluster/docker-compose.yml
  tools/dev-cluster/entrypoint.sh
  tools/dev-cluster/role-control-plane.sh
  tools/dev-cluster/role-worker.sh
Due: none

fix(dev-cluster): add cmake/protoc/libpq build deps to dind image
  tools/dev-cluster/Dockerfile.dind-temps
Due: none

fix(dev-cluster): handle slow first-build (prebuild + raise timeouts)
  tools/dev-cluster/dev-cluster
  tools/dev-cluster/docker-compose.yml
Due: none

fix(dev-cluster): mount target/ as named volume to fix cargo cache
  tools/dev-cluster/docker-compose.yml
Due: none

fix(domains): show renew action for ACME certificates with non-standard verification_method
  web/src/pages/DomainDetail.tsx
Due: none

fix(dev-cluster): persist cargo's git-dep cache too
  tools/dev-cluster/docker-compose.yml
Due: none

fix(dev-cluster): document GeoLite2 db requirement + gitignore it
  .gitignore
  tools/dev-cluster/README.md
Due: none

fix(dev-cluster): control-plane healthcheck broken by dash
  tools/dev-cluster/docker-compose.yml
Due: none

fix(dev-cluster): pass --external-url to setup so the proxy doesn't redirect to localho.st
  tools/dev-cluster/role-control-plane.sh
Due: none

feat(providers): add/remove cluster members at runtime
  crates/temps-providers/src/handlers/audit.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(web): add/remove cluster member UI in service detail
  web/src/pages/ServiceDetail.tsx
Due: none

feat(providers,web): async add-cluster-member with live provisioning page
  crates/temps-entities/src/service_members.rs
  crates/temps-migrations/src/migration/m20260427_000004_add_provisioning_to_service_members.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-providers/src/externalsvc/postgres_cluster.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/services.rs
  web/src/App.tsx
  web/src/pages/AddClusterMember.tsx
  web/src/pages/ServiceDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(providers): add_cluster_member must use monitor underlay IP, not FQDN
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(dns): wire temps Hickory resolver into every cluster container
  crates/temps-agent/src/handlers.rs
  crates/temps-agent/src/network_sync.rs
  crates/temps-agent/src/server.rs
  crates/temps-agent/src/service_handlers.rs
  crates/temps-dns-resolver/src/sync_client.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(providers,web): promote a replica to primary from the cluster table
  crates/temps-providers/src/handlers/audit.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/remote_service_client.rs
  crates/temps-providers/src/services.rs
  web/src/pages/ServiceDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(providers): sync service_members.role from monitor + spawn reconcilers at startup
  crates/temps-providers/src/externalsvc/postgres_role_reconciler.rs
  crates/temps-providers/src/plugin.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(web): refresh cluster table aggressively after promote/remove
  web/src/pages/ServiceDetail.tsx
Due: none

chore(dev-cluster): gitignore stray out.txt log captures
  tools/dev-cluster/.gitignore
Due: none

feat(images): bake WAL-G into the postgres-ha cluster image
  images/postgres-ha/Dockerfile
Due: none

feat(providers,backup): cluster-aware WAL-G basebackups + continuous WAL archiving
  crates/temps-backup/src/services/backup.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(providers,backup): in-place restore for Postgres HA clusters
  crates/temps-backup/src/services/restore.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(providers): point clusters at the new -walg postgres-ha tag
  crates/temps-providers/src/externalsvc/postgres_cluster.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(web): show the -walg cluster image in the create-service preview
  web/src/pages/CreateServiceNew.tsx
Due: none

docs(changelog): describe the multi-host DNS + cluster lifecycle ship
  CHANGELOG.md
Due: changelog-format

refactor(providers): typed ClusterRole + PgAutoFailoverState enums
  crates/temps-providers/src/externalsvc/cluster_role.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/externalsvc/postgres_cluster.rs
  crates/temps-providers/src/externalsvc/postgres_role_reconciler.rs
  crates/temps-providers/src/lib.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
