Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

fix(cli): add per-command --context flag to avoid silent wrong-server runs
  apps/temps-cli/src/cli.ts
  apps/temps-cli/src/config/contexts.test.ts
  apps/temps-cli/src/config/contexts.ts
Due: none

fix(web): fix duplicate day-label tooltip mismatch in monitoring charts
  web/src/components/storage/MonitoringCard.tsx
  web/src/lib/chart-tooltip.ts
  web/src/pages/ServiceMonitoring.tsx
Due: none

feat(cli): add --connection flag to projects git for non-interactive use
  apps/temps-cli/src/commands/projects/index.ts
  apps/temps-cli/src/commands/projects/update.ts
Due: none

test(deployments): fix job count in test_workflow_planner_integration
  crates/temps-deployments/src/services/job_processor.rs
Due: cargo-fmt, cargo-clippy

fix(git,projects): enforce connection ownership on git-provider IDOR paths
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/git_provider_manager.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/services/project.rs
Due: cargo-fmt, cargo-clippy

test(projects): add IDOR regression tests for update_git_settings
  crates/temps-projects/src/services/project.rs
Due: cargo-fmt, cargo-clippy

docs(readme): move why-statement above the fold, add stop-paying banner
  README.md
  assets/hero/stop-paying-dark.svg
  assets/hero/stop-paying-light.svg
Due: none

feat(providers): add pg_stat_statements slow-query endpoint for provisioned Postgres services
  crates/temps-monitoring/src/plugin.rs
  crates/temps-providers/src/handlers/mod.rs
  crates/temps-providers/src/handlers/pg_stat_statements_handlers.rs
  crates/temps-providers/src/lib.rs
  crates/temps-providers/src/pg_stat_statements.rs
  crates/temps-providers/src/plugin.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: cargo-fmt, cargo-clippy

feat(web): add date/time range picker to service logs screen
  web/src/pages/ServiceLogs.tsx
Due: none

feat(cli): add services logs command with time range and level filters
  apps/temps-cli/src/commands/services/index.ts
  skills/temps-cli/SKILL.md
Due: none

docs(readme): add one-word category labels under each replaced tool
  assets/hero/stop-paying-dark.svg
  assets/hero/stop-paying-light.svg
Due: none

fix(cli): rename global scoping flag to --target-context to avoid collision
  apps/temps-cli/src/cli.ts
Due: none

docs(readme): group replaced tools in one border instead of crossing out each logo
  assets/hero/stop-paying-dark.svg
  assets/hero/stop-paying-light.svg
Due: none

docs(readme): make the temps mark bigger, the clear payoff of the banner
  assets/hero/stop-paying-dark.svg
  assets/hero/stop-paying-light.svg
Due: none

docs(readme): remove duplicate temps logo above the hero banner
  README.md
Due: none

docs(readme): bigger headline, more space before the tool row
  assets/hero/stop-paying-dark.svg
  assets/hero/stop-paying-light.svg
Due: none

docs(skills): clarify dual build/runtime injection, ban hardcoded credentials
  skills/temps-best-practices/SKILL.md
  skills/temps-best-practices/references/error-tracking.md
  skills/temps-best-practices/references/opentelemetry-traces.md
Due: none

feat(cli): add `temps projects secrets` subcommand
  apps/temps-cli/src/commands/projects/index.ts
  apps/temps-cli/src/commands/projects/secrets.ts
Due: none

fix(skills): document Sentry/OTel tracer conflict and SENTRY_RELEASE
  skills/temps-best-practices/SKILL.md
  skills/temps-best-practices/references/error-tracking.md
  skills/temps-best-practices/references/opentelemetry-traces.md
Due: none

fix(security): audit explicit credential reveals
  CHANGELOG.md
  crates/temps-agents/src/handlers/definitions.rs
  crates/temps-agents/src/handlers/mod.rs
  crates/temps-agents/src/plugin.rs
  crates/temps-agents/src/services/definition_service.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-notifications/src/services.rs
  crates/temps-providers/src/handlers/audit.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/services.rs
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/monitoring/ProvidersManagement.tsx
  web/src/components/monitoring/schemas.ts
  web/src/pages/EditNotificationProvider.tsx
  web/src/pages/ServiceDetail.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(security): harden credential reveal boundaries
  crates/temps-agents/src/error.rs
  crates/temps-agents/src/handlers/config.rs
  crates/temps-agents/src/handlers/definitions.rs
  crates/temps-agents/src/services/definition_service.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-notifications/src/services.rs
  crates/temps-providers/src/handlers/handlers.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/ServiceDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(security): fail safe malformed credential configs
  crates/temps-agents/src/services/definition_service.rs
  crates/temps-notifications/src/services.rs
  web/src/api/client/@tanstack/react-query.gen.ts
Due: cargo-fmt, cargo-clippy

fix(git): add ownership check to sync_repositories (IDOR)
  crates/temps-git/src/handlers/base.rs
Due: cargo-fmt, cargo-clippy

fix(providers): add shared_preload_libraries=pg_stat_statements to standalone postgres container
  crates/temps-providers/src/externalsvc/postgres.rs
Due: cargo-fmt, cargo-clippy

fix(web): guard logs hook against undefined response data to prevent next_cursor crash
  web/src/hooks/useLogHistory.ts
Due: none

test(providers): assert audited parameter reveal boundary
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(skills): harden temps-cli and add security gate
  .github/skill-scanner-requirements.in
  .github/skill-scanner-requirements.txt
  .github/workflows/skill-security.yml
  CHANGELOG.md
  skills/temps-cli/README.md
  skills/temps-cli/SKILL.md
Due: changelog-format

fix(ci): keep skill security gate required
  .github/workflows/skill-security.yml
Due: none

feat(web): add sortable slow queries table to Postgres service monitoring
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/ServiceMonitoring.tsx
Due: none

feat(cli): add services slow-queries command for pg_stat_statements
  apps/temps-cli/src/commands/services/index.ts
  skills/temps-cli/SKILL.md
Due: none

feat(providers): add pagination to pg_stat_statements slow-queries endpoint
  crates/temps-providers/src/handlers/pg_stat_statements_handlers.rs
  crates/temps-providers/src/pg_stat_statements.rs
Due: cargo-fmt, cargo-clippy

ci(skills): add full security audits
  .github/workflows/skill-security.yml
  CHANGELOG.md
Due: changelog-format

feat(web): add dedicated Query Performance page with sectioned layout
  apps/temps-cli/src/commands/services/index.ts
  web/src/App.tsx
  web/src/api/client/types.gen.ts
  web/src/pages/ServiceDetail.tsx
  web/src/pages/ServiceMonitoring.tsx
  web/src/pages/ServiceQueryPerformance.tsx
Due: none

docs(skill): update slow-queries flags to page/page-size in SKILL.md
  skills/temps-cli/SKILL.md
Due: none

perf(build): isolate BuildKit cache mounts
  crates/temps-deployments/src/services/workflow_planner.rs
Due: cargo-fmt, cargo-clippy

fix(deployments): scope job metadata to projects
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-deployments/src/services/workflow_planner.rs
Due: cargo-fmt, cargo-clippy

fix(skills): close audit trust boundary gaps
  .github/workflows/skill-security.yml
  CHANGELOG.md
  skills/add-react-analytics/SKILL.md
  skills/add-session-recording/SKILL.md
  skills/stripe-best-practices
  skills/stripe-projects
  skills/temps-platform-setup/SKILL.md
  skills/upgrade-stripe
Due: changelog-format

fix(api): redact deployment job configuration
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/types.rs
Due: cargo-fmt, cargo-clippy

fix(deployments): close deployment ownership review gaps
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/services/services.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  web/src/components/deployments/DeploymentStages.tsx
Due: cargo-fmt, cargo-clippy

fix(build): isolate compose BuildKit caches
  crates/temps-deployer/src/compose.rs
  crates/temps-deployments/src/jobs/deploy_compose.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
