Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

fix(analytics): fix same fabricated +/-100% trend in ClickHouse backend
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/events_service.rs
Due: cargo-fmt, cargo-clippy

test(domains): cover DNS TXT challenge batch cleanup+create
  crates/temps-domains/src/handlers/domain_handler.rs
Due: cargo-fmt, cargo-clippy

test(analytics): add testcontainer regression tests for dashboard trend fix
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/events_service.rs
Due: cargo-fmt, cargo-clippy

fix(analytics): fix ClickHouse testcontainer wait + two live SQL bugs
  crates/temps-analytics-events/Cargo.toml
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
Due: cargo-fmt, cargo-clippy

fix(providers): guard postgres start against concurrent major upgrade
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): harden postgres major upgrades
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): pin postgres healthcheck to the configured database
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: cargo-fmt, cargo-clippy

fix(providers): stop copy_volume auto-removing its sidecar out from under the new removal check
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
Due: cargo-fmt, cargo-clippy

fix(providers): map UpgradeInProgress to 409 instead of a generic 500
  crates/temps-providers/src/handlers/handlers.rs
Due: cargo-fmt, cargo-clippy

test(providers): add coverage for the pg_isready -d healthcheck fix
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: cargo-fmt, cargo-clippy

docs(adr): add ADR-026 for metric alert label filters and dynamic alerting
  docs/adr/026-metric-alert-label-filters-and-dynamic-alerting.md
Due: none

fix(providers): reject major-version bump in legacy upgrade() to prevent data loss
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/handlers/handlers.rs
Due: cargo-fmt, cargo-clippy

feat(web): surface AI invocations inline in trace views
  web/src/pages/AiGateway.tsx
  web/src/pages/TraceDetail.tsx
  web/src/pages/TracesList.tsx
Due: none

test(providers): assert full-cluster survival in pg upgrade dump/restore test
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
Due: cargo-fmt, cargo-clippy

fix(providers): address postgres upgrade review findings (leak, races, typed errors)
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/postgres_lifecycle.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): satisfy rustfmt and clippy -D warnings on prior fix
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: cargo-fmt, cargo-clippy

feat(otel): cross-project trace linking (ADR-027)
  crates/temps-agents/src/services/config_service.rs
  crates/temps-agents/src/services/executor.rs
  crates/temps-ai-chat/src/handlers.rs
  crates/temps-ai-chat/src/pending_actions.rs
  crates/temps-ai-chat/src/providers/project.rs
  crates/temps-ai-chat/src/providers/repo_tools.rs
  crates/temps-ai-chat/src/service.rs
  crates/temps-entities/src/cross_project_trace_refs.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/prelude.rs
  crates/temps-entities/src/projects.rs
  crates/temps-migrations/src/migration/m20260703_000001_cross_project_trace_refs.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-notifications/src/vulnerability_notifications.rs
  crates/temps-otel/src/handlers/audit.rs
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/lib.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/cross_project.rs
  crates/temps-otel/src/services/mod.rs
  crates/temps-otel/tests/e2e_http_test.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-projects/src/services/types.rs
  docs/adr/027-cross-project-trace-linking.md
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/settings/GeneralSettings.tsx
  web/src/components/traces/SpanWaterfall.tsx
  web/src/pages/CrossProjectTraceDetail.tsx
  web/src/pages/TraceDetail.tsx
  web/src/utils/spanTree.ts
Due: cargo-fmt, cargo-clippy

fix(otel): validate ingest trace_id hints; document disclosure trade-offs (ADR-027 review)
  crates/temps-otel/src/handlers/ingest_handler.rs
  docs/adr/027-cross-project-trace-linking.md
Due: cargo-fmt, cargo-clippy

fix(providers): close shell-injection in pg upgrade restore + typed 404 in upgrade handler
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/handlers/handlers.rs
Due: cargo-fmt, cargo-clippy

feat(otel): add label filters and per-series dynamic alerting for metric alerts
  crates/temps-entities/src/metric_alert_rules.rs
  crates/temps-migrations/src/migration/m20260702_000001_add_label_filters_to_metric_alert_rules.rs
  crates/temps-migrations/src/migration/m20260702_000002_add_dynamic_alerting_to_metric_alert_rules.rs
  crates/temps-migrations/src/migration/m20260702_000003_add_grouped_threshold_and_series_state_to_metric_alert_rules.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/alarm_service.rs
  crates/temps-notifications/src/services.rs
  crates/temps-otel/src/handlers/metric_alert_handler.rs
  crates/temps-otel/src/lib.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/dashboard_service.rs
  crates/temps-otel/src/services/metric_alert_evaluator.rs
  crates/temps-otel/src/services/metric_alert_service.rs
  crates/temps-otel/tests/dynamic_alert_integration_test.rs
  crates/temps-otel/tests/e2e_http_test.rs
Due: cargo-fmt, cargo-clippy

feat(web): label filters, breakdown charts, and redesigned alert form
  web/src/api/client/types.gen.ts
  web/src/components/charts/threshold-line-chart.tsx
  web/src/components/metrics/AnomalyBacktest.tsx
  web/src/components/metrics/LabelFilterBuilder.tsx
  web/src/components/metrics/MetricTile.tsx
  web/src/components/metrics/alert-format.tsx
  web/src/components/metrics/alert-status.ts
  web/src/components/metrics/metric-format.ts
  web/src/pages/Alarms.tsx
  web/src/pages/DashboardBuilder.tsx
  web/src/pages/DashboardView.tsx
  web/src/pages/MetricAlertForm.tsx
  web/src/pages/MetricAlerts.tsx
  web/src/pages/MetricsExplorer.tsx
Due: none

fix(providers): stop run_exec busy-looping into a 6h hang on no-stdout execs
  crates/temps-providers/src/externalsvc/exec_util.rs
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
Due: cargo-fmt, cargo-clippy

fix(otel): close cross-project IDOR in delete_alert; harden mrkdwn escaping
  crates/temps-notifications/src/services.rs
  crates/temps-otel/src/handlers/metric_alert_handler.rs
  crates/temps-otel/src/services/metric_alert_evaluator.rs
  crates/temps-otel/tests/dynamic_alert_integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(otel): backfill root name/service for child-only project trace lists
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/services/cross_project.rs
Due: cargo-fmt, cargo-clippy

feat(web): inline whole-trace switch, span deep-links, compact badges
  web/src/components/traces/ProjectBadge.tsx
  web/src/components/traces/SpanWaterfall.tsx
  web/src/components/traces/TraceStatBadges.tsx
  web/src/pages/CrossProjectTraceDetail.tsx
  web/src/pages/TraceDetail.tsx
  web/src/pages/TracesList.tsx
Due: none

fix(providers): unify upgrade error->status mapping + close review test gaps
  crates/temps-providers/src/externalsvc/exec_util.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(otel): use sort_by_key for unified trace span ordering
  crates/temps-otel/src/services/cross_project.rs
Due: cargo-fmt, cargo-clippy

ci(rust-tests): fail pipeline reliably on test failure
  .github/workflows/rust-tests.yml
Due: none

ci: add dependency and container scanning for Temps' own supply chain
  .github/dependabot.yml
  .github/workflows/dependency-scan.yml
Due: none

feat(auth): add platform-admin role, key/token rotation, and MCP kill-switch
  crates/temps-auth/src/apikey_handler.rs
  crates/temps-auth/src/apikey_plugin.rs
  crates/temps-auth/src/apikey_service.rs
  crates/temps-auth/src/apikey_types.rs
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/permissions.rs
  crates/temps-auth/src/temps_middleware.rs
  crates/temps-config/src/handler.rs
  crates/temps-config/src/service.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/mcp_access.rs
  crates/temps-deployments/src/handlers/audit.rs
  crates/temps-deployments/src/handlers/deployment_tokens.rs
  crates/temps-deployments/src/services/deployment_token_service.rs
Due: cargo-fmt, cargo-clippy

feat(analytics-sdk): exclude sensitive paths from session replay by default
  sdks/node/packages/analytics-core/package.json
  sdks/node/packages/analytics-core/src/SessionRecorder.test.ts
  sdks/node/packages/analytics-core/src/SessionRecorder.ts
  sdks/node/packages/analytics-core/src/constants.ts
  sdks/node/packages/analytics-core/src/types.ts
  sdks/node/packages/analytics-core/vitest.config.ts
Due: none

fix(providers): bind provisioned service ports to 127.0.0.1 instead of 0.0.0.0
  SECURITY.md
  crates/temps-providers/src/externalsvc/mongodb.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/rustfs.rs
  crates/temps-providers/src/externalsvc/s3.rs
  crates/temps-providers/src/postgres_lifecycle.rs
  crates/temps-providers/src/utils.rs
  docs/advanced/security/page.mdx
Due: cargo-fmt, cargo-clippy

feat(auth): audit concurrent sessions and allow requiring MFA for admins
  crates/temps-auth/src/audit.rs
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-config/src/handler.rs
  crates/temps-core/src/app_settings.rs
Due: cargo-fmt, cargo-clippy

test: temporarily add deliberately-failing test to verify CI fails (will revert)
  crates/temps-core/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: remove temporary failing test added to verify CI fails on real failures
  crates/temps-core/src/lib.rs
Due: cargo-fmt, cargo-clippy

style: cargo fmt
  crates/temps-auth/src/apikey_service.rs
  crates/temps-auth/src/temps_middleware.rs
Due: cargo-fmt, cargo-clippy

style: cargo fmt
  crates/temps-providers/src/utils.rs
Due: cargo-fmt, cargo-clippy

style: cargo fmt + fix clippy warnings
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-core/src/app_settings.rs
Due: cargo-fmt, cargo-clippy

fix(screenshots): serialize tests that launch headless Chrome
  crates/temps-screenshots/src/local_provider.rs
Due: cargo-fmt, cargo-clippy

fix(deps): bump git2, memmap2, and vulnerable web dependencies to patched versions
  Cargo.lock
  crates/temps-auth/src/handlers.rs
  crates/temps-git/Cargo.toml
  crates/temps-git/src/services/git_service.rs
  web/bun.lock
  web/package.json
Due: cargo-fmt, cargo-clippy
