Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(ai-chat): expand AI chat read-only tool allowlist
  crates/temps-cli/src/commands/serve/console.rs
Due: cargo-fmt, cargo-clippy

chore: bundle pending pre-existing fixes (mariadb container_name, node metrics collector, react bump)
  crates/temps-deployer/src/node_metrics.rs
  crates/temps-providers/src/externalsvc/mariadb.rs
  web/bun.lock
  web/package.json
Due: cargo-fmt, cargo-clippy

fix(providers): restore MariaDB imported-container_name propagation
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

docs(agents): document Docker safety constraints
  AGENTS.md
Due: none

fix(core): update node pki for rcgen 0.14
  crates/temps-core/src/node_pki.rs
Due: cargo-fmt, cargo-clippy

fix(providers): fix remaining gaps in MariaDB import found via live testing
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): fix broken PostgreSQL import (crash + silent data-swap)
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): fix broken Redis import + health-check hang; add pg/redis import regression tests
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): update test cert generation for rcgen 0.14
  crates/temps-proxy/src/tls_cert_loader.rs
Due: cargo-fmt, cargo-clippy

fix(providers): fix broken MongoDB import (crash + silent data-swap + health hang)
  crates/temps-providers/src/externalsvc/mongodb.rs
Due: cargo-fmt, cargo-clippy

fix(providers): fix broken S3/MinIO import (crash + wrong-type round-trip + missing creds + health hang)
  crates/temps-providers/src/externalsvc/s3.rs
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(logs): persist + search external-service container logs (backend)
  crates/temps-entities/src/log_chunks.rs
  crates/temps-entities/src/log_events.rs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-log-aggregator/src/parser.rs
  crates/temps-log-aggregator/src/plugin.rs
  crates/temps-log-aggregator/src/services/chunk_writer.rs
  crates/temps-log-aggregator/src/services/collector.rs
  crates/temps-log-aggregator/src/services/metadata.rs
  crates/temps-log-aggregator/src/services/remote_collector.rs
  crates/temps-log-aggregator/src/services/search.rs
  crates/temps-log-aggregator/src/services/tail.rs
  crates/temps-log-aggregator/src/storage/traits.rs
  crates/temps-log-aggregator/src/types.rs
  crates/temps-migrations/src/migration/m20260707_000001_add_external_service_to_logs.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

fix: repair rcgen 0.14 API breaks on main
  crates/temps-core/src/node_pki.rs
  crates/temps-proxy/src/tls_cert_loader.rs
Due: cargo-fmt, cargo-clippy

feat(logs): external-service log history UI + startup discovery
  crates/temps-log-aggregator/src/plugin.rs
  web/src/App.tsx
  web/src/hooks/useLogHistory.ts
  web/src/pages/ServiceDetail.tsx
  web/src/pages/ServiceLogs.tsx
Due: cargo-fmt, cargo-clippy

feat(cli): allow an embedding binary to override the console SPA bundle
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(cli): add embedding seams for downstream binaries (UI override + platform console listener)
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(deps): align rcgen to workspace 0.14.8 after merging #250 from main
  Cargo.lock
  crates/temps-core/Cargo.toml
  crates/temps-proxy/Cargo.toml
Due: none

feat(cli): install_tracing_extra for embedding binaries' log targets
  crates/temps-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

style(cli): fix rustfmt + clippy doc-lint on platform-console listener
  crates/temps-cli/src/commands/serve/console.rs
Due: cargo-fmt, cargo-clippy

chore(deps): bump crossbeam-epoch 0.9.18 -> 0.9.20 (RUSTSEC-2026-0204)
  Cargo.lock
Due: none

feat(deployments): make gate_check_then_run pub for embedding binaries
  crates/temps-deployments/src/services/job_processor.rs
Due: cargo-fmt, cargo-clippy

feat(logs): imported-service log collection + service-detail-style Logs page
  crates/temps-backup/src/engines/dispatch.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-entities/src/external_services.rs
  crates/temps-log-aggregator/src/plugin.rs
  crates/temps-log-aggregator/src/services/collector.rs
  crates/temps-migrations/src/migration/m20260707_000002_add_external_services_container_name.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/alarm_service.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/test_utils.rs
  crates/temps-providers/src/services.rs
  web/src/pages/ServiceLogs.tsx
Due: cargo-fmt, cargo-clippy

feat(web): tail-on-load + scroll-up pagination for external-service logs
  web/src/hooks/useLogHistory.ts
  web/src/pages/ServiceLogs.tsx
Due: none

feat(logs): collect HA cluster member logs (local and worker-node)
  crates/temps-deployments/src/services/remote_log_source.rs
  crates/temps-log-aggregator/src/plugin.rs
  crates/temps-log-aggregator/src/services/collector.rs
  crates/temps-log-aggregator/src/services/remote_collector.rs
Due: cargo-fmt, cargo-clippy

feat(deployments): add SecretsManagerResolver OSS extension seam (ADR 0009 §1-2)
  crates/temps-core/src/lib.rs
  crates/temps-core/src/secrets_manager.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/workflow_planner.rs
Due: cargo-fmt, cargo-clippy

ci: drop redundant build-tests prebuild, scope caches per matrix group
  .github/workflows/rust-tests.yml
Due: none

ci: build test binaries once via cargo-nextest, share across all jobs
  .github/workflows/rust-tests.yml
Due: none

fix(providers): persist actual bound port after container creation retry
  crates/temps-providers/src/externalsvc/mongodb.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/s3.rs
Due: cargo-fmt, cargo-clippy

chore(license): adopt FSL-1.1-ALv2 for the platform, keep SDKs and CLI permissive
  CONTRIBUTING.md
  Cargo.toml
  LICENSE
  NOTICE
  README.md
  apps/temps-cli/LICENSE
  apps/temps-cli/package.json
  packages/LICENSE
  sdks/LICENSE
  skills/temps-platform-setup/SKILL.md
Due: none

fix(ci): restore --lib scope for groups that had it via kind(=lib)
  .github/workflows/rust-tests.yml
Due: none

feat(ai-chat): allow AI write tool to provision and link external services
  crates/temps-cli/src/commands/serve/console.rs
Due: cargo-fmt, cargo-clippy

feat(ai-chat): export dispatch_write_tool for reuse by other tool-belts
  crates/temps-ai-chat/src/lib.rs
  crates/temps-ai-chat/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(ai-api-tools): parse object/array CLI flag values as real JSON
  crates/temps-ai-api-tools/src/cli.rs
Due: cargo-fmt, cargo-clippy

docs: require new features to scale on small resources
  AGENTS.md
  CLAUDE.md
Due: none

fix(providers): fix broken SHOW VARIABLES LIKE ? probe query + test race
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
  crates/temps-providers/tests/mariadb_binlog_health_integration.rs
Due: cargo-fmt, cargo-clippy

fix(ci): point unit-tests at an external TimescaleDB like integration-tests
  .github/workflows/rust-tests.yml
Due: none

feat(proxy): hot-path metrics with node dashboard and default alerts
  CHANGELOG.md
  Cargo.lock
  crates/temps-entities/src/monitoring_alert_rules.rs
  crates/temps-migrations/src/migration/m20260708_000001_add_node_id_to_monitoring_alert_rules.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/evaluator.rs
  crates/temps-proxy/Cargo.toml
  crates/temps-proxy/src/lib.rs
  crates/temps-proxy/src/metrics.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/metrics_sampler.rs
  crates/temps-proxy/src/service/mod.rs
  web/src/App.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/pages/ProxyMetrics.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(monitoring): one proxy seed per metric to match unique-index semantics
  CHANGELOG.md
  crates/temps-monitoring/src/evaluator.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(web): proxy page summary cards, per-project traffic table, full width, solid tooltips
  web/src/pages/ProxyMetrics.tsx
Due: none
