Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(demo): implement demo mode functionality with user role and UI adjustments
  crates/temps-auth/src/apikey_types.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/middleware.rs
  crates/temps-auth/src/permissions.rs
  crates/temps-auth/src/types.rs
  crates/temps-auth/src/user_service.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-status-page/src/routes/status_page.rs
  web/src/App.tsx
  web/src/api/client/types.gen.ts
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/layout/DemoBanner.tsx
  web/src/components/layout/ProtectedLayout.tsx
  web/src/components/project/ProjectDetailSidebar.tsx
  web/src/contexts/AuthContext.tsx
  web/src/pages/Login.tsx
Due: cargo-fmt, cargo-clippy

feat(templates): add project templates configuration and demo mode enhancements
  Cargo.lock
  crates/temps-auth/src/context.rs
  crates/temps-auth/src/middleware.rs
  crates/temps-auth/src/temps_middleware.rs
  crates/temps-auth/src/user_service.rs
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/domain.rs
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-cli/src/main.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/templates.rs
  crates/temps-core/templates.yaml
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/mod.rs
  crates/temps-projects/src/handlers/templates.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/plugin.rs
  crates/temps-proxy/src/proxy.rs
  templates.yaml
  web/src/pages/ApiKeyDetail.tsx
Due: cargo-fmt, cargo-clippy

chore(dependencies): update Next.js and React versions in package configuration
  examples/nextjs/basic/bun.lock
  examples/nextjs/basic/package.json
Due: none

feat(templates): introduce template management and TLS enhancements
  Cargo.lock
  crates/temps-core/src/templates.rs
  crates/temps-core/templates.yaml
  crates/temps-domains/src/tls/service.rs
  crates/temps-git/Cargo.toml
  crates/temps-git/src/services/git_provider.rs
  crates/temps-git/src/services/git_provider_manager.rs
  crates/temps-git/src/services/github_provider.rs
  crates/temps-git/src/services/gitlab_provider.rs
  crates/temps-projects/src/handlers/handlers.rs
  localho.st.crt
  localho.st.key
  templates.yaml
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/GitImportClone.tsx
  web/src/components/templates/TemplateCard.tsx
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/components/templates/TemplateList.tsx
  web/src/components/templates/index.ts
Due: cargo-fmt, cargo-clippy

feat(demo): enhance demo mode functionality and UI components
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-domains/src/handlers/domain_handler.rs
  web/rsbuild.config.ts
  web/src/App.tsx
  web/src/components/analytics/overview/AnalyticsMetrics.tsx
  web/src/components/dashboard/Header.tsx
  web/src/components/layout/DemoLayout.tsx
  web/src/components/layout/ProtectedLayout.tsx
  web/src/components/project/ProjectAnalytics.tsx
  web/src/components/project/ProjectDetailSidebar.tsx
  web/src/pages/DomainDetail.tsx
  web/src/pages/ProjectDetail.tsx
  web/src/pages/Projects.tsx
Due: cargo-fmt, cargo-clippy

feat(workflow): add job configuration with custom dependencies and required flag
  crates/temps-core/src/workflow.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-domains/src/tls/providers.rs
Due: cargo-fmt, cargo-clippy

feat(deployments): introduce remote deployment support and enhance project source types
  Cargo.lock
  Cargo.toml
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/build.rs
  crates/temps-cli/src/commands/deploy.rs
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/main.rs
  crates/temps-deployments/Cargo.toml
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/mod.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/jobs/deploy_static_bundle.rs
  crates/temps-deployments/src/jobs/mod.rs
  crates/temps-deployments/src/jobs/pull_external_image.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/job_processor.rs
  crates/temps-deployments/src/services/mod.rs
  crates/temps-deployments/src/services/remote_deployment_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-entities/src/deployments.rs
  crates/temps-entities/src/external_images.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/prelude.rs
  crates/temps-entities/src/projects.rs
  crates/temps-entities/src/source_type.rs
  crates/temps-entities/src/static_bundles.rs
  crates/temps-import-docker/src/importer.rs
  crates/temps-migrations/src/migration/m20260121_000001_add_remote_builds_support.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-projects/src/services/types.rs
Due: cargo-fmt, cargo-clippy

feat(deployments): add support for Docker image and static file deployments
  apps/temps-cli/bun.lock
  apps/temps-cli/package.json
  apps/temps-cli/src/commands/deploy/deploy-image.ts
  apps/temps-cli/src/commands/deploy/deploy-static.ts
  apps/temps-cli/src/commands/deploy/index.ts
  apps/temps-cli/src/config/store.ts
  apps/temps-cli/src/lib/deployment-watcher.tsx
  crates/temps-auth/src/lib.rs
  crates/temps-cli/src/commands/api_key.rs
  crates/temps-cli/src/commands/mod.rs
  crates/temps-cli/src/commands/setup.rs
  crates/temps-cli/src/main.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-deployments/src/jobs/deploy_static_bundle.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-deployments/src/jobs/pull_external_image.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/job_processor.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-deployments/tests/workflow_execution_service_test.rs
  crates/temps-entities/src/deployments.rs
  crates/temps-entities/src/source_type.rs
  crates/temps-logs/src/file_logs.rs
  crates/temps-migrations/src/migration/m20260122_000001_increase_checksum_length.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/GitImportClone.tsx
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/project/ProjectConfigurationWizardInline.tsx
  web/src/components/project/wizard/ServicesStep.tsx
Due: cargo-fmt, cargo-clippy

feat(setup): enhance IP address confirmation and password handling in non-interactive mode
  crates/temps-cli/src/commands/setup.rs
Due: cargo-fmt, cargo-clippy

feat(deployments): streamline deployment process and enhance user experience
  apps/temps-cli/CLAUDE.md
  apps/temps-cli/src/commands/deploy/deploy-image.ts
  apps/temps-cli/src/commands/deploy/deploy-static.ts
  apps/temps-cli/src/commands/deploy/deploy.ts
  crates/temps-auth/src/temps_middleware.rs
  crates/temps-cli/src/commands/setup.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-geo/src/geoip_service.rs
  web/src/components/onboarding/GitConnectionStep.tsx
  web/src/components/onboarding/ImprovedOnboardingDashboard.tsx
Due: cargo-fmt, cargo-clippy

feat(skills): add new skills for custom domain setup, Node.js SDK integration, React analytics, session recording, and deployment management
  skills/add-custom-domain/SKILL.md
  skills/add-node-sdk/SKILL.md
  skills/add-react-analytics/SKILL.md
  skills/add-react-analytics/references/HOOKS_REFERENCE.md
  skills/add-react-analytics/references/SESSION_RECORDING.md
  skills/add-session-recording/SKILL.md
  skills/deploy-to-temps/SKILL.md
  skills/temps-mcp-setup/SKILL.md
Due: none

fix(migrations): enable compression on proxy_logs before adding compression policy
  crates/temps-migrations/src/migration/m20260225_000001_add_proxy_logs_retention.rs
Due: cargo-fmt, cargo-clippy

fix(scanner): only report project dependency vulnerabilities, skip OS packages and embedded binaries
  crates/temps-vulnerability-scanner/src/trivy.rs
Due: cargo-fmt, cargo-clippy

chore(ci): enable cargo clippy in pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(monitoring): add resource monitoring, status code class filter, and fix CPU stats calculation
  crates/temps-deployer/src/docker.rs
  crates/temps-proxy/src/handler/proxy_logs.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  web/src/App.tsx
  web/src/api/client/types.gen.ts
  web/src/components/monitoring/EnvironmentMetricsCard.tsx
  web/src/components/monitoring/MonitoringSettings.tsx
  web/src/components/monitoring/ResourceMonitoring.tsx
  web/src/components/project/ProjectDetailSidebar.tsx
  web/src/components/project/ProjectMonitoring.tsx
  web/src/pages/ProjectDetail.tsx
Due: cargo-fmt, cargo-clippy

docs(changelog): add entries for proxy log retention, service UX, scanner filtering, and resource monitoring
  CHANGELOG.md
Due: changelog-format

fix(docs): use bash instead of sh in install script commands
  README.md
  skills/temps-platform-setup/README.md
  skills/temps-platform-setup/SKILL.md
Due: none

fix(changelog): add entry for install script fix (#15)
  CHANGELOG.md
Due: changelog-format

fix(web): consolidate service detail header actions into dropdown menu
  web/src/pages/ServiceDetail.tsx
Due: none

fix(web): move stop/start into dropdown danger section with confirmation dialog
  web/src/pages/ServiceDetail.tsx
Due: none

fix(web): add separator between stop and delete in service dropdown
  web/src/pages/ServiceDetail.tsx
Due: none

fix(captcha-wasm): disable wasm-opt to avoid binaryen download failure
  crates/temps-captcha-wasm/Cargo.toml
Due: none

feat(web): scope Browse Data to project database/bucket for linked services
  web/src/components/project/ProjectStorage.tsx
Due: none

fix(web): auto-expand data browser tree when path param is set on initial load
  web/src/pages/ServiceDataBrowser.tsx
Due: none

feat(captcha-wasm): implement proof-of-work solution and challenge solver in WASM
  crates/temps-captcha-wasm/pkg/temps_captcha_wasm.js
  crates/temps-captcha-wasm/pkg/temps_captcha_wasm_bg.wasm
Due: none

fix(web): truncate long referrer URLs in proxy log detail card
  web/src/components/proxy-logs/ProxyLogsDataTable.tsx
Due: none

feat(plugins): implement external plugin system for dynamic integration
  Cargo.lock
  Cargo.toml
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-core/Cargo.toml
  crates/temps-core/src/external_plugin/manager.rs
  crates/temps-core/src/external_plugin/manifest.rs
  crates/temps-core/src/external_plugin/mod.rs
  crates/temps-core/src/external_plugin/proxy.rs
  crates/temps-core/src/lib.rs
  crates/temps-plugin-sdk/Cargo.toml
  crates/temps-plugin-sdk/src/context.rs
  crates/temps-plugin-sdk/src/error.rs
  crates/temps-plugin-sdk/src/lib.rs
  crates/temps-plugin-sdk/src/manifest.rs
  crates/temps-plugin-sdk/src/protocol.rs
  crates/temps-plugin-sdk/src/runtime.rs
  examples/example-plugin/Cargo.toml
  examples/example-plugin/src/main.rs
  web/src/App.tsx
  web/src/components/command/CommandPalette.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/project/ProjectDetailSidebar.tsx
  web/src/contexts/PluginsContext.tsx
  web/src/hooks/usePlugins.ts
  web/src/lib/pluginIcons.ts
  web/src/pages/plugins/PluginPage.tsx
  web/src/types/plugins.ts
Due: cargo-fmt, cargo-clippy

feat(otel): add OpenTelemetry ingest, query, and frontend traces UI
  crates/temps-auth/src/context.rs
  crates/temps-auth/src/deployment_token_service.rs
  crates/temps-auth/src/middleware.rs
  crates/temps-auth/src/temps_middleware.rs
  crates/temps-deployments/src/services/deployment_token_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-entities/src/deployment_tokens.rs
  crates/temps-migrations/src/migration/m20260226_000001_add_deployment_id_to_deployment_tokens.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-otel/proto/opentelemetry/proto/trace/v1/trace.proto
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/ingest/auth.rs
  crates/temps-otel/src/ingest/sampler.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/otel_service.rs
  crates/temps-otel/src/types.rs
  crates/temps-otel/tests/e2e_http_test.rs
  web/bun.lock
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/ProjectDetailSidebar.tsx
  web/src/pages/ProjectDetail.tsx
  web/src/pages/TraceDetail.tsx
  web/src/pages/Traces.tsx
  web/src/pages/TracesList.tsx
Due: cargo-fmt, cargo-clippy

feat(external-plugins): add external plugin management system
  Cargo.lock
  Cargo.toml
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/proxy.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-core/Cargo.toml
  crates/temps-core/src/external_plugin/manifest.rs
  crates/temps-core/src/external_plugin/mod.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-external-plugins/Cargo.toml
  crates/temps-external-plugins/src/handler.rs
  crates/temps-external-plugins/src/lib.rs
  crates/temps-external-plugins/src/manager.rs
  crates/temps-external-plugins/src/plugin.rs
  crates/temps-external-plugins/src/proxy.rs
  crates/temps-external-plugins/src/service.rs
  web/src/api/client/types.gen.ts
  web/src/hooks/usePlugins.ts
Due: cargo-fmt, cargo-clippy

docs(changelog): add external plugin system entries
  CHANGELOG.md
  _typos.toml
Due: changelog-format

ci(otel): install protobuf-compiler in CI and document prerequisites
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
Due: changelog-format

feat(otel): add trace-level pagination with TraceSummary endpoint
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/otel_service.rs
  crates/temps-otel/src/storage/mod.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/src/test_support.rs
  crates/temps-otel/src/types.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/pages/TraceDetail.tsx
  web/src/pages/TracesList.tsx
Due: cargo-fmt, cargo-clippy

style(otel): add mobile responsiveness to traces list and detail views
  CLAUDE.md
  web/src/pages/TraceDetail.tsx
  web/src/pages/TracesList.tsx
Due: none

feat(otel): add Traces to project command palette (Ctrl+K)
  web/src/components/command/CommandPalette.tsx
Due: none

fix(otel): resolve environment name from deployments table in trace summaries
  crates/temps-otel/src/storage/timescaledb.rs
Due: cargo-fmt, cargo-clippy

fix(otel): add horizontal overflow to span detail panel
  web/src/pages/TraceDetail.tsx
Due: none

feat(deployments): implement CRON_SECRET auto-injection and cron auth header
  AGENTS.md
  Cargo.lock
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/types/requests.rs
  crates/temps-core/src/external_plugin/manifest.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/database_cron_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-external-plugins/src/manager.rs
  crates/temps-external-plugins/src/plugin.rs
  crates/temps-plugin-sdk/src/runtime.rs
  docs/features/cron-jobs/page.mdx
  examples/example-plugin/Cargo.toml
  examples/example-plugin/src/handlers.rs
  examples/example-plugin/src/main.rs
  examples/example-plugin/src/types.rs
  examples/google-indexing-plugin/Cargo.toml
  examples/google-indexing-plugin/src/main.rs
  examples/google-indexing-plugin/src/types.rs
  examples/indexnow-plugin/Cargo.toml
  examples/indexnow-plugin/src/main.rs
  examples/indexnow-plugin/src/types.rs
  examples/lighthouse-plugin/Cargo.toml
  examples/lighthouse-plugin/src/handlers.rs
  examples/lighthouse-plugin/src/main.rs
  examples/lighthouse-plugin/src/types.rs
  web/src/api/client/types.gen.ts
  web/src/components/analytics/PageListItem.tsx
  web/src/components/analytics/overview/ChannelsChart.tsx
  web/src/components/analytics/overview/DevicesChart.tsx
  web/src/components/analytics/overview/LanguagesChart.tsx
  web/src/components/analytics/overview/LocationsChart.tsx
  web/src/components/analytics/overview/OperatingSystemChart.tsx
  web/src/components/analytics/overview/ReferrersChart.tsx
  web/src/components/analytics/overview/UTMCampaignsChart.tsx
  web/src/components/analytics/overview/index.tsx
  web/src/components/project/ProjectAnalytics.tsx
Due: cargo-fmt, cargo-clippy

docs(changelog): add entries for cron auth, analytics, and plugin changes
  CHANGELOG.md
Due: changelog-format
