Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

perf(proxy): make visitor/session tracking fully asynchronous
  Cargo.lock
  crates/temps-migrations/src/migration/m20260705_000001_add_visitor_unique_index.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-proxy/Cargo.toml
  crates/temps-proxy/src/integration_test.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/proxy_test.rs
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/cookie_codec.rs
  crates/temps-proxy/src/service/mod.rs
  crates/temps-proxy/src/service/proxy_log_batch_writer.rs
  crates/temps-proxy/src/service/proxy_log_service.rs
  crates/temps-proxy/src/services.rs
  crates/temps-proxy/src/storage/clickhouse.rs
  crates/temps-proxy/src/test_utils.rs
  crates/temps-proxy/src/tests.rs
  crates/temps-proxy/src/traits.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): cache TLS certificate lookups
  Cargo.lock
  crates/temps-proxy/Cargo.toml
  crates/temps-proxy/src/tls_cert_loader.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): cache cert-host set for HTTPS redirect check
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/proxy_test.rs
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/cert_host_cache.rs
  crates/temps-proxy/src/service/mod.rs
  crates/temps-proxy/src/tls_cert_loader.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): cache static asset store lookups
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/service/mod.rs
  crates/temps-proxy/src/service/static_asset_lookup.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): cache attack-mode challenge completions
  crates/temps-proxy/src/service/challenge_service.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): cache preview sandbox and custom route lookups
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/lb_service.rs
  crates/temps-proxy/src/services.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): remove stale DB-access comments and add hot-path invariant doc
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

fix(migrations): repoint all visitor FK references before dedup delete
  crates/temps-migrations/src/migration/m20260705_000001_add_visitor_unique_index.rs
  crates/temps-migrations/tests/migration_tests.rs
Due: cargo-fmt, cargo-clippy

perf(proxy): serve stale TLS cert on DB error instead of failing handshake
  crates/temps-proxy/src/tls_cert_loader.rs
Due: cargo-fmt, cargo-clippy

docs(proxy): correct write-through cache visibility claims
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/challenge_service.rs
  crates/temps-proxy/src/service/lb_service.rs
  crates/temps-proxy/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(web): resolve gitlab vs github commit links and trace UI polish
  web/src/components/project/ProjectOverview.tsx
  web/src/components/traces/ProjectBadge.tsx
  web/src/components/traces/SpanWaterfall.tsx
  web/src/pages/CrossProjectTraceDetail.tsx
  web/src/pages/DeploymentDetails.tsx
  web/src/pages/TraceDetail.tsx
  web/src/utils/spanTree.ts
Due: none

fix(deployments): wire deployment-token routes and schema into plugin
  crates/temps-deployments/src/plugin.rs
Due: cargo-fmt, cargo-clippy

feat(deployments): add generic DeploymentGate extension point
  crates/temps-core/src/deployment.rs
  crates/temps-core/src/jobs.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/job_processor.rs
Due: cargo-fmt, cargo-clippy

fix(web): resolve TypeScript type errors across web frontend
  .github/workflows/rust-tests.yml
  crates/temps-config/src/handler.rs
  crates/temps-core/src/lib.rs
  crates/temps-otel/src/handlers/query_handler.rs
  web/src/components/environments/EnvironmentHeaderBar.tsx
  web/src/components/monitoring/MonitoringSettings.tsx
  web/src/components/monitoring/schemas.ts
  web/src/components/project/ProjectConfigurator.tsx
  web/src/components/project/settings/SecretsSettings.tsx
  web/src/components/project/settings/webhooks/DeliveryDetailDialog.tsx
  web/src/components/settings/DockerRegistrySettings.tsx
  web/src/components/settings/IpAccessControl.tsx
  web/src/components/settings/OtelIngestCard.tsx
  web/src/components/storage/CreateServiceButton.tsx
  web/src/components/storage/ImportServiceButton.tsx
  web/src/components/utils/ReloadableImage.tsx
  web/src/components/visitors/SessionDetail.tsx
  web/src/components/visitors/VisitorAnalytics.tsx
  web/src/contexts/ProjectsContext.tsx
  web/src/pages/ApiKeyCreate.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Sandboxes.tsx
  web/src/pages/security/ScanDetail.tsx
  web/src/pages/security/VulnerabilityDetailPage.tsx
Due: cargo-fmt, cargo-clippy

fix(web): resolve remaining TypeScript errors (SecretsSettings, SourceMaps, VisitorJourney, platformSettings, AgentSandboxSandboxPage, MonitoringSettingsPage, SSE codegen exclusion)
  web/openapi-ts.config.ts
  web/src/api/platformSettings.ts
  web/src/components/error-tracking/SourceMaps.tsx
  web/src/components/visitors/VisitorJourney.tsx
  web/src/pages/agent-sandbox/AgentSandboxSandboxPage.tsx
  web/src/pages/settings/CleanupPage.tsx
  web/src/pages/settings/MonitoringSettingsPage.tsx
Due: none

chore(web): regenerate SDK, exclude broken SSE mutation hooks, flip typecheck gate to blocking
  .github/workflows/rust-tests.yml
  web/openapi-ts.config.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: none

fix(providers): reject non-string managed S3 backend values
  crates/temps-providers/src/externalsvc/managed_s3.rs
Due: cargo-fmt, cargo-clippy

fix(deployments): mount deployment token routes
  CHANGELOG.md
  crates/temps-deployments/src/plugin.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(providers): support MinIO managed S3 backend
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/managed_s3.rs
  crates/temps-providers/src/parameter_strategies.rs
  crates/temps-providers/src/services.rs
  docs/features/managed-services/page.mdx
  docs/howto/set-up-managed-services/page.mdx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): reject managed Garage backend until provider dispatch exists
  crates/temps-providers/src/externalsvc/managed_s3.rs
Due: cargo-fmt, cargo-clippy

fix(ci): serialize docker-providers integration tests to stop Postgres deadlocks
  .github/workflows/rust-tests.yml
Due: none

test(providers): cover MinIO S3 restore round trip
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/s3.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): fetch service parameters before deleting the DB row in delete_service
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): remove get_container_name_for_service left dead by rebase
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

feat(providers): add managed s3 backend protocol
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/managed_s3.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/services.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(deps): revert sha2 0.10 -> 0.11 bump that broke HKDF/HMAC/AES-GCM
  Cargo.lock
  Cargo.toml
  crates/temps-captcha-wasm/Cargo.toml
  crates/temps-dns/Cargo.toml
  crates/temps-proxy/Cargo.toml
Due: none

fix(deps): revert sha2 0.11 pin in temps-proxy and temps-dns
  crates/temps-dns/Cargo.toml
  crates/temps-proxy/Cargo.toml
Due: none

perf(cli): use jemalloc as the global allocator
  Cargo.lock
  Cargo.toml
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(network,metrics): resolve dependency-bump compilation breakage on main
  crates/temps-analytics-events/src/services/ch_backfill.rs
  crates/temps-analytics-events/src/services/ch_fanout.rs
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-cli/src/commands/ch_backfill_domains.rs
  crates/temps-metrics/src/store/clickhouse.rs
  crates/temps-network/src/linux/bridge.rs
  crates/temps-network/src/linux/route.rs
  crates/temps-network/src/linux/vxlan.rs
  crates/temps-otel/src/storage/clickhouse/mod.rs
  crates/temps-proxy/src/storage/clickhouse.rs
Due: cargo-fmt, cargo-clippy

fix(web): resolve TypeScript errors from tanstack-query and react-hook-form bumps
  web/src/components/containers/ContainerActionDialog.tsx
  web/src/components/settings/DockerRegistrySettings.tsx
  web/src/components/settings/MonitoringSettings.tsx
  web/src/components/settings/SecuritySettings.tsx
Due: none

test(network): create the overlay Docker network in bootstrap_only
  crates/temps-network/tests/it_kernel.rs
Due: cargo-fmt, cargo-clippy

ci: reduce rust-cache eviction churn and stop starving PRs of it
  .github/workflows/e2e-tests.yml
  .github/workflows/rust-tests.yml
Due: none

perf(proxy): multi-thread data plane and shed access logs under overload
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/server.rs
  crates/temps-proxy/src/service/proxy_log_batch_writer.rs
Due: cargo-fmt, cargo-clippy

fix(network): run bootstrap_only strictly last in the node-A DinD pass
  crates/temps-network/tests/dind/run.sh
Due: none

chore(scripts): add local testcontainer orphan-cleanup script
  scripts/README.md
  scripts/cleanup-testcontainers.sh
Due: none

build: bump tikv-jemallocator to 0.7 and fix aarch64 page-size support
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: none

fix(security): require auth on session-replay, performance, static-files, geo, and git public-repo endpoints
  Cargo.lock
  crates/temps-analytics-performance/Cargo.toml
  crates/temps-analytics-performance/src/handlers/handler.rs
  crates/temps-analytics-session-replay/src/handlers/handler.rs
  crates/temps-core/Cargo.toml
  crates/temps-geo/Cargo.toml
  crates/temps-geo/src/handlers.rs
  crates/temps-git/src/handlers/public.rs
  crates/temps-proxy/Cargo.toml
  crates/temps-static-files/Cargo.toml
  crates/temps-static-files/src/handler.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
