Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

fix(compose): stop injecting a default CPU limit
  crates/temps-deployer/src/compose.rs
Due: cargo-fmt, cargo-clippy

fix(captcha-wasm): resync committed pkg/ with pinned-toolchain rebuild
  crates/temps-captcha-wasm/pkg/temps_captcha_wasm_bg.wasm
Due: none

fix(git): report the repository's actual default branch, not "main"
  crates/temps-git/src/handlers/public.rs
  crates/temps-git/src/handlers/repositories.rs
Due: cargo-fmt, cargo-clippy

fix(web): map catalog-only preset slugs before requesting managed env vars
  web/src/components/project/ProvidedEnvironmentVariables.test.ts
  web/src/lib/provided-environment-variables.ts
Due: none

fix(cloud): use a static human-readable source label for control-plane backups
  crates/temps-cloud/src/backup_mirror.rs
Due: cargo-fmt, cargo-clippy

test(web): colocate provided-environment-variables tests with their module
  web/src/lib/provided-environment-variables.test.ts
Due: none

fix(git): fetch default branch live instead of trusting the DB cache
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  crates/temps-git/src/handlers/repositories.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

fix(git): keep branch listing resilient and sync remaining is_default clients
  crates/temps-git/src/handlers/repositories.rs
  packages/api/openapi.json
  packages/api/src/types.gen.ts
  sdks/node/packages/node-sdk/scripts/openapi.json
  sdks/node/packages/node-sdk/src/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

fix(git): self-heal cached default branch and fix TS narrowing regression
  crates/temps-git/src/handlers/repositories.rs
  crates/temps-git/src/services/repository.rs
  web/src/components/deployments/BranchSelector.tsx
Due: cargo-fmt, cargo-clippy

fix(deployer): grant baseline capabilities to every sandboxed Compose service
  crates/temps-deployer/src/compose.rs
  crates/temps-deployments/src/jobs/deploy_compose.rs
  crates/temps-entities/src/preset.rs
  web/src/components/project/settings/GitSettings.tsx
Due: cargo-fmt, cargo-clippy

fix(web): let live is_default win over a stale defaultBranch prop
  web/src/components/deployments/BranchSelector.tsx
Due: none

fix(git): make default-branch persistence a single atomic UPDATE
  crates/temps-git/src/services/repository.rs
Due: cargo-fmt, cargo-clippy

fix(git): don't gate the branch-cache fast path on a live provider call
  crates/temps-git/src/handlers/repositories.rs
Due: cargo-fmt, cargo-clippy

feat(cloud-protocol): report the source database's actual Docker image
  crates/temps-cloud-protocol/src/messages.rs
  crates/temps-cloud/src/backup_mirror.rs
Due: cargo-fmt, cargo-clippy

feat(observability): add global logs traces errors and analytics endpoints
  crates/temps-analytics/src/global.rs
  crates/temps-analytics/src/global_handler.rs
  crates/temps-analytics/src/lib.rs
  crates/temps-analytics/src/plugin.rs
  crates/temps-error-tracking/src/handlers/handler.rs
  crates/temps-error-tracking/src/services/error_crud_service.rs
  crates/temps-error-tracking/src/services/error_tracking_service.rs
  crates/temps-log-aggregator/src/handlers/global.rs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-log-aggregator/src/handlers/mod.rs
  crates/temps-log-aggregator/src/services/chunk_writer.rs
  crates/temps-log-aggregator/src/services/global_search.rs
  crates/temps-log-aggregator/src/services/metadata.rs
  crates/temps-log-aggregator/src/services/mod.rs
  crates/temps-log-aggregator/src/services/search.rs
  crates/temps-log-aggregator/src/storage/filesystem.rs
  crates/temps-migrations/src/migration/m20260909_000001_index_global_log_chunks.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-otel/src/handlers/global_traces.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/otel_service.rs
  crates/temps-otel/src/services/telemetry_write_mode.rs
  crates/temps-otel/src/storage/clickhouse/mod.rs
  crates/temps-otel/src/storage/cloud_routed.rs
  crates/temps-otel/src/storage/cloud_spans.rs
  crates/temps-otel/src/storage/global_traces.rs
  crates/temps-otel/src/storage/mod.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/tests/clickhouse_trace_summaries_test.rs
  crates/temps-otel/tests/global_traces_postgres_test.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

fix(observability): disclose trace cutovers and filter hosting-provider speed samples
  crates/temps-analytics/src/global.rs
  crates/temps-otel/src/handlers/global_traces.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/telemetry_write_mode.rs
  crates/temps-otel/src/storage/cloud_spans.rs
  crates/temps-otel/src/storage/global_traces.rs
  crates/temps-otel/tests/clickhouse_trace_summaries_test.rs
  crates/temps-otel/tests/global_traces_postgres_test.rs
  web/src/api/client/index.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

feat(plugins): add rotating registry trust chain
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-external-plugins/src/catalog.rs
  crates/temps-external-plugins/src/handler.rs
  crates/temps-external-plugins/src/install.rs
  crates/temps-external-plugins/src/lib.rs
  crates/temps-external-plugins/src/manager.rs
  crates/temps-external-plugins/src/service.rs
  crates/temps-external-plugins/src/trust.rs
Due: cargo-fmt, cargo-clippy

fix(web): unify React types and patch js-yaml
  web/bun.lock
  web/package.json
  web/packages/console-kit/package.json
  web/packages/ds/package.json
Due: none

fix(secrets): allow matching keys in separate environments
  crates/temps-environments/src/services/secret_service.rs
  crates/temps-environments/tests/secret_environment_scoping.rs
Due: cargo-fmt, cargo-clippy

fix(backup): fail s3_mirror on Access Denied during comparison listing
  crates/temps-backup/src/engines/s3_mirror.rs
Due: cargo-fmt, cargo-clippy

fix(backup): detect Access Denied streaming, not from a bounded tail
  crates/temps-backup/src/engines/control_plane.rs
  crates/temps-backup/src/engines/mongodb.rs
  crates/temps-backup/src/engines/oneshot.rs
  crates/temps-backup/src/engines/postgres_pgdump.rs
  crates/temps-backup/src/engines/redis.rs
  crates/temps-backup/src/engines/ring_buffer.rs
  crates/temps-backup/src/engines/s3_mirror.rs
Due: cargo-fmt, cargo-clippy

fix(captcha-wasm): rebuild artifact for CI's Linux amd64 toolchain
  .github/workflows/rust-tests.yml
  Dockerfile
  crates/temps-captcha-wasm/pkg/temps_captcha_wasm_bg.wasm
Due: none

fix(secrets): serialize environment deletion with scoped writes
  crates/temps-environments/src/services/secret_service.rs
  crates/temps-environments/tests/secret_environment_scoping.rs
Due: cargo-fmt, cargo-clippy

fix(plugins): refresh registry trust on demand
  crates/temps-external-plugins/src/catalog.rs
  crates/temps-external-plugins/src/install.rs
  crates/temps-external-plugins/src/manager.rs
  crates/temps-external-plugins/src/service.rs
Due: cargo-fmt, cargo-clippy

feat(domains): add project delivery profiles and safe DNS setup
  CHANGELOG.md
  Cargo.lock
  crates/temps-agents/src/handlers/preview_gateway.rs
  crates/temps-agents/src/preview_gateway.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-dns/Cargo.toml
  crates/temps-dns/src/handlers/domain_delivery.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/plugin.rs
  crates/temps-dns/src/services/domain_delivery.rs
  crates/temps-dns/src/services/mod.rs
  crates/temps-dns/tests/domain_delivery_integration.rs
  crates/temps-entities/src/delivery_profiles.rs
  crates/temps-entities/src/domain_delivery_bindings.rs
  crates/temps-entities/src/domain_delivery_previews.rs
  crates/temps-entities/src/environment_delivery_settings.rs
  crates/temps-entities/src/lib.rs
  crates/temps-entities/src/project_delivery_settings.rs
  crates/temps-migrations/src/migration/m20260714_000001_create_domain_delivery.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/custom_domains.rs
  docs/domain-delivery-setup.md
  web/openapi-ts.config.ts
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/command/CommandPalette.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/domains/DomainDeliveryBindings.tsx
  web/src/components/domains/DomainDeliverySetup.tsx
  web/src/components/domains/ProjectDeliverySettings.tsx
  web/src/components/domains/delivery-errors.ts
  web/src/components/project/settings/DomainsSettings.tsx
  web/src/pages/DeliveryProfiles.tsx
  web/src/pages/DnsProviders.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(backup): enumerate RustFS buckets instead of whole-account mc mirror
  crates/temps-backup/src/engines/s3_mirror.rs
Due: cargo-fmt, cargo-clippy

fix(backup): paginate bucket enumeration and fix per-bucket size prefix
  crates/temps-backup/src/engines/s3_mirror.rs
Due: cargo-fmt, cargo-clippy

fix(monitors): edit check paths and sync compose health routes
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  crates/temps-deployments/src/jobs/deploy_compose.rs
  crates/temps-status-page/src/plugin.rs
  crates/temps-status-page/src/routes/audit.rs
  crates/temps-status-page/src/routes/status_page.rs
  crates/temps-status-page/src/services/health_check_service.rs
  crates/temps-status-page/src/services/monitor_service.rs
  crates/temps-status-page/src/services/types.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/api/monitors.test.ts
  web/src/api/monitors.ts
  web/src/components/project/MonitorDetail.tsx
  web/src/components/project/MonitorPathForm.tsx
  web/src/components/project/settings/GitSettings.tsx
Due: cargo-fmt, cargo-clippy

fix(cloud): resume interrupted backup mirror passes instead of restarting them
  crates/temps-cloud-protocol/src/messages.rs
  crates/temps-cloud/src/backup_mirror.rs
Due: cargo-fmt, cargo-clippy

feat(sandbox): run commands through resident runtime daemon
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/tests/runtime_daemon.rs
  tools/sandbox-runtime/.dockerignore
  tools/sandbox-runtime/.gitignore
  tools/sandbox-runtime/Cargo.lock
  tools/sandbox-runtime/Cargo.toml
  tools/sandbox-runtime/Dockerfile
  tools/sandbox-runtime/README.md
  tools/sandbox-runtime/build-local.sh
  tools/sandbox-runtime/smoke.sh
  tools/sandbox-runtime/src/lib.rs
  tools/sandbox-runtime/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(web): enforce a single React runtime
  web/bun.lock
  web/packages/console-kit/package.json
  web/rsbuild.config.ts
  web/scripts/check-react-versions.mjs
Due: none

fix(backup): keep the stderr watch verdict when the log drain times out
  crates/temps-backup/src/engines/oneshot.rs
Due: cargo-fmt, cargo-clippy

chore(sandbox): make runtime verification scripts executable
  tools/sandbox-runtime/build-local.sh
  tools/sandbox-runtime/smoke.sh
Due: none

fix(backup): fail closed when a watched stderr stream cannot be fully inspected
  crates/temps-backup/src/engines/oneshot.rs
Due: cargo-fmt, cargo-clippy

fix(backup): treat any uninspected stderr as a failed watch, not only a slow drain
  crates/temps-backup/src/engines/oneshot.rs
Due: cargo-fmt, cargo-clippy

fix(backup): name the backup and service in the s3_mirror access-denied error
  crates/temps-backup/src/engines/s3_mirror.rs
Due: cargo-fmt, cargo-clippy

feat(metrics): control-plane host I/O counters, latest-sample and docker disk usage endpoints
  Cargo.lock
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-deployments/Cargo.toml
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/handlers/types.rs
  crates/temps-deployments/src/plugin.rs
  crates/temps-deployments/src/services/docker_disk_usage.rs
  crates/temps-deployments/src/services/mod.rs
  crates/temps-metrics/Cargo.toml
  crates/temps-metrics/src/collector/node.rs
  crates/temps-metrics/src/node_sampler.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/metrics_handlers.rs
Due: cargo-fmt, cargo-clippy

feat(cli): server status, metrics and docker-disk-usage commands
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/cli.ts
  apps/temps-cli/src/commands/server/index.test.ts
  apps/temps-cli/src/commands/server/index.ts
Due: none

feat(web): control-plane Server page on the operator design system
  web/bun.lock
  web/package.json
  web/rsbuild.config.ts
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/command/CommandPalette.tsx
  web/src/components/dashboard/Sidebar.tsx
  web/src/components/monitoring/monitoring-sections.test.ts
  web/src/components/monitoring/monitoring-sections.ts
  web/src/components/platform/platform-tools.ts
  web/src/pages/v1/ServerPage.tsx
  web/src/pages/v1/ServerV1.tsx
  web/src/pages/v1/server-v1-model.test.ts
  web/src/pages/v1/server-v1-model.ts
  web/tsconfig.json
Due: none

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
