Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

test(e2e): verify all repo example projects deploy & serve (#141)
  apps/temps-e2e/README.md
  apps/temps-e2e/bun.lock
  apps/temps-e2e/package.json
  apps/temps-e2e/src/commands/examples.ts
  apps/temps-e2e/src/commands/load.ts
  apps/temps-e2e/src/commands/scenario.ts
  apps/temps-e2e/src/index.ts
  apps/temps-e2e/src/lib/client.ts
  apps/temps-e2e/src/lib/examples.ts
  apps/temps-e2e/src/lib/flows.ts
  apps/temps-e2e/src/lib/load.ts
  apps/temps-e2e/tsconfig.json
Due: none

feat(monitoring): enable monitoring by default for new services + DNS/domain UI polish
  crates/temps-config/src/service.rs
  crates/temps-providers/src/handlers/handlers.rs
  crates/temps-providers/src/handlers/metrics_handlers.rs
  crates/temps-providers/src/services.rs
  web/src/pages/AddDomain.tsx
  web/src/pages/CreateBackupSchedule.tsx
  web/src/pages/DnsProviderDetail.tsx
  web/src/pages/DnsProviders.tsx
Due: cargo-fmt, cargo-clippy

feat(sdk): add @temps-sdk/api generated OpenAPI client package
  packages/api/bun.lock
  packages/api/openapi-ts.config.ts
  packages/api/openapi.json
  packages/api/package.json
  packages/api/src/client.gen.ts
  packages/api/src/client/client.gen.ts
  packages/api/src/client/index.ts
  packages/api/src/client/types.gen.ts
  packages/api/src/client/utils.gen.ts
  packages/api/src/core/auth.gen.ts
  packages/api/src/core/bodySerializer.gen.ts
  packages/api/src/core/params.gen.ts
  packages/api/src/core/pathSerializer.gen.ts
  packages/api/src/core/queryKeySerializer.gen.ts
  packages/api/src/core/serverSentEvents.gen.ts
  packages/api/src/core/types.gen.ts
  packages/api/src/core/utils.gen.ts
  packages/api/src/index.ts
  packages/api/src/sdk.gen.ts
  packages/api/src/types.gen.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
Due: none

docs: document mariadb managed services
  docs/features/managed-services/page.mdx
  docs/howto/set-up-managed-services/page.mdx
  docs/tutorials/deploy-laravel/page.mdx
  docs/tutorials/deploy-with-database/page.mdx
  docs/tutorials/set-up-backups-and-monitoring/page.mdx
Due: none

feat(providers): complete mariadb service support
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/temps-providers/Cargo.toml
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/handlers/query_handlers.rs
  crates/temps-providers/src/lib.rs
  crates/temps-providers/src/mariadb_query.rs
  crates/temps-providers/src/query_service.rs
  crates/temps-providers/src/services.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(providers): tune mariadb small-host defaults
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/parameter_strategies.rs
  crates/temps-providers/src/services.rs
  web/src/components/forms/JsonSchemaForm.tsx
  web/src/components/forms/ServiceTypePresets.tsx
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/project/ProjectConfigurator.tsx
  web/src/components/storage/CreateServiceForm.tsx
  web/src/components/templates/TemplateConfigurator.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

docs(mariadb): clarify Laravel runtime env guidance
  CHANGELOG.md
  docs/tutorials/deploy-laravel/page.mdx
Due: changelog-format

feat(providers): add opt-in mariadb service
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/handlers/query_handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/parameter_strategies.rs
  crates/temps-providers/src/query_service.rs
  crates/temps-providers/src/services.rs
  web/src/api/client/types.gen.ts
  web/src/components/forms/ServiceTypePresets.tsx
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/project/ProjectConfigurator.tsx
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/lib/service-type-detector.ts
  web/src/lib/serviceIcons.ts
Due: changelog-format, cargo-fmt, cargo-clippy

feat(deployments,tls,domains,web): multi-env auto-deploy, TLS cert re-issuance fix, domain cert UI
  crates/temps-cli/src/commands/serve/proxy.rs
  crates/temps-deployments/src/services/job_processor.rs
  crates/temps-domains/src/domain_service.rs
  crates/temps-domains/src/handlers/domain_handler.rs
  crates/temps-entities/src/deployment_config.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-import-docker/src/importer.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-proxy/src/tls_cert_loader.rs
  crates/temps-routes/src/route_table.rs
  web/src/components/environments/EnvironmentHeaderBar.tsx
  web/src/components/project/settings/environments/EnvironmentConfigurationCard.tsx
  web/src/pages/CreateServiceNew.tsx
  web/src/pages/DomainDetail.tsx
Due: cargo-fmt, cargo-clippy

ci(e2e): disable anonymous telemetry to stop polluting telemetry DB
  .github/workflows/e2e-tests.yml
Due: none

fix(deployments,domains): repair branch-env tests + clippy len_zero lint
  crates/temps-deployments/src/services/job_processor.rs
  crates/temps-domains/src/domain_service.rs
Due: cargo-fmt, cargo-clippy

feat(telemetry): add daily instance heartbeat for active-instance accuracy
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-core/src/telemetry.rs
  telemetry-api/src/routes/events.ts
Due: cargo-fmt, cargo-clippy

feat(telemetry): fire-once first-touch milestones + enrich heartbeat
  Cargo.lock
  crates/temps-ai-gateway/src/handlers/gateway.rs
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-analytics-session-replay/src/handlers/handler.rs
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-core/src/telemetry.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-error-tracking/src/sentry/handlers.rs
  crates/temps-migrations/src/migration/m20260621_000001_create_telemetry_milestones.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-telemetry/Cargo.toml
  crates/temps-telemetry/src/plugin.rs
  crates/temps-telemetry/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(cli): hide --database-url value from process listings
  Cargo.lock
  crates/temps-cli/Cargo.toml
  crates/temps-cli/src/commands/api_key.rs
  crates/temps-cli/src/commands/backup.rs
  crates/temps-cli/src/commands/doctor.rs
  crates/temps-cli/src/commands/domain.rs
  crates/temps-cli/src/commands/migrate.rs
  crates/temps-cli/src/commands/proxy.rs
  crates/temps-cli/src/commands/reset_password.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-cli/src/commands/setup.rs
  crates/temps-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs(cli): add changelog entry for --database-url process listing fix
  CHANGELOG.md
Due: changelog-format

feat(backup): add MariaDB PITR + logical backup engines
  crates/temps-backup/src/engines/dispatch.rs
  crates/temps-backup/src/engines/mariadb_dump.rs
  crates/temps-backup/src/engines/mariadb_exec.rs
  crates/temps-backup/src/engines/mariadb_physical.rs
  crates/temps-backup/src/engines/mod.rs
  crates/temps-backup/src/plugin.rs
Due: cargo-fmt, cargo-clippy

feat(providers): enable MariaDB binary logging for PITR + interval setting
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

feat(providers): ship MariaDB binary logs to S3 for PITR
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/health_monitor.rs
Due: cargo-fmt, cargo-clippy

feat(providers): MariaDB restore + point-in-time recovery
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

feat(providers): MariaDB binlog-health probe (operational warnings)
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/tests/mariadb_binlog_health_integration.rs
Due: cargo-fmt, cargo-clippy

fix(providers): use mariadb-binlog for PITR replay + parity tests
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

feat(providers): warn on non-InnoDB tables (PITR safety hardening)
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
Due: cargo-fmt, cargo-clippy

feat(backup): auto-provision default daily base schedule for MariaDB PITR
  crates/temps-backup/src/engines/dispatch.rs
  crates/temps-backup/src/plugin.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-entities/src/external_services.rs
  crates/temps-migrations/src/migration/m20260623_000001_add_external_services_default_backup_provisioned.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/alarm_service.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/test_utils.rs
Due: cargo-fmt, cargo-clippy

fix(cli): remove redundant argv pointer cast
  crates/temps-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: deployment readiness probe, cleanup/otel settings UI, analytics full-build SDK + regen client
  apps/temps-cli/src/commands/context/index.ts
  apps/temps-cli/src/config/contexts.ts
  crates/temps-cli/src/commands/serve/proxy.rs
  crates/temps-deployer/src/lib.rs
  crates/temps-deployer/src/readiness.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
  sdks/node/packages/analytics-browser/README.md
  sdks/node/packages/analytics-browser/package.json
  sdks/node/packages/analytics-browser/src/auto-full.ts
  sdks/node/packages/analytics-browser/src/auto.ts
  skills/add-react-analytics/SKILL.md
  web/openapi-ts.config.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/settings/OtelIngestCard.tsx
  web/src/pages/settings/CleanupPage.tsx
Due: cargo-fmt, cargo-clippy

fix(proxy): use HTTP probe for scale-to-zero wake readiness
  crates/temps-cli/src/commands/serve/proxy.rs
  crates/temps-deployer/src/readiness.rs
  crates/temps-deployments/src/jobs/mark_deployment_complete.rs
Due: cargo-fmt, cargo-clippy

feat(ui): searchable combobox branch picker with protected-branch badges
  web/src/components/deployments/BranchSelector.tsx
Due: none

fix(backup): repair MariaDB PITR restore chain
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  Cargo.lock
  crates/temps-backup/Cargo.toml
  crates/temps-backup/src/engines/mariadb_physical.rs
  crates/temps-backup/src/plugin.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-backup/tests/mariadb_pitr_e2e.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-providers/src/externalsvc/exec_util.rs
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
  crates/temps-providers/src/services.rs
  crates/temps-providers/tests/mariadb_binlog_health_integration.rs
Due: changelog-format, cargo-fmt, cargo-clippy

docs(changelog): fill in Unreleased for PR #147 operator-visible changes
  CHANGELOG.md
Due: changelog-format

test(providers): seed postgres upgrade backup rows
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(ci): harden docker integration tests
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  crates/temps-backup/src/services/backup.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): clean postgres upgrade live volumes
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): remove postgres upgrade copy sidecars
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/postgres_lifecycle.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(providers): wait for postgres copy sidecar removal
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
Due: cargo-fmt, cargo-clippy

ci(tests): stabilize docker integration groups
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  crates/temps-domains/src/domain_service.rs
  crates/temps-vulnerability-scanner/tests/fixtures/vulnerable-node-project/package-lock.json
Due: changelog-format, cargo-fmt, cargo-clippy

fix(ci): serialize heavy provider backup tests + dedupe port selection
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/externalsvc/mongodb.rs
  crates/temps-providers/src/externalsvc/port_util.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/rustfs.rs
  crates/temps-providers/src/externalsvc/s3.rs
  crates/temps-providers/src/parameter_strategies.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(temps-cli): scope default project per instance + static deploy in up wizard
  apps/temps-cli/src/commands/configure.ts
  apps/temps-cli/src/commands/projects/create.ts
  apps/temps-cli/src/commands/projects/delete.ts
  apps/temps-cli/src/commands/up/index.ts
  apps/temps-cli/src/commands/up/setup-wizard.ts
  apps/temps-cli/src/config/contexts.ts
  apps/temps-cli/src/config/resolve-project.ts
  apps/temps-cli/src/lib/detect-project.test.ts
  apps/temps-cli/src/lib/detect-project.ts
Due: none

chore(temps-cli): bump version to 0.1.27
  apps/temps-cli/package.json
Due: none

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
