Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

docs(sandbox): record the ordering the work-dir reap depends on
  crates/temps-sandbox/src/services/expiration_sweeper.rs
Due: cargo-fmt, cargo-clippy

fix(deps): bump brace-expansion override to ^5.0.9 for GHSA-rgw5-rvv9-x895
  web/bun.lock
  web/package.json
Due: none

test(otel): stabilize histogram hour buckets
  crates/temps-otel/tests/timescaledb_storage_test.rs
Due: cargo-fmt, cargo-clippy

fix(auth): close sensitive action verification gaps
  crates/temps-auth/src/apikey_handler.rs
  crates/temps-auth/src/cli_device_handler.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/plugin.rs
  crates/temps-auth/src/rate_limit.rs
  crates/temps-auth/src/sensitive_action.rs
  crates/temps-auth/src/state.rs
  crates/temps-auth/src/user_service.rs
  crates/temps-core/src/sensitive_action.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-migrations/tests/migration_tests.rs
  web/src/api/client/types.gen.ts
  web/src/components/auth/SensitiveActionVerificationDialog.tsx
  web/src/hooks/useSensitiveActionVerification.tsx
  web/src/lib/sensitiveActionProblem.test.ts
  web/src/lib/sensitiveActionProblem.ts
  web/src/pages/ApiKeyCreate.tsx
  web/src/pages/CliLogin.tsx
Due: cargo-fmt, cargo-clippy

fix(auth): close final verification review gaps
  crates/temps-auth/src/cli_device_handler.rs
  crates/temps-auth/src/handlers.rs
  web/src/lib/cliDeviceProblem.test.ts
  web/src/lib/cliDeviceProblem.ts
  web/src/pages/CliLogin.tsx
Due: cargo-fmt, cargo-clippy

refactor(ai): bound a chat turn by time, not by a number of steps
  crates/temps-ai-chat/Cargo.toml
  crates/temps-ai-chat/src/service.rs
Due: cargo-fmt, cargo-clippy

chore(teams): align thiserror pin with main after merge
  Cargo.lock
Due: none

feat(ai): make the chat turn limit configurable from Settings
  Cargo.lock
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/types.gen.ts
  crates/temps-ai-chat/Cargo.toml
  crates/temps-ai-chat/src/plugin.rs
  crates/temps-ai-chat/src/service.rs
  crates/temps-config/src/handler.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-core/src/lib.rs
  web/src/api/client/index.ts
  web/src/api/client/types.gen.ts
  web/src/api/platformSettings.ts
  web/src/components/settings/AiChatLimitsCard.tsx
  web/src/pages/settings/AiProvidersPage.tsx
Due: cargo-fmt, cargo-clippy

fix(settings): reject an out-of-range chat turn timeout instead of storing it
  crates/temps-config/src/handler.rs
  web/src/components/settings/AiChatLimitsCard.tsx
Due: cargo-fmt, cargo-clippy

fix(proxy): bound streaming handshake samples and tighten SSE detection
  crates/temps-proxy/src/metrics.rs
  crates/temps-proxy/src/proxy.rs
Due: cargo-fmt, cargo-clippy

fix(flags): address review findings from the security and Rust passes
  apps/temps-cli/docs/CLI.md
  apps/temps-cli/docs/CLI.mdx
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/commands/flags/index.ts
  crates/temps-flags/Cargo.toml
  crates/temps-flags/src/error.rs
  crates/temps-flags/src/handlers/audit.rs
  crates/temps-flags/src/handlers/handler.rs
  crates/temps-flags/src/handlers/types.rs
  crates/temps-flags/src/services/flag_service.rs
  crates/temps-migrations/src/migration/m20260802_000002_create_feature_flags.rs
  crates/temps-migrations/src/migration/m20260803_000001_add_flag_last_evaluated_at.rs
  crates/temps-migrations/tests/migration_tests.rs
  docs/features/feature-flags/page.mdx
  sdks/node/packages/node-sdk/src/flags/client.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
Due: cargo-fmt, cargo-clippy

fix(flags): require SQLSTATE and "unique" together when detecting a conflict
  crates/temps-flags/src/error.rs
Due: cargo-fmt, cargo-clippy

feat(web): add the autopack preset icon
  web/public/presets/autopack.svg
Due: none

refactor(web): open the autopack icon's lid into a chevron
  web/public/presets/autopack.svg
Due: none

fix(teams): resolve grant permissions inside the locked transaction
  crates/temps-teams/src/checker.rs
  crates/temps-teams/src/error.rs
  crates/temps-teams/src/handlers/project_access.rs
  crates/temps-teams/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(flags): stop snapshot dropping flags overridden in other environments
  crates/temps-flags/src/services/flag_service.rs
Due: cargo-fmt, cargo-clippy

chore(ai): regenerate clients after the main merge
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/types.gen.ts
  web/src/api/client/types.gen.ts
Due: none

chore(ai): regenerate clients after merging step-up verification
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
Due: none

fix(web): advance traces time window on refresh and skip it for trace-id search
  web/src/pages/TracesList.tsx
Due: none

test(web): cover traces time window helpers
  web/src/lib/traces-time-window.test.ts
  web/src/lib/traces-time-window.ts
  web/src/pages/TracesList.tsx
Due: none

ci(security): ignore RUSTSEC-2026-0235 (rkyv, never compiled)
  .github/workflows/dependency-scan.yml
  Cargo.toml
Due: none

fix(teams): close the delete_team un-gating hole and three review findings
  crates/temps-teams/src/checker.rs
  crates/temps-teams/src/error.rs
  crates/temps-teams/src/handlers/project_access.rs
  crates/temps-teams/src/handlers/teams.rs
  crates/temps-teams/src/service.rs
Due: cargo-fmt, cargo-clippy

chore(ai): regenerate clients after merging feature flags
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/sdk.gen.ts
Due: none

fix(otel): address PR #544 review findings
  CHANGELOG.md
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/ingest/auth.rs
  crates/temps-otel/src/ingest/decode.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/services/otel_service.rs
  crates/temps-otel/tests/dynamic_alert_integration_test.rs
  crates/temps-otel/tests/e2e_http_test.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(drop): bound archive inspection memory and CPU
  crates/temps-core/src/archive_security.rs
  crates/temps-presets/src/mod.rs
  crates/temps-projects/src/handlers/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(otel): address second review pass findings on PR #544
  crates/temps-otel/src/handlers/ingest_handler.rs
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/handlers/query_handler.rs
  crates/temps-otel/src/ingest/auth.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/tests/e2e_http_test.rs
Due: cargo-fmt, cargo-clippy

fix(deps): patch aiohttp and cryptography Dependabot advisories
  .github/skill-scanner-requirements.txt
  Cargo.toml
  sdks/python/uv.lock
Due: none

feat(drop): add header entry point and a project-scoped drop page
  web/src/components/dashboard/DropButton.tsx
  web/src/components/dashboard/Header.tsx
  web/src/components/drop/DropZone.tsx
  web/src/components/project/ProjectDeployments.tsx
  web/src/lib/drop-files.ts
  web/src/pages/Drop.tsx
  web/src/pages/ProjectDetail.tsx
  web/src/pages/ProjectDrop.tsx
Due: none

test(deployments): stub container-ownership lookup in cleanup tests
  crates/temps-deployments/src/services/services.rs
Due: cargo-fmt, cargo-clippy

fix(ci): use beta sandbox image in deployment tests
  .github/scripts/test-nightly-release-workflows.sh
  .github/workflows/e2e-tests.yml
Due: none

fix(console): resolve onboarding review findings
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/user_service.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  web/e2e/authenticated/drop-handoff.spec.ts
  web/e2e/authenticated/user-creation.spec.ts
  web/e2e/fixtures/drop-folder-site/assets/app.js
  web/e2e/fixtures/drop-folder-site/index.html
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/dashboard/FirstProjectOnboarding.tsx
  web/src/components/users/RolePermissionDetails.tsx
  web/src/components/users/UsersManagement.tsx
  web/src/lib/drop-handoff.test.ts
  web/src/lib/drop-handoff.ts
  web/src/lib/role-permissions.test.ts
  web/src/lib/role-permissions.ts
  web/src/pages/CreateUser.tsx
  web/src/pages/Drop.tsx
  web/src/pages/ProjectDrop.tsx
Due: cargo-fmt, cargo-clippy

fix(git): stop invisible connections from blocking provider deletion
  crates/temps-git/src/handlers/base.rs
  crates/temps-git/src/services/git_provider_manager.rs
  web/src/components/git/ConnectionsCompactList.tsx
  web/src/pages/GitProviderDetail.tsx
Due: cargo-fmt, cargo-clippy

fix(auth): await password reset transaction rollbacks
  crates/temps-auth/src/auth_service.rs
Due: cargo-fmt, cargo-clippy

feat(dns): govern unattended provider automation
  crates/temps-audit/src/plugin.rs
  crates/temps-auth/src/permissions.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-core/src/audit.rs
  crates/temps-core/src/dns_automation.rs
  crates/temps-core/src/lib.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-domains/src/handlers/domain_handler.rs
  crates/temps-domains/src/plugin.rs
  crates/temps-domains/src/tls/service.rs
Due: cargo-fmt, cargo-clippy

fix(git): surface connection deletion for every provider type
  crates/temps-git/src/services/git_provider_manager.rs
  web/src/components/git/ConnectionsCompactList.tsx
Due: cargo-fmt, cargo-clippy

feat(env-vars): convert an existing variable to a write-only secret
  apps/temps-cli/src/commands/env-sync/index.ts
  apps/temps-cli/src/commands/environments/index.ts
  crates/temps-environments/src/handlers/audit.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-environments/src/services/env_var_service.rs
  crates/temps-environments/src/services/mod.rs
  crates/temps-environments/src/services/types.rs
  crates/temps-projects/src/services/env_vars.rs
  web/src/components/project/settings/EnvironmentVariablesSettings.tsx
Due: cargo-fmt, cargo-clippy

fix(auth): await MFA challenge transaction rollbacks
  crates/temps-auth/src/auth_service.rs
Due: cargo-fmt, cargo-clippy
