Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

revert: drop unrelated concurrent-session-detection change from deps commit
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(deployer): make cluster DNS injection opt-in (experimental beta)
  crates/temps-agent/src/network_sync.rs
  crates/temps-config/src/handler.rs
  crates/temps-core/src/app_settings.rs
  crates/temps-core/src/lib.rs
  crates/temps-deployer/src/plugin.rs
  crates/temps-deployments/src/handlers/network.rs
Due: cargo-fmt, cargo-clippy

fix(deps): bump quick-xml to 0.41 and anyhow to 1.0.103
  Cargo.lock
  crates/temps-dns/Cargo.toml
Due: none

style: match CI's rustfmt line-wrapping for count_active_sessions match
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(providers,domains,vuln-scanner): resolve flaky integration tests surfaced by strict CI
  crates/temps-domains/src/domain_service.rs
  crates/temps-providers/src/externalsvc/mongodb.rs
  crates/temps-providers/src/externalsvc/port_util.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/s3.rs
  crates/temps-vulnerability-scanner/src/trivy.rs
  crates/temps-vulnerability-scanner/tests/fixtures/vulnerable-node-project/package-lock.json
Due: cargo-fmt, cargo-clippy

fix(database): retry TestDatabase migrations on cross-process deadlock
  crates/temps-database/src/test_utils.rs
Due: cargo-fmt, cargo-clippy

fix(providers,vuln-scanner): resolve the actual backup/restore hangs and remaining flakes
  crates/temps-providers/src/externalsvc/exec_util.rs
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
  crates/temps-providers/src/externalsvc/redis.rs
  crates/temps-providers/src/externalsvc/s3.rs
  crates/temps-providers/src/externalsvc/test_utils.rs
  crates/temps-vulnerability-scanner/src/trivy.rs
Due: cargo-fmt, cargo-clippy

ci(rust-tests): serialize unit test execution to eliminate DB deadlocks
  .github/workflows/rust-tests.yml
Due: none

ci(rust-tests): also cap cargo test to one binary at a time
  .github/workflows/rust-tests.yml
Due: none

style: fix remaining rustfmt drift in MFA session-count block
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(deps): resolve remaining web audit findings, ignore unmaintained-only Rust advisories
  .github/workflows/dependency-scan.yml
  web/bun.lock
  web/package.json
Due: none

fix(deployer): pull alpine:latest before deploy tests that need it
  crates/temps-deployer/src/docker.rs
Due: cargo-fmt, cargo-clippy

fix(providers): fix real bugs in postgres major-upgrade orchestrator tests
  crates/temps-providers/src/externalsvc/postgres_upgrade.rs
Due: cargo-fmt, cargo-clippy

ci(deps): ignore 3 upstream-blocked RUSTSEC vulnerabilities in cargo-audit
  .github/workflows/dependency-scan.yml
Due: none

docs(deps): correct RUSTSEC-2023-0071 risk write-up (missing gcp.rs path)
  .github/workflows/dependency-scan.yml
  Cargo.toml
Due: none

docs: document git-revert conventional-commit gotcha
  AGENTS.md
  CLAUDE.md
Due: none

fix(auth): close admin-MFA credential oracle and settings-outage login failure
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(ci): serialize docker-deployments integration tests to stop Postgres deadlocks
  .github/workflows/rust-tests.yml
Due: none

feat(providers): add opt-in mariadb service
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/handlers/query_handlers.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/parameter_strategies.rs
  crates/temps-providers/src/query_service.rs
  crates/temps-providers/src/services.rs
  web/src/api/client/types.gen.ts
  web/src/components/forms/ServiceTypePresets.tsx
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/project/ProjectConfigurator.tsx
  web/src/components/templates/TemplateConfigurator.tsx
  web/src/lib/service-type-detector.ts
  web/src/lib/serviceIcons.ts
Due: changelog-format, cargo-fmt, cargo-clippy

feat(providers): tune mariadb small-host defaults
  CHANGELOG.md
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/handlers/types.rs
  crates/temps-providers/src/parameter_strategies.rs
  crates/temps-providers/src/services.rs
  web/src/components/forms/JsonSchemaForm.tsx
  web/src/components/forms/ServiceTypePresets.tsx
  web/src/components/project/ManualProjectConfigurator.tsx
  web/src/components/project/ProjectConfigurator.tsx
  web/src/components/storage/CreateServiceForm.tsx
  web/src/components/templates/TemplateConfigurator.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(backup): add MariaDB PITR + logical backup engines
  crates/temps-backup/src/engines/dispatch.rs
  crates/temps-backup/src/engines/mariadb_dump.rs
  crates/temps-backup/src/engines/mariadb_exec.rs
  crates/temps-backup/src/engines/mariadb_physical.rs
  crates/temps-backup/src/engines/mod.rs
  crates/temps-backup/src/plugin.rs
Due: cargo-fmt, cargo-clippy

feat(providers): ship MariaDB binary logs to S3 for PITR
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/src/health_monitor.rs
Due: cargo-fmt, cargo-clippy

feat(providers): complete mariadb service support
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/temps-providers/Cargo.toml
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/handlers/query_handlers.rs
  crates/temps-providers/src/lib.rs
  crates/temps-providers/src/mariadb_query.rs
  crates/temps-providers/src/query_service.rs
  crates/temps-providers/src/services.rs
Due: changelog-format, cargo-fmt, cargo-clippy

feat(providers): MariaDB binlog-health probe (operational warnings)
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
  crates/temps-providers/src/externalsvc/mod.rs
  crates/temps-providers/tests/mariadb_binlog_health_integration.rs
Due: cargo-fmt, cargo-clippy

feat(providers): warn on non-InnoDB tables (PITR safety hardening)
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
Due: cargo-fmt, cargo-clippy

fix(providers): use mariadb-binlog for PITR replay + parity tests
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

docs(mariadb): clarify Laravel runtime env guidance
  CHANGELOG.md
  docs/tutorials/deploy-laravel/page.mdx
Due: changelog-format

docs: document mariadb managed services
  docs/features/managed-services/page.mdx
  docs/howto/set-up-managed-services/page.mdx
  docs/tutorials/deploy-laravel/page.mdx
  docs/tutorials/deploy-with-database/page.mdx
  docs/tutorials/set-up-backups-and-monitoring/page.mdx
Due: none

feat(providers): enable MariaDB binary logging for PITR + interval setting
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

feat(providers): MariaDB restore + point-in-time recovery
  crates/temps-providers/src/externalsvc/mariadb.rs
Due: cargo-fmt, cargo-clippy

feat(backup): auto-provision default daily base schedule for MariaDB PITR
  crates/temps-backup/src/engines/dispatch.rs
  crates/temps-backup/src/plugin.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-entities/src/external_services.rs
  crates/temps-migrations/src/migration/m20260623_000001_add_external_services_default_backup_provisioned.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-monitoring/src/alarm_service.rs
  crates/temps-providers/src/externalsvc/postgres.rs
  crates/temps-providers/src/externalsvc/test_utils.rs
Due: cargo-fmt, cargo-clippy

fix(providers): stop old container by pre-rename identity in update_service
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(providers): use dynamic port allocation in postgres backup test
  crates/temps-providers/src/externalsvc/postgres.rs
Due: cargo-fmt, cargo-clippy

style: fix rustfmt drift in update_service rename fix
  crates/temps-providers/src/services.rs
Due: cargo-fmt, cargo-clippy

fix(backup): auto-provision MariaDB schedule via create-attach-update
  crates/temps-backup/src/services/backup.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

fix(backup): repair MariaDB PITR restore chain
  .github/workflows/rust-tests.yml
  CHANGELOG.md
  Cargo.lock
  crates/temps-backup/Cargo.toml
  crates/temps-backup/src/engines/mariadb_physical.rs
  crates/temps-backup/src/plugin.rs
  crates/temps-backup/src/services/backup.rs
  crates/temps-backup/tests/mariadb_pitr_e2e.rs
  crates/temps-providers/src/externalsvc/exec_util.rs
  crates/temps-providers/src/externalsvc/mariadb.rs
  crates/temps-providers/src/externalsvc/mariadb_binlog_health.rs
  crates/temps-providers/src/services.rs
  crates/temps-providers/tests/mariadb_binlog_health_integration.rs
Due: changelog-format, cargo-fmt, cargo-clippy

fix(test-utils): disable TimescaleDB background workers in TestDatabase
  crates/temps-database/src/test_utils.rs
Due: cargo-fmt, cargo-clippy

fix(ci): disable TimescaleDB background workers in integration-tests services container
  .github/workflows/rust-tests.yml
Due: none

docs: remove nonexistent temps-mcp crate from CLAUDE.md
  CLAUDE.md
Due: none

ci: auto-merge dependabot patch/minor PRs once CI passes
  .github/workflows/dependabot-auto-merge.yml
Due: none

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
