Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

changelog-format:
  name: validate changelog format
  entry: python3 scripts/hooks/validate-changelog.py
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --all-targets --all-features -- -D warnings

docs(changelog): note resource limits + runtime panel and CI timeout bump
  CHANGELOG.md
Due: changelog-format

feat(analytics): operators can now run ClickHouse instead of TimescaleDB
  Cargo.lock
  crates/temps-analytics-backend/migrations/clickhouse/0001_events.sql
  crates/temps-analytics-backend/src/clickhouse.rs
  crates/temps-analytics-backend/src/lib.rs
  crates/temps-analytics-backend/src/migrations.rs
  crates/temps-analytics-events/Cargo.toml
  crates/temps-analytics-events/src/plugin.rs
  crates/temps-analytics-events/src/services/ch_fanout.rs
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/services/mod.rs
  crates/temps-migrations/src/migration/m20260505_000001_create_events_ch_outbox.rs
Due: cargo-fmt, cargo-clippy

feat(analytics): ClickHouse client + outbox migration + fan-out skeleton
  Cargo.lock
  crates/temps-analytics-backend/Cargo.toml
  crates/temps-analytics-backend/migrations/clickhouse/0001_events.sql
  crates/temps-analytics-backend/migrations/clickhouse/0002_events_5m_mv.sql
  crates/temps-analytics-backend/migrations/clickhouse/0003_sessions.sql
  crates/temps-analytics-backend/src/clickhouse.rs
  crates/temps-analytics-events/src/services/ch_fanout.rs
  crates/temps-analytics-events/src/services/mod.rs
  crates/temps-migrations/src/migration/m20260505_000001_create_events_ch_outbox.rs
  crates/temps-migrations/src/migration/mod.rs
Due: cargo-fmt, cargo-clippy

refactor(analytics): drop the `clickhouse` cargo feature; gate at runtime only
  crates/temps-analytics-backend/Cargo.toml
  crates/temps-analytics-backend/src/lib.rs
  crates/temps-analytics-backend/src/migrations.rs
  crates/temps-analytics-events/Cargo.toml
  crates/temps-analytics-events/src/plugin.rs
  crates/temps-analytics-events/src/services/ch_fanout.rs
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  crates/temps-analytics-events/src/services/mod.rs
Due: cargo-fmt, cargo-clippy

refactor(analytics-events): extract AnalyticsEvents read-side trait
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-analytics-events/src/plugin.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/services/mod.rs
  crates/temps-analytics-events/src/services/traits.rs
Due: cargo-fmt, cargo-clippy

feat(analytics-backend): scaffold AnalyticsBackend trait crate
  Cargo.lock
  Cargo.toml
  crates/temps-analytics-backend/Cargo.toml
  crates/temps-analytics-backend/src/clickhouse.rs
  crates/temps-analytics-backend/src/error.rs
  crates/temps-analytics-backend/src/lib.rs
  crates/temps-analytics-backend/src/timescale.rs
  crates/temps-analytics-backend/src/traits.rs
  crates/temps-analytics-backend/src/types.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): ClickHouse analytics backend + AnalyticsEvents value-types
  CHANGELOG.md
Due: changelog-format

test(analytics): real ClickHouse integration test via testcontainers
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
Due: cargo-fmt, cargo-clippy

refactor(analytics-events): query value-types as the abstraction
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-analytics-events/src/services/events_service.rs
  crates/temps-analytics-events/src/services/mod.rs
  crates/temps-analytics-events/src/services/queries.rs
  crates/temps-analytics-events/src/services/traits.rs
  crates/temps-analytics-events/src/types/requests.rs
  crates/temps-migrations/src/migration/m20260505_000001_create_events_ch_outbox.rs
Due: cargo-fmt, cargo-clippy

feat(config,docs): ClickHouse config keys + ADR-012
  crates/temps-config/src/service.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-email/src/services/tracking_service_integration_tests.rs
  crates/temps-status-page/src/tests.rs
  docs/adr/012-clickhouse-analytics-backend.md
Due: cargo-fmt, cargo-clippy

feat(analytics): full CH read coverage + outbox retention + operator runbook
  CHANGELOG.md
  crates/temps-analytics-backend/migrations/clickhouse/0001_events.sql
  crates/temps-analytics-events/src/services/ch_fanout.rs
  crates/temps-analytics-events/src/services/clickhouse_backend.rs
  docs/howto/enable-clickhouse-analytics/page.mdx
Due: changelog-format, cargo-fmt, cargo-clippy

docs(analytics): mention ClickHouse backend on the analytics feature page
  docs/features/analytics/page.mdx
Due: none

fix(auth): preserve session cookie when clearing mfa_session after verify
  crates/temps-auth/src/auth_service.rs
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): note MFA session cookie clobber fix
  CHANGELOG.md
Due: changelog-format

test(observability): add hide_bots: None to EventFilters constructors in merge_integration tests
  crates/temps-observability/tests/merge_integration.rs
Due: cargo-fmt, cargo-clippy

fix(ci): set automatic_deploy=true in E2E project creation
  .github/workflows/e2e-tests.yml
Due: none

fix(deployments): always trigger initial deployment for new environments
  crates/temps-deployments/src/services/job_processor.rs
Due: cargo-fmt, cargo-clippy

fix(ci): wait for deployment 'completed' state before verifying app
  .github/workflows/e2e-tests.yml
  scripts/test-e2e-polling-locally.sh
Due: none

fix(sandbox): bake safe.directory into image and surface chown failures
  crates/temps-agents/src/sandbox/docker.rs
Due: cargo-fmt, cargo-clippy

docs(changelog): add entry for sandbox safe.directory + run_root_exec fix
  CHANGELOG.md
Due: changelog-format

fix(workspace): chown bind-mount work_dir to sandbox uid on the host
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/sandbox/mod.rs
  crates/temps-agents/src/sandbox/user.rs
  crates/temps-workspace/src/services/message_executor.rs
Due: cargo-fmt, cargo-clippy

feat(auth): add CLI device-authorization (browser) login flow
  apps/temps-cli/src/commands/auth/index.ts
  apps/temps-cli/src/commands/auth/login.ts
  crates/temps-auth/src/cli_device_handler.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/lib.rs
  crates/temps-entities/src/cli_login_sessions.rs
  crates/temps-entities/src/lib.rs
  crates/temps-migrations/src/migration/m20260511_000001_create_cli_login_sessions.rs
  crates/temps-migrations/src/migration/mod.rs
  web/src/App.tsx
  web/src/pages/CliLogin.tsx
Due: cargo-fmt, cargo-clippy

docs(auth): changelog entry and how-to for CLI device-login flow
  CHANGELOG.md
  docs/howto/cli-login/page.mdx
  docs/reference/cli-getting-started/page.mdx
Due: changelog-format

refactor(auth): remove legacy CLI login paths; browser flow is the only interactive path
  CHANGELOG.md
  apps/temps-cli/src/commands/auth/index.ts
  apps/temps-cli/src/commands/auth/login.ts
  apps/temps-cli/src/config/contexts.ts
  crates/temps-auth/src/cli_auth_handler.rs
  crates/temps-auth/src/cli_device_handler.rs
  crates/temps-auth/src/handlers.rs
  docs/howto/cli-login/page.mdx
  docs/reference/cli/page.mdx
Due: changelog-format, cargo-fmt, cargo-clippy

feat(agents): editable secrets UI, sandbox chown hardening, higher turn caps
  crates/temps-agents/src/ai_cli/claude.rs
  crates/temps-agents/src/handlers/workflows.rs
  crates/temps-agents/src/plugin.rs
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/services/executor.rs
  web/src/components/agents/ProjectSecrets.tsx
Due: cargo-fmt, cargo-clippy

docs(changelog): document agent-secrets edit, sandbox chown, max_turns bump
  CHANGELOG.md
Due: changelog-format

fix(sandbox): add SETUID/SETGID/DAC_OVERRIDE caps + env-var secrets feature
  .gitignore
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-deployments/src/services/mod.rs
  crates/temps-deployments/src/services/sensitive_envelope.rs
  crates/temps-deployments/src/services/workflow_execution_service.rs
  crates/temps-deployments/src/services/workflow_planner.rs
  crates/temps-entities/src/env_vars.rs
  crates/temps-environments/src/handlers/handler.rs
  crates/temps-environments/src/handlers/types.rs
  crates/temps-environments/src/services/env_var_service.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-environments/src/services/types.rs
  crates/temps-migrations/src/migration/m20260511_000002_add_is_secret_to_env_vars.rs
  crates/temps-migrations/src/migration/mod.rs
  crates/temps-notifications/src/handlers.rs
  crates/temps-projects/src/services/env_vars.rs
  web/src/api/client/types.gen.ts
  web/src/components/monitoring/ProviderForm.tsx
  web/src/components/monitoring/ProvidersManagement.tsx
  web/src/components/project/settings/EnvironmentVariablesSettings.tsx
  web/src/components/project/settings/environments/EnvironmentDetail.tsx
  web/src/pages/AddNotificationProvider.tsx
  web/src/pages/EditNotificationProvider.tsx
Due: cargo-fmt, cargo-clippy

Add required extra Docker network attachments
  crates/temps-config/src/service.rs
  crates/temps-deployer/README.md
  crates/temps-deployer/src/docker.rs
  crates/temps-deployer/src/lib.rs
  crates/temps-deployer/src/plugin.rs
  crates/temps-deployer/src/remote.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/jobs/deploy_image.rs
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-email/src/services/email_service.rs
  crates/temps-email/src/services/tracking_service_integration_tests.rs
  crates/temps-status-page/src/tests.rs
  docs/reference/environment-variables/page.mdx
Due: cargo-fmt, cargo-clippy

feat(analytics): "view all" dimension pages + date filter propagation
  web/src/components/analytics/DimensionList.tsx
  web/src/components/analytics/EventDetail.tsx
  web/src/components/analytics/overview/BrowsersChart.tsx
  web/src/components/analytics/overview/ChannelsChart.tsx
  web/src/components/analytics/overview/DevicesChart.tsx
  web/src/components/analytics/overview/LanguagesChart.tsx
  web/src/components/analytics/overview/LocationsChart.tsx
  web/src/components/analytics/overview/OperatingSystemChart.tsx
  web/src/components/analytics/overview/ReferrersChart.tsx
  web/src/components/analytics/overview/UTMCampaignsChart.tsx
  web/src/components/analytics/overview/viewAllUrl.ts
  web/src/components/project/ProjectAnalytics.tsx
Due: none

docs(changelog): add entry for analytics view-all + date propagation
  CHANGELOG.md
Due: changelog-format

feat(workspace): proactive deployment-token refresher
  crates/temps-workspace/src/plugin.rs
  crates/temps-workspace/src/services/mod.rs
  crates/temps-workspace/src/services/token_refresher.rs
Due: cargo-fmt, cargo-clippy

Address required network review feedback
  crates/temps-deployer/src/docker.rs
Due: cargo-fmt, cargo-clippy

fix(deployments): deploy pipeline must not reuse short-lived tokens
  crates/temps-auth/src/middleware.rs
  crates/temps-deployments/src/services/deployment_token_service.rs
Due: cargo-fmt, cargo-clippy

feat(analytics,runtime,env): view-all dimensions, sticky runtime tabs, cleanup env settings
  CHANGELOG.md
  apps/temps-cli/package.json
  crates/temps-analytics/src/analytics.rs
  crates/temps-analytics/src/handler.rs
  crates/temps-analytics/src/traits.rs
  crates/temps-analytics/src/types/requests.rs
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/analytics/DimensionList.tsx
  web/src/components/analytics/SegmentVisitors.tsx
  web/src/components/project/ProjectAnalytics.tsx
  web/src/components/project/ProjectRuntime.tsx
  web/src/components/project/settings/environments/EnvironmentDetail.tsx
  web/src/components/runtime-logs/log-viewer.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

fix(deps): bump mongodb to 3.7.0 (drops vulnerable hickory 0.25)
  Cargo.lock
  crates/temps-providers/Cargo.toml
  crates/temps-query-mongodb/Cargo.toml
Due: none

fix(auth): add oidc_subject + oidc_provider_id to test users::Model literals
  crates/temps-analytics-events/src/handlers/events_handler.rs
  crates/temps-auth/src/handlers.rs
  crates/temps-auth/src/oidc_handler.rs
  crates/temps-auth/src/oidc_service.rs
  crates/temps-auth/src/oidc_types.rs
  crates/temps-auth/tests/context_tests.rs
  crates/temps-core/src/plugin.rs
  crates/temps-deployments/src/handlers/deployments.rs
  crates/temps-email/src/handlers/tracking_tests.rs
  crates/temps-log-aggregator/src/handlers/log_handler.rs
  crates/temps-migrations/src/migration/m20260522_000001_oidc_sso.rs
  crates/temps-migrations/src/migration/m20260522_000002_oidc_role_mappings.rs
Due: cargo-fmt, cargo-clippy

fix(entities): collapse nested if in oidc_providers before_save
  crates/temps-entities/src/oidc_providers.rs
Due: cargo-fmt, cargo-clippy

fix(oidc): address high-severity review findings (H1-H4)
  crates/temps-auth/src/oidc_handler.rs
  crates/temps-auth/src/oidc_service.rs
Due: cargo-fmt, cargo-clippy

fix(oidc): make Auth0 + Google end-to-end work, plus admin gate / agents UI
  Cargo.lock
  Cargo.toml
  crates/temps-agents/src/services/executor.rs
  crates/temps-auth/src/oidc_errors.rs
  crates/temps-auth/src/oidc_handler.rs
  crates/temps-auth/src/oidc_service.rs
  crates/temps-auth/src/oidc_types.rs
  crates/temps-auth/tests/oidc_discovery_live.rs
  crates/temps-cli/src/commands/proxy.rs
  crates/temps-cli/src/commands/serve/admin_gate.rs
  crates/temps-cli/src/commands/serve/admin_gate_handler.rs
  crates/temps-cli/src/commands/serve/admin_gate_service.rs
  crates/temps-cli/src/commands/serve/console.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-cli/src/commands/serve/proxy.rs
  crates/temps-core/Cargo.toml
  crates/temps-core/src/admin_gate.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/plugin.rs
  crates/temps-core/src/repo_config.rs
  crates/temps-deployments/src/jobs/configure_agents.rs
  crates/temps-proxy/src/proxy.rs
  crates/temps-proxy/src/server.rs
  web/src/App.tsx
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/sdk.gen.ts
  web/src/api/client/types.gen.ts
  web/src/components/agents/AgentDetailPage.tsx
  web/src/components/agents/AgentEditPage.tsx
  web/src/components/agents/AgentSettingsDialog.tsx
  web/src/components/agents/AutopilotPage.tsx
  web/src/components/settings/AdminGateCard.tsx
  web/src/components/settings/OidcProviderForm.tsx
  web/src/components/settings/oidc-provider-constants.ts
  web/src/pages/ProjectDetail.tsx
  web/src/pages/settings/AuthSettingsPage.tsx
  web/src/pages/settings/CreateOidcProviderPage.tsx
  web/src/pages/settings/OidcProviderDetailPage.tsx
  web/src/pages/settings/SecurityPage.tsx
Due: cargo-fmt, cargo-clippy

Path conditions:
  changelog-format: any of: ^CHANGELOG\.md$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
