Repository gotempsh/temps: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  # Conventional Commits linter
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: changelog-format
        name: validate changelog format
        entry: python3 scripts/hooks/validate-changelog.py
        language: system
        files: ^CHANGELOG\.md$
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

      - id: cargo-clippy
        name: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy --all-targets --all-features -- -D warnings

feat(delivery): collapse environment overrides
  web/e2e/authenticated/project-delivery-environments.spec.ts
  web/src/components/domains/ProjectDeliverySettings.tsx
Due: none

feat(dns): integrate Bunny DNS with guided setup
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/sdk.gen.ts
  apps/temps-cli/src/api/types.gen.ts
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/lib.rs
  crates/temps-dns/src/providers/bunny.rs
  crates/temps-dns/src/providers/credentials.rs
  crates/temps-dns/src/providers/mod.rs
  crates/temps-dns/src/providers/traits.rs
  crates/temps-dns/src/services/provider_service.rs
  docs/domain-delivery-setup.md
  web/e2e/authenticated/bunny-dns.spec.ts
  web/src/api/client/types.gen.ts
  web/src/components/domains/DomainDeliverySetup.tsx
  web/src/components/domains/ProjectDeliverySettings.tsx
  web/src/components/icons/DnsProviderIcons-components.tsx
  web/src/components/icons/DnsProviderIcons-shared.tsx
  web/src/components/icons/DnsProviderIcons.ts
  web/src/components/providers/ThemeProvider.tsx
  web/src/pages/AddDnsProvider.tsx
  web/src/pages/DeliveryProfiles.tsx
  web/src/pages/DnsProviderDetail.tsx
  web/src/pages/DnsProviders.tsx
Due: cargo-fmt, cargo-clippy

fix(sandbox): report unconfirmed containers on eviction and harden worker paths
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/commands/sandbox/index.ts
  crates/temps-agent/src/sandbox_handlers.rs
  crates/temps-core/src/sensitive_action.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/handlers/mod.rs
  crates/temps-sandbox/src/handlers/placement.rs
  crates/temps-sandbox/src/plugin.rs
  crates/temps-sandbox/src/services/expiration_sweeper.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  crates/temps-sandbox/src/services/snapshot_service.rs
  docs/adr/048-multi-node-sandboxes.md
  skills/temps-cli/references/COMMANDS.md
  skills/temps/references/commands/sandbox.md
  web/src/api/client/index.ts
  web/src/api/client/types.gen.ts
  web/src/components/nodes/NodeSandboxesPanel.tsx
Due: cargo-fmt, cargo-clippy

fix(error-tracking): decode pgvector distance as f64 and embed the same text for lookup and grouping
  crates/temps-error-tracking/src/services/error_ingestion_service.rs
  crates/temps-error-tracking/src/services/error_ingestion_tests.rs
Due: cargo-fmt, cargo-clippy

fix(auth): give CLI device polling its own rate limit budget
  crates/temps-auth/src/cli_device_handler.rs
  crates/temps-auth/src/handlers.rs
Due: cargo-fmt, cargo-clippy

fix(cli): back off on 429 and slow_down while polling for device login
  apps/temps-cli/src/commands/auth/login.test.ts
  apps/temps-cli/src/commands/auth/login.ts
Due: none

fix(otel): serve OTLP ingest on the public listener
  crates/temps-otel/src/handlers/mod.rs
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/tests/e2e_http_test.rs
  docs/howto/admin-listener/page.mdx
Due: cargo-fmt, cargo-clippy

fix(otel): honour observability_retention for ClickHouse spans, metrics and proxy logs
  crates/temps-cli/src/commands/proxy.rs
  crates/temps-cli/src/commands/serve/mod.rs
  crates/temps-config/src/lib.rs
  crates/temps-config/src/retention.rs
  crates/temps-core/src/lib.rs
  crates/temps-core/src/retention.rs
  crates/temps-otel/migrations/clickhouse/0009_metrics_retention_days.sql
  crates/temps-otel/src/plugin.rs
  crates/temps-otel/src/storage/clickhouse/migrations.rs
  crates/temps-otel/src/storage/clickhouse/mod.rs
  crates/temps-otel/src/storage/timescaledb.rs
  crates/temps-otel/tests/clickhouse_storage_test.rs
  crates/temps-otel/tests/timescaledb_storage_test.rs
  web/src/pages/settings/MonitoringSettingsPage.tsx
Due: cargo-fmt, cargo-clippy

fix(geo): stop logging errors for private-network client addresses
  crates/temps-geo/src/geoip_service.rs
  crates/temps-geo/src/handlers.rs
  crates/temps-geo/src/ip_address_service.rs
Due: cargo-fmt, cargo-clippy

fix(analytics-sdk): accept any 2xx from session-replay init and report failures once
  sdks/node/packages/analytics-core/src/SessionRecorder.ingest.test.ts
  sdks/node/packages/analytics-core/src/SessionRecorder.ts
  sdks/node/packages/analytics-core/src/types.ts
Due: none

fix(react-analytics): forward the whole sessionRecordingConfig to the recorder
  sdks/node/packages/react-analytics/src/Provider.tsx
  sdks/node/packages/react-analytics/src/SessionRecorder.tsx
  sdks/node/packages/react-analytics/src/__tests__/Provider.sessionRecordingConfig.test.tsx
  sdks/node/packages/react-analytics/src/index.ts
  sdks/node/packages/react-analytics/src/types.ts
Due: none

docs(analytics-sdk): correct session replay defaults and document path exclusions
  docs/reference/react-analytics-sdk/page.mdx
  sdks/node/packages/react-analytics/README.md
  skills/add-react-analytics/references/SESSION_RECORDING.md
Due: none

fix(tests): repair onboarding e2e and image deployment fixtures
  crates/temps-deployments/src/services/services.rs
  web/e2e/anonymous/environment-variable-table.spec.ts
  web/e2e/anonymous/project-creation-environment.spec.ts
  web/e2e/authenticated/project-create.spec.ts
Due: cargo-fmt, cargo-clippy

fix(domains): prioritize domains over CDN settings
  DESIGN.md
  web/e2e/authenticated/bunny-dns.spec.ts
  web/src/components/project/settings/DomainsSettings.tsx
Due: none

fix(sandbox): keep sandboxes on unreachable workers and bound eviction on frozen nodes
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/commands/sandbox/index.ts
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/handlers/placement.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/services/expiration_sweeper.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  docs/adr/048-multi-node-sandboxes.md
  web/src/api/client/types.gen.ts
  web/src/components/nodes/NodeSandboxesPanel.tsx
Due: cargo-fmt, cargo-clippy

fix(analytics-sdk): keep sending when storage or sendBeacon fail
  sdks/node/packages/analytics-core/src/SessionRecorder.ingest.test.ts
  sdks/node/packages/analytics-core/src/SessionRecorder.ts
  sdks/node/packages/analytics-core/src/identity.test.ts
  sdks/node/packages/analytics-core/src/identity.ts
  sdks/node/packages/analytics-core/src/ingest-key.test.ts
  sdks/node/packages/analytics-core/src/utils.ts
Due: none

fix(react-analytics): tolerate blocked storage and repair tests and lint
  sdks/node/packages/react-analytics/eslint.config.mjs
  sdks/node/packages/react-analytics/src/Provider.tsx
  sdks/node/packages/react-analytics/src/__tests__/Provider.sessionRecordingConfig.test.tsx
  sdks/node/packages/react-analytics/src/__tests__/SessionRecorder.test.tsx
  sdks/node/packages/react-analytics/src/__tests__/setup.ts
  sdks/node/packages/react-analytics/src/__tests__/useSessionRecording.test.tsx
  sdks/node/packages/react-analytics/src/__tests__/useTrackEvent.test.tsx
  sdks/node/packages/react-analytics/src/__tests__/utils.test.ts
  sdks/node/packages/react-analytics/src/useAnalytics.ts
  sdks/node/packages/react-analytics/src/useEngagementTracking.ts
  sdks/node/packages/react-analytics/src/usePageLeave.ts
  sdks/node/packages/react-analytics/src/useScrollVisibility.ts
  sdks/node/packages/react-analytics/src/useSessionRecording.tsx
  sdks/node/packages/react-analytics/src/useSpeedAnalytics.ts
  sdks/node/packages/react-analytics/src/useTrackEvent.ts
  sdks/node/packages/react-analytics/src/useTrackPageview.ts
Due: none

fix(web): restore ESLint and fix the errors it had been hiding
  web/bun.lock
  web/package.json
  web/src/components/project/settings/ComposeSecuritySettings.tsx
  web/src/components/project/settings/GitSettings.tsx
  web/src/pages/Alarms.tsx
  web/src/pages/GitConnectionDetail.tsx
Due: none

fix(delivery): address PR review findings and add CLI parity
  CHANGELOG.md
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/types.gen.ts
  apps/temps-cli/src/cli.ts
  apps/temps-cli/src/commands/delivery-profiles/index.test.ts
  apps/temps-cli/src/commands/delivery-profiles/index.ts
  apps/temps-cli/src/commands/delivery/index.test.ts
  apps/temps-cli/src/commands/delivery/index.ts
  apps/temps-cli/src/commands/dns-providers/index.test.ts
  apps/temps-cli/src/commands/dns-providers/index.ts
  apps/temps-cli/src/commands/dns/index.test.ts
  apps/temps-cli/src/commands/dns/index.ts
  apps/temps-cli/src/commands/dns/records.test.ts
  apps/temps-cli/src/commands/dns/records.ts
  apps/temps-cli/src/commands/projects/cloudflare-capability.test.ts
  apps/temps-cli/src/commands/projects/cloudflare-capability.ts
  apps/temps-cli/src/commands/projects/create.ts
  apps/temps-cli/src/commands/projects/index.ts
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/providers/bunny.rs
  crates/temps-dns/src/services/domain_delivery.rs
  crates/temps-environments/src/services/environment_service.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-projects/src/handlers/types.rs
  crates/temps-projects/src/services/project.rs
  crates/temps-projects/src/services/types.rs
  skills/temps-cli/references/COMMANDS.md
  skills/temps/references/commands/INDEX.md
  skills/temps/references/commands/delivery-profiles.md
  skills/temps/references/commands/delivery.md
  skills/temps/references/commands/dns-provider.md
  skills/temps/references/commands/dns.md
  skills/temps/references/commands/projects.md
  web/e2e/authenticated/project-delivery-environments.spec.ts
  web/src/api/client/types.gen.ts
  web/src/components/domains/DomainDeliverySetup.tsx
  web/src/components/domains/ProjectDeliverySettings.tsx
  web/src/components/project/settings/DomainsSettings.tsx
Due: changelog-format, cargo-fmt, cargo-clippy

test(delivery): open collapsed DNS and CDN settings in environment specs
  web/e2e/authenticated/project-delivery-environments.spec.ts
Due: none

test(e2e): cover sandboxes on worker nodes in the multinode scenario
  apps/temps-e2e/README.md
  apps/temps-e2e/src/commands/multinode-join-scenario.ts
  apps/temps-e2e/src/commands/multinode-sandbox-phases.ts
  apps/temps-e2e/src/index.ts
  apps/temps-e2e/src/lib/sandbox-api.test.ts
  apps/temps-e2e/src/lib/sandbox-api.ts
Due: none

fix(sandbox): align console, CLI and SDK with multi-node sandbox conventions
  apps/temps-cli/src/commands/sandbox/index.ts
  apps/temps-cli/src/commands/sandbox/placement-commands.test.ts
  docs/features/multi-node/page.mdx
  sdks/node/packages/sandbox/README.md
  sdks/node/packages/sandbox/src/__tests__/client.test.ts
  sdks/node/packages/sandbox/src/client.ts
  sdks/node/packages/sandbox/src/types.ts
  web/src/components/nodes/NodeSandboxesPanel.test.tsx
  web/src/components/nodes/NodeSandboxesPanel.tsx
  web/src/components/nodes/node-eviction.ts
  web/src/components/sandboxes/CreateSandboxDocs.test.ts
  web/src/components/sandboxes/CreateSandboxDocs.tsx
  web/src/components/sandboxes/SandboxNode.tsx
  web/src/components/sandboxes/SandboxNodesCard.test.tsx
  web/src/components/sandboxes/SandboxNodesCard.tsx
  web/src/components/sandboxes/sandbox-placement.ts
  web/src/pages/SandboxDetail.tsx
  web/src/pages/Sandboxes.tsx
  web/src/pages/settings/NodesPage.tsx
Due: none

fix(sandbox): harden the worker sandbox host API
  crates/temps-agent/src/handlers.rs
  crates/temps-agent/src/sandbox_handlers.rs
  crates/temps-agent/src/server.rs
  crates/temps-agents/src/error.rs
  crates/temps-agents/src/handlers/config.rs
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/sandbox/mod.rs
  crates/temps-agents/src/sandbox/remote.rs
  crates/temps-agents/src/sandbox/routing.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/handlers/terminal.rs
Due: cargo-fmt, cargo-clippy

fix(sandbox): close eviction races and harden worker placement
  crates/temps-agents/src/sandbox/node_routing.rs
  crates/temps-cli/src/commands/node.rs
  crates/temps-config/src/service.rs
  crates/temps-deployments/src/handlers/nodes.rs
  crates/temps-deployments/src/services/node_service.rs
  crates/temps-proxy/src/preview_auth.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/handlers/mod.rs
  crates/temps-sandbox/src/handlers/placement.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/plugin.rs
  crates/temps-sandbox/src/services/expiration_sweeper.rs
  crates/temps-sandbox/src/services/mod.rs
  crates/temps-sandbox/src/services/placement.rs
  crates/temps-sandbox/src/services/registry.rs
  crates/temps-sandbox/src/services/row_status.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  crates/temps-sandbox/src/services/snapshot_service.rs
Due: cargo-fmt, cargo-clippy

fix(web): bump brace-expansion override to ^5.0.11 for high-severity advisories
  web/bun.lock
  web/package.json
Due: none

fix(web): patch dompurify and fflate advisories
  web/bun.lock
  web/package.json
Due: none

fix(sandbox): share one node resolver and keep provider error meanings
  crates/temps-agent/src/sandbox_handlers.rs
  crates/temps-agents/src/error.rs
  crates/temps-agents/src/plugin.rs
  crates/temps-agents/src/sandbox/docker.rs
  crates/temps-agents/src/sandbox/node_routing.rs
  crates/temps-agents/src/sandbox/remote.rs
  crates/temps-agents/src/services/sandbox_registry.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/plugin.rs
  crates/temps-sandbox/src/services/fs.rs
  crates/temps-sandbox/src/services/registry.rs
  docs/adr/048-multi-node-sandboxes.md
Due: cargo-fmt, cargo-clippy

build(api): regenerate the OpenAPI spec, API clients and CLI docs
  apps/temps-cli/docs/CLI.md
  apps/temps-cli/docs/CLI.mdx
  apps/temps-cli/openapi.json
  apps/temps-cli/src/api/index.ts
  apps/temps-cli/src/api/types.gen.ts
  web/src/api/client/@tanstack/react-query.gen.ts
  web/src/api/client/index.ts
  web/src/api/client/types.gen.ts
Due: none

fix(clippy): address Rust 1.99 lints
  crates/temps-ai-agent-cli/src/model_relay.rs
  crates/temps-ai-agent-cli/src/service.rs
  crates/temps-cloud/src/backup_mirror.rs
  crates/temps-deployments/src/handlers/remote_deployments.rs
  crates/temps-external-plugins/src/channel.rs
  crates/temps-external-plugins/src/manager.rs
  crates/temps-projects/src/handlers/handlers.rs
  crates/temps-sandbox/src/services/registry.rs
Due: cargo-fmt, cargo-clippy

fix(sandbox): close the eviction cordon gap and keep worker conflicts intact
  apps/temps-cli/src/commands/sandbox/index.ts
  apps/temps-cli/src/commands/sandbox/placement-commands.test.ts
  crates/temps-agent/src/sandbox_handlers.rs
  crates/temps-agents/src/error.rs
  crates/temps-agents/src/handlers/config.rs
  crates/temps-agents/src/sandbox/remote.rs
  crates/temps-sandbox/src/error.rs
  crates/temps-sandbox/src/handlers/sandboxes.rs
  crates/temps-sandbox/src/services/sandbox_service.rs
  web/src/components/nodes/NodeSandboxesPanel.test.tsx
  web/src/components/nodes/node-eviction.ts
Due: cargo-fmt, cargo-clippy

test(e2e): tolerate a cold sandbox image on the multinode worker
  apps/temps-e2e/src/commands/multinode-sandbox-phases.ts
  apps/temps-e2e/src/lib/sandbox-api.test.ts
  apps/temps-e2e/src/lib/sandbox-api.ts
Due: none

fix(sandbox): keep worker paths out of errors and unify the https check
  crates/temps-agent/src/sandbox_handlers.rs
  crates/temps-agent/src/server.rs
  crates/temps-agents/src/sandbox/node_routing.rs
  crates/temps-deployments/src/cluster_ca.rs
  docs/adr/048-multi-node-sandboxes.md
Due: cargo-fmt, cargo-clippy

fix(presets): honor pnpm configuration and detect pnpm in React App
  crates/temps-presets/src/docusaurus.rs
  crates/temps-presets/src/lib.rs
  crates/temps-presets/src/mod.rs
  crates/temps-presets/src/nextjs.rs
  crates/temps-presets/src/providers/node/node_base.rs
  crates/temps-presets/src/react_app.rs
  crates/temps-presets/src/rsbuild.rs
  crates/temps-presets/src/vite.rs
Due: cargo-fmt, cargo-clippy

fix(presets): enforce the pnpm lockfile in React App and run the pnpm Docker test without buildx
  crates/temps-presets/src/lib.rs
  crates/temps-presets/src/react_app.rs
Due: cargo-fmt, cargo-clippy

fix(presets): do not follow symlinks when scanning a repository
  crates/temps-presets/src/providers/app.rs
  crates/temps-presets/src/source.rs
Due: cargo-fmt, cargo-clippy

fix(agents): audit preview gateway settings changes
  crates/temps-agents/src/handlers/preview_gateway.rs
Due: cargo-fmt, cargo-clippy

fix(proxy): issue proxied origin certificates for the exact hostname
  crates/temps-proxy/src/tls_cert_loader.rs
Due: cargo-fmt, cargo-clippy

fix(dns): close ownership-guard gaps in managed records and delivery
  crates/temps-dns/src/errors.rs
  crates/temps-dns/src/handlers/domain_delivery.rs
  crates/temps-dns/src/handlers/managed_records.rs
  crates/temps-dns/src/handlers/mod.rs
  crates/temps-dns/src/providers/bunny.rs
  crates/temps-dns/src/providers/cloudflare.rs
  crates/temps-dns/src/providers/gcp.rs
  crates/temps-dns/src/providers/namecheap.rs
  crates/temps-dns/src/providers/route53.rs
  crates/temps-dns/src/providers/traits.rs
  crates/temps-dns/src/services/domain_delivery.rs
  crates/temps-dns/src/services/hostname_sync.rs
  crates/temps-dns/src/services/managed_records.rs
  crates/temps-dns/src/services/provider_service.rs
  crates/temps-dns/tests/domain_delivery_integration.rs
  crates/temps-dns/tests/governance_router_test.rs
  crates/temps-migrations/src/migration/m20260714_000001_create_domain_delivery.rs
Due: cargo-fmt, cargo-clippy

feat(cli): read DNS provider secrets from stdin
  apps/temps-cli/src/commands/dns-providers/index.test.ts
  apps/temps-cli/src/commands/dns-providers/index.ts
  apps/temps-cli/src/commands/dns/index.test.ts
  apps/temps-cli/src/commands/dns/index.ts
  skills/temps-cli/references/COMMANDS.md
  skills/temps/references/commands/dns-provider.md
  skills/temps/references/commands/dns.md
  web/src/components/platform/platform-tools.ts
Due: none
